<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="text-decoration: none;">
                    Overview
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="#" style="text-decoration: none;">
                    POS - List
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                POS - Terminal Details
            </li>
        </ol>
    </nav>
    <a mat-button style="cursor: pointer;">
        <i data-feather="alert-circle" class="alert-circle"></i>
        <span class="px-2" style="color: #0d6efd">
            Page Tips
        </span>
    </a>
</div>



<div id="accordion">
    <div class="card shadow-none gredientBorderCol">
        <div class="card-header pb-0 bd-b-0" id="headingOne">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl">
                            <img src="../../../../../assets/images/profile.jpeg" class="rounded-circle bd bd-2 " alt="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2 poshead">
                                {{TerminalData.terminalID||'--'}}
                                <span class="badge badge-primary mg-l-5 posheadsub">
                                    {{TerminalData.type ||'--'}}
                                </span>
                            </h6>
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                <span class="text-secondary poslocation">
                                    <i data-feather="map-pin" class="map-pin"></i> &nbsp;
                                    Trebet superstores, Lekki
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body pt-0 pb-0">
            <div class="row">
                <div class="col-lg-12 col-lg-12 pd-y-10">
                    <div class="row justify-content-center">
                        <div class="col-5 bd-r">
                            <ul class="list-unstyled profile-info-list">
                                <li class="tx-color-03">
                                    <label for="">Serial No</label>
                                    <span class="tx-color-03">
                                        <span class="text-primary mg-x-40">
                                            {{TerminalData.serialNumber || '--'}}
                                        </span>
                                    </span>
                                </li>
                                <li class="tx-color-03">
                                    <div class="">
                                        <label for="">Bank</label>
                                        <span class="tx-color-03 Word-break text-primary mg-x-70">
                                            <img src="../../../../../assets/icons/store-icon.png" alt=""
                                                style="height: 20px;width: 20px;">
                                                {{TerminalData.issuerBank || '--'}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <ul class="list-unstyled profile-info-list">
                                <li class="tx-color-03">
                                    <label for="">Support Conatct</label>
                                    <span class="tx-color-03">
                                        <span class="text-danger mg-x-70">
                                            {{TerminalData.ContactNumber || '--'}}
                                        </span>
                                    </span>
                                </li>
                                <li class="tx-color-03">
                                    <div class="">
                                        <label for="">Support Email</label>
                                        <span class="tx-color-03 Word-break text-danger mg-x-90">
                                            {{TerminalData.EmailId || '--'}}
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="card mt-3">
    <div class="card-body">
        <div>
            <mat-tab-group>
                <mat-tab label="Overview">
                    <div class=" bd-t-0 px-3 pb-3 pt-0 mt-3">

                        <div class="row row-xs">

                            <div class="col-sm-6 col-lg-3 ">
                                <div class="card card-body shadow-none ht-100p">
                                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 ovhead">
                                            598
                                        </h3>
                                    </div>
                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 ovlabel">
                                        Number Of Transactions
                                    </h6>
                                    <p class="tx-12 tx-color-03 mg-b-0 ovcaption">Total number of transactions done by
                                        this terminal POS
                                        <b class="tx-dark">1235</b> transactions
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 ">
                                <div class="card card-body shadow-none ht-100p">
                                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 ovhead">
                                            N56,781,278
                                        </h3>
                                    </div>
                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 ovlabel">
                                        SALE AMOUNT
                                    </h6>
                                    <p class="tx-12 tx-color-03 mg-b-0 ovcaption">Total Sale amount generated by this
                                        POS Terminal
                                        <b class="tx-dark">1235</b> transactions
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 ">
                                <div class="card card-body shadow-none ht-100p">
                                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 ovhead">
                                            6
                                        </h3>
                                    </div>
                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 ovlabel">
                                        NON-TRANSACTION DAYS
                                    </h6>
                                    <p class="tx-12 tx-color-03 mg-b-0 ovcaption">Total number of non-transactional days
                                        <b class="tx-dark">1235</b> transactions
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 ">
                                <div class="card card-body shadow-none ht-100p">
                                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 ovhead">
                                            N67,456
                                        </h3>
                                    </div>
                                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8 ovlabel">
                                        AVG. TRANSACTION AMOUNT
                                    </h6>
                                    <p class="tx-12 tx-color-03 mg-b-0 ovcaption">Total number of non-transactional days
                                        <b class="tx-dark">1235</b> transactions
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="row row-xs mg-t-10">


                            <div class="col-lg-8 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0">
                                <div class="card ht-100p">
                                    <div
                                        class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between bg-white">

                                        <h5 class="mg-b-5 tx-14 tx-bold">
                                            Sale Activity By POS
                                            <br>
                                            <p class="tx-12 tx-normal  tx-color-03 mg-b-0">
                                                Showing the card Sale activities of POS terminal, which will also
                                                represents active duration of same
                                            </p>
                                        </h5>

                                    </div>
                                    <div class="PosAlert">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions">
                                        </highcharts-chart>
                                    </div>
                                    <div class="card-footer pd-20 bg-white">
                                        <div class="row">
                                            <div class="col-5">
                                                <p class="tx-21 tx-uppercase tx-medium  tx-spacing-1 tx-nowrap mg-b-5">
                                                    N56,781,278
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <h5 class="tx-bold tx-rubik text-secondary mg-b-0">
                                                        Total Sale Amount
                                                        <br>
                                                        <small class="tx-color-04 tx-11">
                                                            Total no. of transactions done in this period by POS
                                                            terminal
                                                        </small>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <p class="tx-21 tx-uppercase tx-medium  tx-spacing-1 mg-b-5">
                                                    6
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <h5 class="tx-bold tx-rubik tx-MasterCard mg-b-0">
                                                        ZERO SALE DAYS
                                                        <br>
                                                        <small class="tx-color-04 tx-11">
                                                            Days when POS terminal was done no transaction
                                                        </small>

                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0" >
                                <div class="card ht-100p">
                                    <div
                                        class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between ">
                                        <h5 class="mg-b-5 tx-14 tx-bold">POS Activity Highlights <br>
                                            <p class="tx-12 tx-normal  tx-color-03 mg-b-0">
                                                Recent Activity highlights of POS Terminal
                                            </p>
                                        </h5>
                                        <div class="d-flex align-items-center tx-18">
                                            <a class="link-03 lh-0 cursor-pointer ">
                                                <i data-feather="refresh-cw"
                                                    class="link-03 ion-md-refresh tx-color-03"></i>
                                            </a>
                                            <a class="link-03 lh-0 cursor-pointer ">
                                                <i data-feather="refresh-cw"
                                                    class="link-03 ion-md-refresh tx-color-03"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="PosAlert">
                                        <ul class="list-group list-group-flush tx-13">
                                            <li class="list-group-item d-flex pd-sm-x-20 cursor-pointer">

                                                <div class="pd-l-10">
                                                    <p class="tx-bold tx-14 mg-b-0 tx-alertpos text-success">In Active
                                                        State</p>
                                                    <small class="tx-11 tx-color-03 mg-b-0 text-dark">
                                                        From 16 April, 2020 10:11AM
                                                    </small>
                                                    <br>
                                                    <small class="tx-11 tx-color-03 mg-b-0 ">
                                                        <span class="tx-color-02 tx-medium text-secondary"> Contact
                                                            Store</span>
                                                        <small class="tx-11 tx-normal tx-teal mg-b-0 text-info"> +234
                                                            876 888999</small>
                                                    </small>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PosAlert">
                                        <ul class="list-group list-group-flush tx-13">
                                            <li class="list-group-item d-flex pd-sm-x-20 cursor-pointer">

                                                <div class="pd-l-10">
                                                    <p class="tx-bold tx-14 mg-b-0 tx-alertpos text-warning">Last Idle
                                                        State</p>
                                                    <small class="tx-11 tx-color-03 mg-b-0 text-dark">
                                                        From 17 April ,2020 12:00AM
                                                    </small>
                                                    <br>
                                                    <small class="tx-11 tx-color-03 mg-b-0 ">
                                                        <span class="tx-color-02 tx-medium text-secondary"> Activated
                                                            on</span>
                                                        <small class="tx-11 tx-normal tx-teal mg-b-0 text-success"> +18
                                                            April,2020 10:11AM</small>
                                                    </small>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PosAlert">
                                        <ul class="list-group list-group-flush tx-13">
                                            <li class="list-group-item d-flex pd-sm-x-20 cursor-pointer">

                                                <div class="pd-l-10">
                                                    <p class="tx-bold tx-14 mg-b-0 tx-alertpos text-warning">Last Idle
                                                        State</p>
                                                    <small class="tx-11 tx-color-03 mg-b-0 text-dark">
                                                        From 17 April ,2020 12:00AM
                                                    </small>
                                                    <br>
                                                    <small class="tx-11 tx-color-03 mg-b-0 ">
                                                        <span class="tx-color-02 tx-medium text-secondary"> Activated
                                                            on</span>
                                                        <small class="tx-11 tx-normal tx-teal mg-b-0 text-success"> +18
                                                            April,2020 10:11AM</small>
                                                    </small>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </mat-tab>
                <mat-tab label="Invoices">

                    <div class="card-header bg-white">
                        <div class="d-sm-flex ">
                            <div class="media ">
                                <div
                                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                    <i data-feather="shopping-cart"></i>
                                </div>
                                <div class="media-body bd-pink">
                                    <h6
                                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                        No Of Invoices
                                    </h6>
                                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                                        801232
                                    </h4>
                                </div>
                            </div>

                            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                                <div
                                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                                    <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
                                </div>
                                <div class="media-body">
                                    <h6
                                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                                        Amount
                                    </h6>
                                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                                        <span>₦</span>
                                        3,000,0000
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <app-reusables-filter></app-reusables-filter>

                    <div class="card-body px-0 pd-t-8">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>

                                    <th class="text-center">
                                        Status
                                    </th>
                                    <th class="tx-normal">
                                        Date
                                    </th>
                                    <th class="tx-normal">
                                        Customer
                                    </th>
                                    <th class="tx-normal">
                                        Invoice ID
                                    </th>
                                    <th class="">
                                        Cashier
                                    </th>

                                    <th class="tx-bold text-center">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer">
                                    <td class="text-center">
                                        <div>
                                            <span class="badge badge-success">{{TerminalData.status || '--'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tx-14 tx-bold">{{TerminalData.dateCreated | date:'shortDate' || '--'}}</div>
                                        <small class="tx-12 text-muted tx-uppercase">
                                            {{TerminalData.dateCreated | date:'shortTime' || '--'}}
                                        </small>
                                    </td>
                                    <td>


                                        <div class="tx-14 txbold text-primary">
                                            <a class="text-primary">{{TerminalData.merchantId || '--'}}</a>
                                        </div>
                                        <small class="tx-12 text-muted ">
                                            {{TerminalData.merchantName || '--'}}
                                        </small>

                                    </td>
                                    <td>
                                        <div>
                                            <span class="text-primary">
                                                {{TerminalData.serialNumber || '--'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="tx-14 tx-verve">
                                            {{TerminalData.issuerBank || '--'}}
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="text-muted">
                                            ₦ {{TerminalData.amount || '--'}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer pt-4 bg-white">
                        <span class="mr-3">
                            Showing
                            <span class="bold">1 to
                                5
                            </span>of 10
                        </span>
                        <span>
                            Show
                            <select class="wd-50">
                                <option>
                                    10
                                </option>
                            </select>
                        </span>
                        <span class="float-right">
                            <pagination-controls id="CampaignList_Paginator" class="pagination pagination-space"
                                nextLabel="" previousLabel="">
                            </pagination-controls>
                        </span>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>