.header-id{
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
}
.card-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFF;
    & span{
        padding-left: 1rem;
        padding-right: 1rem;
        & .btn{
            background-color: #0168FA34;
            color: #0168FA;
            font-size: 10px;
            border-radius: 4px;
        }
    }
}
.card-body{
    & .card-segment{
        border: 1px solid #CCC;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 0.75rem;
        & .search-input{
            background-color: #FFF;
            border-radius: 20px;
            border: 1px solid #CCC;
            width: 300px;
            display: flex;
            justify-content: space-between;
            padding: 0.25rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            & input{
                outline: none;
                border: 0;
                width: 100%;
                padding-left: 0.75rem;
            }
        }
        &  input.form-control{
            width: 300px;
            border-radius: 20px;
        }
        p{
            font-size: 12px;
            color: #5F6D88;
        }
        .user-info{
            color: #5F6D88;
            font-size: 14px;
        }
       
    }

    & .outline-bg-danger{
        background-color: #FFE8EA;
        color: #DC3545;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid lightcoral;
        & p{
            margin-bottom: 0;
        }
    }
}
.table-group{
    display: flex;
    align-items: center;
    & span{
        img{
            width: 50px;
            height: 50px;
        }
    }
    & .table-group-inner{
        display: flex;
        flex-direction: column;
    }
}
tr td{
    border-bottom: 1px solid #C0CCDA;
}

.user-card{
    border: 1px solid #CCC;
    margin-bottom: 1rem;
    & .user-card-segment{
        padding: 1rem;
        & .btn{
            background-color: #B1F8BC34;
            color: #20BA20;
            font-size: 10px;
            border-radius: 2px;
            padding-left: 0.25rem;
        }
        & .segment-list{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 0.25rem;
        } 
    }
    & .lower-segment{
        border-top: 1px solid #CCC;
        padding: 1rem;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
}

.bg-grey{
    background-color: #F5F6FA;
}