<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">

            <div class="left-panel">
                <div class="left-panel_wrapper_Login">

                    <div class="py-2 ">
                        <img class="img-fluid" src="assets/img/Signup/tycashLogo.png">
                    </div>
                     
                    <!-- step==1 -->
                    <div>
                        <div>
                            <h4 class="welcome-label">
                                Welcome back!
                            </h4>
                        </div>
                        <div class="labelcolor py-2">
                            Don't have an account?
                            <a class="text-primary decor cursor-pointer"
                            [routerLink]="['/auth/signup']">
                                Open Account
                            </a>
                        </div>

                        <form  [formGroup]="LoginForm">

                            <div class="mt-2 mb-2">
                                <div class="form-group" >
                                   
                                    <label for="username" class="headlabel">Email Address</label>
                                    <input type="email" class="form-control" id="username" required
                                        placeholder="Enter email address" autocomplete="off" formControlName="username">
                                        <div>
                                            <div class="text-danger tx-12  _600" for="username"
                                                *ngIf="LoginForm.controls['username'].hasError('required') && LoginForm.controls['username'].touched">
                                                Enter email address
                                            </div>
                                            <div class="text-danger tx-12 _600" for="username" *ngIf="LoginForm.controls['username'].hasError('minlength') || LoginForm.controls['username'].hasError('maxlength')
                                                || LoginForm.controls['username'].hasError('pattern')">
                                                Invalid email address
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="mt-2 mb-2">
                        
                                <div class="form-group">
                                    <label for="password" class="headlabel">  Password</label>
                                    <div class="input-group mb-3" [ngClass]="{'text-danger':!LoginForm.controls['password'].valid && LoginForm.controls['password'].touched}">
                                        <input class="form-control passowordcss"
                                            [type]="ShowPassword ? 'password' : 'text'" formControlName="password"
                                            placeholder="Enter password">
                                        <span class="pwd-viewer cursor-pointer" (click)="ToogleShowHidePassword()">
                                            <i-feather [name]="ShowPassword ? 'eye-off' : 'eye'"
                                                class="password-eye-icon"></i-feather>
                                        </span>
                                    </div>

                                    <div>
                                        <div class="text-danger tx-12  _600" for="password"
                                            *ngIf="LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].touched">
                                            Enter Password
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a class="forgot-pwd decor" [routerLink]="['/auth/forgotpassword']">Forgot Password</a>
                            </div>
                            
                            <div class="mt-2 mb-2">
                                <button type="submit" class="btn btn-primary btn-block mt-5" [disabled]="LoginForm.invalid"(click)="login(LoginForm.value)" >
                                    <span>
                                        Login
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-block gx-0">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active citem1" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card1.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Inventory Management
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With our inventory management tool, you can derive more value<br>
                                     from your customer data and maximize ROI on data-driven initiatives.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item citem2" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card2.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Business Dashboard
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    We show you what your customers buy and when they buy it. Keep <br> track of their
                                    spend and reward them accordingly and effectively.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item citem3" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card3.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Customer Database
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With the help of your collected data, you can identify trends and <br> behaviours
                                    that will create loyal customers.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

</div>