<table class="table table-hover mb-0">
    <!-- headers -->
    <thead>
        <tr>
            <ng-container *ngTemplateOutlet="headers || defaultHeaderTemplate; context: {$implicit: tableData}"></ng-container>
        </tr>
    </thead>
    <tbody>
        <!-- rows -->
        <tr *ngFor="let tableRow of tableData">
            <ng-container
              *ngTemplateOutlet="rows || defaultRowTemplate; context: {$implicit: tableRow}">

            </ng-container>
        </tr>
    </tbody>
</table>

<div class="table-footer">
    <div class="table-footer__inner">

        <span class="px-2">Showing 1 to 1 of 200</span> 
            
        <div class="dropdown px-2">
            Show
            <select class="customized-select" 
                >
            <option>
                10
            </option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <ng-container >
            <nav>
                <ul class="custom-nav">
                    <li class="mx-2" class="disabled">
                        <a>
                            <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                            <span>Previous</span>
                        </a>
                    </li>
                    <li class="nav-count activePage">
                        <a class="page-link" href="javascript:void(0)"
                            >1</a>
                    </li>
                    <li class="nav-count">
                        <a class="page-link" href="javascript:void(0)"
                            >2</a>
                    </li>
                    <li class="mx-2">
                        <a>
                            <span>Next</span>
                            <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
    </div>
</div>

<ng-template #defaultHeaderTemplate let-tableData>
    <th *ngFor="let header of tableData[0] | keyvalue">{{header.key}} </th>
</ng-template>
<ng-template #defaultRowTemplate let-tableRow>
    <td *ngFor="let row of tableRow | keyvalue">{{row.value}} </td>
</ng-template>