<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="text-decoration: none;">Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Return - Policy
            </li>
        </ol>
    </nav>
    <a mat-button (click)="openDialog()" style="cursor: pointer;">
        <i data-feather="alert-circle" class="alert-circle"></i>
        <span class="px-2" style="color: #0d6efd">
            Page Tips
        </span>
    </a>
</div>

<div class="card mb-5 ">


    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">All Return Policy
                    <span class="text-muted tx-normal">(5)</span></span>
                <button class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"> Add New
                </button>
            </div>
        </div>
    </div>

    <div class="card-header">
        <div class="d-sm-flex ">
            <input type="checkbox" id="selectall" name="selectall" value="Bike">
            <label for="selectall" class="selectall"> Select All</label>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead>

                <tr>

                    <th class="text-center">
                    </th>
                    <th class="tx-normal">
                        Policy Name
                    </th>

                    <th class="tx-normal">
                        Terms & Conditions
                    </th>
                    <th class="tx-normal">
                        Return Days
                    </th>
                    <th class="tx-normal">
                        Return Charges
                    </th>

                    <th class="tx-normal">
                        Actions
                    </th>

                </tr>

            </thead>

            <tbody>

                <tr class="cursor-pointer" *ngFor="let policies of (returnPolicies$ | async); index as i">
                    <td class="text-center"><input type="checkbox" name="" id=""></td>
                    <td>
                        <div> 
                            {{policies?.policyName}} </div>
                    </td>
                    <td>
                        <div class="">
                            <a class="text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                {{ policies?.charges }}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            {{ policies?.returnDays + ' Days' }}
                        </div>
                    </td>
                    <td>
                        <div>
                            N/A
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="text-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
                                Assign Category
                            </a>
                        </div>
                    </td>
                    <td>
                        <button class="btn top-btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>:</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li (click)="editAPolicy(policies)">
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addModal">
                                    <i data-feather="file"></i> &nbsp;
                                    Edit
                                </a>
                            </li>
                            <li (click)="setPolicyIdForApplication(policies)">
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <i data-feather="grid"></i> &nbsp;
                                    Apply To Products
                                </a>
                            </li>
                            <li (click)="deletePolicy(policies.policyId)">
                                <a class="dropdown-item">
                                    <i data-feather="trash-2" class="text-danger"></i> &nbsp;
                                    Delete
                                </a>
                            </li>

                        </ul>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>



</div>


<!-- Add Return Policy Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-head-label" id="">Return Policy</h5>
                <button type="button" class="btn-close dismissBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- [formGroup]="Form_AddReturnPolicy" -->
                <form (ngSubmit)="Form_AddReturnPolicy_Process(Form_AddReturnPolicy.value)" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter Policy Name</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input [(ngModel)]="addAPolicy.name" type="text" name="PolicyName" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter Return Charges (%)</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input [(ngModel)]="addAPolicy.charges" min="1" step="1" max="10" type="text" name="charges" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">No of days product can be returned </label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input [(ngModel)]="addAPolicy.productReturnDays" type="text" name="DaysReturn" id="" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Terms & Condition </label>
                            <span class="text-danger">*</span>
                            <div class="controls">
                                <textarea [(ngModel)]="addAPolicy.termAndConditions" name="termAndConditions" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input [(ngModel)]="addAPolicy.isDefault" type="checkbox" name="default" id="">&nbsp;
                            <label for="">Mark As Default</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Apply to Category </label>
                                <select [(ngModel)]="addAPolicy.categories" name="categories" class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option [value]="cat.categoryId" *ngFor="let cat of (categories$ | async)" value="1">{{cat?.name}} </option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Apply to Products </label>
                                <select  [(ngModel)]="addAPolicy.productIds" name="productIds" class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    
                                    <option [value]="product.id" *ngFor="let product of (products$ | async)" value="1">{{product?.name}} </option>
                                </select>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="savePolicy($event)">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Return Policy Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-head-label" id="">Return Policy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form (ngSubmit)="Form_AddReturnPolicy_Process(Form_AddReturnPolicy.value)" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter Policy Name</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input type="text" name="PolicyName" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter Return Charges (%)</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input type="text" name="ReturnCharges" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">No of days product can be returned </label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input type="text" name="DaysReturn" id="" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Terms & Condition </label>
                            <span class="text-danger">*</span>
                            <div class="controls">
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="checkbox" name="" id="">&nbsp;
                            <label for="">Mark As Default</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Apply to Category </label>
                                <select class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option value="1">Include tax in Product</option>
                                    <option value="1">Exclude tax on Products</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Apply to Products </label>
                                <select class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option value="1">Include tax in Product</option>
                                    <option value="1">Exclude tax on Products</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Assign Catogory  Modal-->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="tx-bold" id="">Assign Return Policy To Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="">All Products</label>
                <div class="controls">
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> All Category</label>
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> Food</label>
                    <i data-feather="chevron-down"></i>
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> Kitchen Appliances</label>
                    <i data-feather="chevron-down"></i>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Apply Policy</button>
            </div>
        </div>
    </div>
</div>


<!-- Assign Products  Modal-->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title   tx-semibold" id="">Assign Tax To Products</h5>
                <button type="button" class="btn-close productModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body prod" > 
                <label for="">All Products</label>
                <div class="controls">
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="list_of_products" >
                    <div *ngFor="let prod of productsFromAPolicy; index as i">
                        <input [value]="prod.id" (input)="addToSelectedProductsForPolicyApplication($event)" type="checkbox" id="categoryall" name="categoryall" value="Bike">
                        <label for="categoryall" class="categoryall"> {{prod?.name}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="applyPolicyToSelectedProducts($event)">Confirm</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tx-semibold" id="exampleModalLabel">Terms & Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bginfo">
                <ul class="listtypeconditions">
                    <li> This following sets out the terms and conditions on which you may use the content on
                        business-standard. website, business-standard.com’s mobile browser site, Business Standard
                        instore Applications and other digital publishing services (www.smartinvestor.in,
                        www.bshindi.com and www.bsmotoring,com) owned by Business Standard Private Limited, all the
                        services herein will be referred to as Business Standard Content Services.
                    </li>
                    <li> We welcome users to register on our digital platforms. We offer the below mentioned
                        registration services which may be subject to change in the future. All changes will be appended
                        in the terms and conditions page and communicated to existing users by email.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>