.selectall {
    margin: 1px 0px 0px 5px;
}
.categoryall{
    margin: 8px 0px 2px 8px;

}

.card-header{
    background-color: #fff;
}

.listtypeconditions{
    list-style-type:decimal;
}

.bginfo{
    background-color: #F5F6FA;
}

.prod{
    height: 38ch; 
    overflow: hidden;
}

.list_of_products{
    height: 24ch;
    max-height: 26ch; 
    overflow-y: scroll;
}