
<div class="card" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="ProductForm" role="form">
        <div class="card">
          <div class="card-header">
              <div class="number-wrapper">
                  <div class="number-group" [ngClass]="getElementStatus(1)">
                      <span class="step-counter">1</span>
                      <span class="px-2 number-text">Add Product Details</span> 
                      <span class="px-2"><i-feather name="arrow-right" class="small-icon"></i-feather> </span>             
                   </div>
                   <div class="number-group" [ngClass]="getElementStatus(2)">
                      <span class="step-counter">2</span>
                      <span class="px-2 number-text">Create Variants</span> 
                      <span class="px-2"> <i-feather name="arrow-right" class="small-icon"></i-feather>  </span>             
                    </div>
                    <div class="number-group" [ngClass]="getElementStatus(3)">
                      <span class="step-counter">3</span>
                      <span class="number-text px-2">Add Terms & Conditions</span> 
                      <span class="px-2"> <i-feather name="arrow-right" class="small-icon"></i-feather>  </span>             
                    </div>
                    <div class="number-group" [ngClass]="getElementStatus(4)">
                      <span class="step-counter">4</span>
                      <span class="number-text px-2">Advance Settings</span> 
                      <span class="px-2"> <i-feather name="arrow-right" class="small-icon"></i-feather>  </span>             
                    </div>
                    <div class="number-group" [ngClass]="getElementStatus(5)">
                      <span class="step-counter">5</span>
                      <span class="number-text px-2">Add Stock</span>            
                    </div>
              </div>
          </div>
          <ng-container *ngIf="pageNumber == 2">
            <div class="card-body">
              <div class=" tx-bold  d-flex justify-content-between">
                <h4 class="mb-1 pt-2 tx-20">Basic Information</h4>
                <div class="d-flex justify-content-between">
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="row" style="margin-top: 10px;
                          margin-bottom: 10px;">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Product Name <span class="tx-danger">*</span></label>
                        <input type="text" formControlName="productName" class="form-control wd-250"
                               placeholder="McVities Crack and Cream">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Select Category <span class="tx-danger">*</span></label>
                        <select class="form-select" formControlName="categoryId">
                          <option value="" selected>Choose one</option>
                          <option [value]="item.categoryId" *ngFor="let item of Categories?.data">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="row" style="margin-top: 20px;
                          margin-bottom: 20px;">
                    <div class="col-md-12">
                      <div class="form-group mg-b-0">
                        <label>Product Description: <span class="tx-danger">*</span></label>
                        <textarea rows="4" cols="5" class="form-control" formControlName="description">
                        </textarea>
                      </div>
                    </div>
  
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="switch">
                        <input type="checkbox"
                            formControlName="isDiscounted">
                        <span class="slider round" style="height: 22px;width: 44pxx;"></span>
                      </label>
                        <label class=" tx-14 pd-l-10 pd-t-15" for="TUCPercentage">
                          Mark As Loose Product</label><br>
                    </div>
                  </div>
  
                  <div class="row" style="margin-top: 20px;
                            margin-bottom: 20px;">
                    <div class="col-md-6">
                      <div class="parsley-select">
                        <label>Unit <span class="tx-danger">*</span></label>
                        <select class="form-select" required formControlName="unit">
                          <option disabled selected>Choose one</option>
                          <option value="Kilogrammes">Kilogrammes</option>
                          <option value="Grammes">Grammes</option>
                          <option value="Meters">Meters</option>
                        </select>
                      </div>
                    </div>
  
                    <div class="col-md-6">
                      <div class="row">
                        <label> Dimensions (L * B * H) </label>
  
                        <div class="col-md-4">
                          <input type="text" formControlName="length" class="form-control wd-250"
                                 placeholder="Length" required>
                        </div>
                        <div class="col-md-4">
                          <input type="text" formControlName="breadth" class="form-control wd-250"
                                 placeholder="Breadth" required>
                        </div>
                        <div class="col-md-4">
                          <input type="text" formControlName="height" class="form-control wd-250"
                                 placeholder="Height" >
                        </div>
                      </div>
  
                    </div>
  
                  </div>
                  <div class="row" style="margin-top: 20px;
                            margin-bottom: 20px;">
                    <div class="col-md-6">
                      <div class="form-group mg-b-0">
                        <label>Weight<span class="tx-danger">*</span></label>
                        <input type="text" formControlName="weight" class="form-control wd-250"
                               required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mg-b-0">
                        <label>SKU ID  <span class="text-primary pointer">( Auto generate )</span> 
                              <span class="tx-danger">*</span>
                        </label>
                        <input type="text" name="SKU" class="form-control wd-250"
                               formControlName="sku">
                      </div>
                    </div>
                  </div>
                  <hr>
                  <label> Primary Images <span class="tx-danger">*</span></label>
                  
                  <div class="d-flex">
                    <div class="px-2 store-form_store-logo" (drop)="drop($event)"
                        (dragover)="$event.preventDefault()" id="drag-area">
                        <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="cursor-pointer" (click)="fileInput.click()">
                        <path
                            d="M39.5 19C39.5 22.7578 38.3563 26.4313 36.2137 29.5558C34.071 32.6804 31.0255 35.1156 27.4623 36.5537C23.8992 37.9918 19.9784 38.368 16.1957 37.6349C12.4131 36.9018 8.93855 35.0922 6.21142 32.435C3.4843 29.7778 1.62711 26.3923 0.874696 22.7067C0.122284 19.0211 0.508449 15.2008 1.98436 11.729C3.46027 8.25722 5.95963 5.28982 9.16639 3.20208C12.3731 1.11433 16.1433 0 20 0C22.5608 0 25.0965 0.491449 27.4623 1.44629C29.8282 2.40113 31.9778 3.80066 33.7886 5.56497C35.5993 7.32928 37.0357 9.42383 38.0157 11.729C38.9956 14.0342 39.5 16.5049 39.5 19Z"
                            fill="#B11A83" fill-opacity="0.1" />
                        <path d="M19.5 11V26" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12.5 19H28.5" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                        <input type="file" #fileInput (change)="fileChangeEvent($event)" accept="image/*" class="d-none" />
                        <p class="m-0 pt-2">Drag & Drop Image here</p>
                    </div>
                    <div class="px-2" *ngFor="let DealImage of imageListn; let index = index"> 
                      <div class="px-2 mx-2 image-wrapper"> 
                        <span class="justify-content-end d-flex">x</span>
                        <div class="image-content text-center">
                          <img [src]="DealImage.base64" alt="Store_logo" class="w-96 b-a" />
                        </div>
                        <div class="d-flex justify-content-center">
                          <span class="text-primary text-sm">Primary Image</span>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20">
                    <div class="form-group">
                      <div class="d-flex justify-content-between">
                        <label>Sale Channel And App
                        </label>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <div class="col-md-10">
                          <div>
                            <label class=" tx-14" for="TUCPercentage">
                              Online TUC Store</label><br>
                            <label class="text-primary tx-14">Schedule Availability</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <h4 class="tx-14 mb-2">Add Tags</h4>
                    <ul class="list-unstyled mb-0">
                      <li class="d-flex justify-content-between mb-2">
                        <span class="tx-13 tx-color-03">You can add tags to search and differentiate products from
                          each other.
                        </span>
                      </li>
                    </ul>
                    <div class="card pd-x-15 pd-y-15">
                      <div class="force-to-the-bottom">
                        <div class="d-flex flex-wrap">
                          <div class="p-2" *ngFor="let item of TagList; let index = index">
                            <span class="tag-pills">{{item}} <i-feather name="x" class="xsm-icon"(click)="removeTag(index)"></i-feather> </span>
                          </div>
                          <input type="text" class="border-0" placeholder="enter tag here" [(ngModel)]="textValue" (keydown.enter)="onEnterKey(textValue)"  
                                  [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="pageNumber == 1">
            <div class="card-body">
            <h4>Product Variants Details</h4>
            <p>You can create multiple variants to this product based on its feature and options 
                For example, White T-shirt Small, Medium, Large etc</p>
            <div>
              <div class="col-md-6">
                <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round" style="height: 22px;width: 44pxx;"></span>
                </label>
                  <label class=" tx-14 pd-l-10 pd-t-15" for="TUCPercentage">
                    Create Variants and Options</label><br>
              </div>
            </div>

            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Variant</th>
                    <th class="text-center">SKU<span class="text-danger">*</span> <br />
                      <span class="table-sub">Auto Generate </span>
                    </th>
                    <th class="text-center">Original Price <span class="text-danger">*</span><br /> 
                       <span class="table-sub">Copy to all </span> 
                    </th>
                    <th class="text-center">Apply Taxes<span class="text-danger">*</span> <br />
                       <span class="table-sub">Copy to all </span> 
                    </th>
                    <th class="text-center">Sale Price (Inc Tax) <br />
                        <span class="table-sub">Copy to all</span>  
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{ProductForm.value.productName}}
                    </td>
                    <td>
                      <input type="text" name="SKU" class="form-control wd-250"
                      formControlName="sku">
                    </td>
                    <td>
                      <input type="number" min="0" formControlName="originalPrice" maxlength="256" class="form-control"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    </td>
                    <td>
                      <select class="form-control">
                        <option>All Tax</option>
                        <option [ngValue]="item?.taxId" *ngFor="let item of taxesData">{{item.taxName}}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" min="0" formControlName="salesPrice" maxlength="256" class="form-control"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" /> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </ng-container>

          <ng-container  *ngIf="pageNumber == 3">
            <div class="card-body">
              
              <div class="col-md-7">
                <h4>Terms and Conditions</h4>
                <p>Define Terms and Conditions here like Return Policy and other conditions</p>
                <div class="form-group">
                  <label>Select Return Policy <span class="text-danger">*</span></label>
                 <select class="form-control"
                      (change)="selectPolicy($event)">
                      <option selected [ngValue]="selectedPolicy">{{selectedPolicy}}</option>
                      <option value="{{ Stringify(item) }}"*ngFor="let item of returnPolicy">
                          {{item?.policyName}}
                      </option>
                  </select>


                </div>
                  <div class="form-group">
                    <label>Return Policy</label>
                      <textarea class="form-control bg-grey" cols="5" rows="5" formControlName="policyDescription">
                      </textarea>
                  </div>
                  <div class="form-group">
                      <label>Other Terms and Conditions</label>
                      <textarea cols="5" class="form-control" rows="5" placeholder="Other Terms and Conditions">
                      </textarea>
                  </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="pageNumber == 4">
            <div class="card-body">
              <div class="col-md-9">
                <h4>Barcode Settings</h4>
                <p>Add Barcode details here, you can skip this settings</p>
    
                <div class="d-flex align-items-center">
                  <div class="form-group px-2">
                    <label>Scan Barcode</label>
                      <input class="text" formControlName="barcode" class="form-control" />
                  </div>
                  <div class="px-2">
                    <button class="btn btn-primary">Click to Scan</button>
                  </div>
                </div>
                <h4>Advanced Settings</h4>
                <p>Add Brand details here</p>
                <div class="row ">
                   <div class="col-md-5">
                    <div class="form-group">
                      <label>Brand</label>
                      <input type="text" formControlName="brandName" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>MPN</label>
                      <input type="text" formControlName="mpn" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Warranty</label>
                      <input type="text" formControlName="warranty" class="form-control"/>
                    </div>
                  </div>
                </div>
    
                <h4>Reward Settings</h4>
                <p>Assign reward percentage to the product here</p>
                <div class="col-md-5 px-0">
                  <div class="form-group">
                    <label>Reward Percentage</label>
                    <input type="number" formControlName="rewardPercentage" class="form-control"/>
                  </div>
                </div>

                <h4>Product Information</h4>
                <p>Add product periods here</p>
                <div class="col-md-5 px-0">
                  <div class="form-group">
                    <label>Production Date</label>
                    <input type="date" formControlName="productionDate" class="form-control"/>
                  </div>
                </div>
                <div class="col-md-5 px-0">
                  <div class="form-group">
                    <label>Expiration Date</label>
                    <input type="date" formControlName="expiryDate" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
          <ng-container *ngIf="pageNumber == 5">
            <div class="card-body">
                <h4>Availability and Stock </h4>
                <p class="text-muted">You can add opening Stock of this product, or you can manage it later</p>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Variants</th>
                        <th>Available At Store <br /> <span class="text-primary">Auto-Generate</span></th>
                        <th>Low Stock Alert   <span class="text-primary">Copy to all</span>  </th>
                        <th>Opening Stock <br /> <span class="text-primary">Copy to all</span> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{ProductForm.value.productName}}
                        </td>
                        <td>
                          <select class="form-control">
                            <option>All</option>
                          </select>
                        </td>
                        <td>
                          <input type="number" class="form-control" formControlName="lowStockAlertValue" />
                        </td>
                        <td>
                          <input class="form-control" type="number" formControlName="availableUnits" />
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </ng-container>

          <div class="card-footer d-flex justify-content-end footerback">
            <div>
                <span class="px-2">
                  <button class="btn btn-secondary">
                      Close
                  </button>
                </span>
                <span class="px">
                  <button class="btn btn-primary" (click)="switchPage()" [disabled]="ProductForm.invalid || isProcessing">
                    {{ isProcessing ? 'Creating Product...' : 'Next'}}
                  </button>
                </span>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>