.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media ( max-width: 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

}

.primary-btn {
  background: #0168FA;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;

}

.btnadjust {
  height: 26px;
  margin-top: -13px;
}

/* toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border:1px solid #C0CCDA !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
    width: 15px;
    left: 2px;
    bottom: 3px;
  background-color: #C0CCDA;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
  border:1px solid #2196f3 !important;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -8px;
  bottom: 2px;
  background-color: white !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.col-lg-1 {
  flex: 0 0 auto;
  width: 4.333333%;
}

.boderlayout {
  border: 1px solid #E1E5EF;
  padding: 6px;

}

.termcondition {
  padding: 20px;
  border: 1px solid #C0CCDA;
  background: #F5F6FA;
}

.btn_Skip {
  background: #FFFFFF;
  border-radius: 4px;
  color: #0168FA;
  font-size: 14px;
  border: 1px solid #0168FA;

}

.footerback {
  background: white;
}

.dropdown {
  border: 1px solid #C0CCDA;
}

.badge {
  background-color: #CCE1FE;
  color: #0168FA;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  width: 70px;
}

.force-to-the-bottom {
  margin-top: 0vh;
}

.tag-input-dropdown {
  background: #2196F3;
}



.store-form_store-logo{
    border-radius: 5px;
    border: 1px solid #C0CCDA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7987a1;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 2rem;
    width: 200px;
}
.tag-pills{
  background-color: #CCE1FE;
  color: #0168FA;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 12px;
}
.xsm-icon{
  height: 10px !important;
  width: 10px !important;
}
.border-0{
  border: 0 !important;
  outline: 0 !important;
}

.number-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}
.number-group{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  color: #C0CCDA;
}

.number-group.current .step-counter {
  background-color: #0168FA;
  color: #FFFFFF;
}
.number-group.past .step-counter {
  background-color: #10B759;
  color: #FFFFFF;
}
.number-group.current .number-text, .number-group.current .small-icon{
  color: #0168FA;
}

.number-group.past .number-text, .number-group.past .small-icon{
  color: #10B759;
}


.step-counter{
    color: #C0CCDA;
    background:#FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.5px solid #C0CCDA;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }

.card-body{
  padding: 1.5rem;
}

.image-wrapper{
  width: 200px;
  border: 1px solid #C0CCDA;
  border-radius: 4px;
}
.image-content img{
  width: 125px;
}

.border-0{
  border: none !important;
}

.text-sm{
  font-size: 10px;
}
.table-sub{
  text-align: center;
  color: #0168FA;
  font-weight: 700;
  font-size: 10px;
}
