.ht-12 {
    height: 20px;
}

.wd-12 {
    width: 20px;
}

.slip-wrapper {
    width: 400px;
}

.details {
    font-size: 20px;
    font-weight: 500;
}

.fw-5 {
    font-weight: 500;
}

.fs-12 {
    font-size: 12px;
}

.float-right {
    float: right;
}

.thanks {
    font-size: 14px;

}

.float-left {
    float: left;
}

.btn-modal-close {
    border-radius: 4px;
    background-color: rgb(136, 157, 170);
    color: #fff;
    width: 70px;
}

tr td {
    padding: 5px !important;
    font-size: 13px;
}

.m-0 {
    margin: 0 !important;
}

.m-2 {
    margin: 2 !important;
}

.m-1 {
    margin: 1 !important;
}

.mb-1 {
    margin-bottom: 1 !important;
}

.mt-4 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 2px;
}

hr {
    margin: 4px;
}

.top-btn {
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid var(---border);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C0CCDA;
    border-radius: 4px;
    opacity: 1;
}

.small-icon {
    font-size: 6px;
}

.btn-text {
    font-size: 11px;
}

.card {
    border-radius: 0;
}

.card-head {
    border-bottom: 2px dashed #5A6780;
}

.invoiceheaeding {
    font: normal normal medium 14px/21px Oswald;
    letter-spacing: 0px;
    color: #001737;
    opacity: 1;
}

.border-bottom {
    border-bottom: 2px solid #5A6780;
}

.border-top {
    border-top: 2px solid #5A6780;
}