<div class="slip-wrapper">
    <div class="slip-head d-flex justify-content-between">
        <div class="font-weight-bold details">Details</div>
        <div class="d-flex">
            <button class="btn top-btn mx-2">
                <i data-feather="file-minus" class="ht-12 wd-12"></i>
                <span class="btn-text">SAVE</span>
            </button>

            <button class="btn top-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="btn-text">PRINT</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Donwload PDF</a></li>
                <li><a class="dropdown-item">Refund</a></li>
                <li><a class="dropdown-item">Print</a></li>
                <li><a class="dropdown-item">Email</a></li>
                <li><a class="dropdown-item">Attach File</a></li>
            </ul>

        </div>

    </div>
    <div class="main-slip-wrapper card my-3">
        <div class="text-center">
            <div class="card-head">
                <p class="fw-5 fs-12 m-1">Tax Invoice/Bill of Supply</p>
                <p class="fw-5 fs-12 m-1">Trebet Superstore</p>
                <p class="text-muted m-1 fs-12">No 46 Fola Osibo Rd, Lekki Phase 1 101222, Lekki, Nigeria</p>
                <p class="text-muted m-1 fs-12">GSTIN TAX NO - 238584495898585</p>
                <div class="px-5 d-flex justify-content-between">
                    <div class="">
                        <p class="m-1 fs-12 text-primary">+234 90 78 789068</p>
                        <p class="m-1 fs-12 text-primary" style="float: left">08-09-2020</p>
                    </div>

                    <div class="">
                        <p class="m-1 fs-12 text-primary">Trebetlekki@gmail.com</p>
                        <p class="m-1 fs-12 text-primary" style="float: right">10:30:25AM</p>
                    </div>
                </div>
            </div>

            <div class="border-bottom">
                <p class="text-center invoiceheaeding m-1 mb-1">** INVOICE NO 456822 **</p>
            </div>

            <div class="border-bottom">
                <table>
                    <thead class="">
                        <th class="col-2">Item</th>
                        <th class="col-2">Qty</th>
                        <th class="col-2">Unit Price</th>
                        <th class="col-2">Amount </th>
                    </thead>
                    <tbody class="">
                        <tr class="border-bottom">
                        </tr>
                        <tr>
                            <td> Coca Cola</td>
                            <td class="text-black"> 12</td>
                            <td>₦300</td>
                            <td>₦3600</td>
                        </tr>
                        <tr>
                            <td> NailPaints</td>
                            <td class="text-black"> 12</td>
                            <td>₦300</td>
                            <td>₦3600</td>
                        </tr>
                        <tr class="border-bottom">
                        </tr>
                        <tr>
                            <td> </td>
                            <td class="text-black"> </td>
                            <td>Sub-Total</td>
                            <td>₦7200</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="px-3 border-bottom">
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Deals</div>
                    <div class="fs-12">₦200</div>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Rewards</div>
                    <div class="fs-12">₦200</div>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Discount</div>
                    <div class="fs-12">₦200</div>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Taxes @ VAT</div>
                    <div class="fs-12">₦300</div>
                </div>
                <div class="d-flex justify-content-between my-2 border-top">
                    <div class="col-6"></div>
                    <div class="fs-12">Total Paid</div>
                    <div class="fs-14">₦2300</div>
                </div>

            </div>


            <div class="px-3 border-bottom">
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">POS (TID)</div>
                    <div style="margin-left: 25px;">:</div>
                    <div class="fs-12">3248A009 <br>
                        <small class="text-muted float-right">Sterling Bank</small>
                    </div>
                </div>

                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Customer Details</div>
                    <div>:</div>
                    <div class="fs-12">+7789087456 <br>
                        <small class="text-muted float-right">Ola Fernadz</small>
                    </div>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <div class="text-muted fs-12">Cashier</div>
                    <div style="margin-left: 40px;">:</div>
                    <div class="fs-12">Ahmadullah <br>
                        <small class="text-muted float-right">001</small>
                    </div>
                </div>

            </div>

            <div class=" mt-2 mb-1" style="color: #5A6780;">
                <p>Thank You for choosing Trebet Store.</p>
            </div>

        </div>
    </div>

    <footer>
        <div class="float-right">
            <button class="btn btn-modal-close float-right" (click)="onClose()">close</button>
        </div>
    </footer>

</div>