<div id="pos-sales-return">
  <div class="d-flex justify-content-between mt-3 mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/overview']">Overview</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          Return - Pos Sales Return
        </li>
      </ol>
    </nav>

    <a mat-button (click)="openDialog()"
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="pos-sales-body">
    <div class="d-flex justify-content-between page-title">
      <h6 class="">Pos Sales Return History</h6>
      <div class="btn btn-primary" (click)="openDialog()">Add New Return</div>
    </div>

    <div class="border-line"></div>

    <mat-tab-group>
      <mat-tab label="All">
        <div class="cards-container">
          <app-reusables-cards
            [data]="{
              featherIconNames: 'file-text',
              countHeadingText: 'Total Sale Returns',
              countValue: posSalesReturn?.totalReturnCount,
              backgroundColors: ['bg-primary']
            }"
          ></app-reusables-cards>

          <app-reusables-cards
            [data]="{
              featherIconNames: 'dollar-sign',
              countHeadingText: 'Total Return Amount',
              countValue: posSalesReturn?.totalReturnAmount,
              backgroundColors: ['bg-warning']
            }"
          ></app-reusables-cards>
        </div>
        <div class="border-line"></div>

        <app-reusables-filter></app-reusables-filter>

       <ng-container *ngIf="posSalesReturn">
        <app-reusables-table [tableData]="posSalesReturn.salesReturns">
          <ng-template #headers>
            <th>Invoice No.</th>
            <th>Return Date</th>
            <th>Sale Date</th>
            <th>Customer</th>
            <th>Inv Amount</th>
            <th>Refund/credeit Credits</th>
            <th>Store</th>
          </ng-template>

          <tr></tr>
          *ngFor="let salesReturn of posSalesReturn"
          <div>
            <ng-template #rows let-tableRow (click)="rowSelected(tableRow)">
              <td>
                {{ tableRow?.invoiceNumber }}
                <br />
                
                <p class="success" *ngIf="tableRow.refundStatus == 'Completed'">{{ tableRow?.refundStatus }}</p>
            <p class="pending" *ngIf="tableRow.refundStatus == 'Processing'">{{ tableRow?.refundStatus }}</p>
          
              </td>
              <td>
                {{ tableRow?.returnDate | date : 'shortDate'
                }}
                <br />
                <small class="text-muted">1:00PM</small>
              </td>
              <td>
                {{ tableRow?.salesDate | date : 'shortDate' }}
                <br />
                <small class="text-muted">1:00PM</small>
              </td>

              <td>
                {{ tableRow?.customerNumber
                }}
                <small class="text-muted"> {{ tableRow.customerName
                }}</small>
              </td>
              <td>{{ tableRow?.invoiceAmount }}</td>
              <td>
                {{ tableRow?.refundCreditAmount }}
                <br />
                <small>
                  <a
                    href="/return/credit-notes/credit-note-details"
                    class="text-primary text-small text-decoration-none credit"
                    >Credit
                    <i-feather
                      name="chevron-right"
                      class="small-icon"
                    ></i-feather>
                  </a>
                </small>
              </td>
              <td>
                {{ tableRow?.store }}
                <small class="text-muted">{{ tableRow?.storeLocation }}</small>
              </td>
            </ng-template>
          </div>
        </app-reusables-table>
       </ng-container>
      </mat-tab>

      <mat-tab label="Processing">
        <div class="cards-container">
          <app-reusables-cards
            [data]="{
              featherIconNames: 'file-text',
              countHeadingText: 'Total Sale Returns',
              countValue: 'NGN 23,0000.00',
              backgroundColors: ['bg-primary']
            }"
          ></app-reusables-cards>

          <app-reusables-cards
            [data]="{
              featherIconNames: 'dollar-sign',
              countHeadingText: 'Total Return Amount',
              countValue: 'NGN 23,0000.00',
              backgroundColors: ['bg-warning']
            }"
          ></app-reusables-cards>
        </div>
        <div class="border-line"></div>

        <app-reusables-filter></app-reusables-filter>

        <ng-container>
          <app-reusables-table [tableData]="tableData">
            <ng-template #headers>
              <th>Invoice No.</th>
              <th>Return Date</th>
              <th>Sale Date</th>
              <th>Customer</th>
              <th>Inv Amount</th>
              <th>Refund/credeit Credits</th>
              <th>Store</th>
            </ng-template>
  
            <tr></tr>
            <ng-template #rows let-tableRow (click)="rowSelected(tableRow)">
              <td>
                {{ tableRow.ReferenceId }}
                <br />
                <p class="pending">Pending</p>
              </td>
              <td>
                {{ tableRow.CreateDate }}
                <br />
                <small class="text-muted">1:00PM</small>
              </td>
              <td>
                {{ tableRow.CreateDate }}
                <br />
                <small class="text-muted">1:00PM</small>
              </td>
  
              <td>
                {{ tableRow.ContactNumber }}
                <small class="text-muted">Simeon Ononobi</small>
              </td>
              <td>5000</td>
              <td>
                {{ tableRow.MerchantId }}
                <br />
                <small>
                  <a
                    href="/return/credit-notes/credit-note-details"
                    class="text-primary text-small text-decoration-none credit"
                    >Credit
                    <i-feather
                      name="chevron-right"
                      class="small-icon"
                    ></i-feather>
                  </a>
                </small>
              </td>
              <td>
                {{ tableRow.MerchantId }}
                <small class="text-muted">Enyo Retail, Lekki</small>
              </td>
            </ng-template>
          </app-reusables-table>
        </ng-container>

       
      </mat-tab>

      <mat-tab label="Success">
        <div class="cards-container">
          <app-reusables-cards
            [data]="{
              featherIconNames: 'file-text',
              countHeadingText: 'Total Sale Returns',
              countValue: 'NGN 23,0000.00',
              backgroundColors: ['bg-primary']
            }"
          ></app-reusables-cards>

          <app-reusables-cards
            [data]="{
              featherIconNames: 'dollar-sign',
              countHeadingText: 'Total Return Amount',
              countValue: 'NGN 23,0000.00',
              backgroundColors: ['bg-warning']
            }"
          ></app-reusables-cards>
        </div>
        <div class="border-line"></div>

        <app-reusables-filter></app-reusables-filter>

        <app-reusables-table [tableData]="tableData">
          <ng-template #headers>
            <th>Invoice No.</th>
            <th>Return Date</th>
            <th>Sale Date</th>
            <th>Customer</th>
            <th>Inv Amount</th>
            <th>Refund/credeit Credits</th>
            <th>Store</th>
          </ng-template>

          <tr></tr>
          <ng-template #rows let-tableRow (click)="rowSelected(tableRow)">
            <td>
              {{ tableRow.ReferenceId }}
              <br />
              <p class="success">Success</p>
            </td>
            <td>
              {{ tableRow.CreateDate }}
              <br />
              <small class="text-muted">1:00PM</small>
            </td>
            <td>
              {{ tableRow.CreateDate }}
              <br />
              <small class="text-muted">1:00PM</small>
            </td>

            <td>
              {{ tableRow.ContactNumber }}
              <small class="text-muted">Simeon Ononobi</small>
            </td>
            <td>5000</td>
            <td>
              {{ tableRow.MerchantId }}
              <br />
              <small>
                <a
                  href="/return/credit-notes/credit-note-details"
                  class="text-primary text-small text-decoration-none credit"
                  >Credit
                  <i-feather
                    name="chevron-right"
                    class="small-icon"
                  ></i-feather>
                </a>
              </small>
            </td>
            <td>
              {{ tableRow.MerchantId }}
              <small class="text-muted">Enyo Retail, Lekki</small>
            </td>
          </ng-template>
        </app-reusables-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
