#pos-sales-return {
  .page-title {
    background-color: white;
    padding: 0.75rem 1.25rem;
    align-items: center;

    h6 {
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  .border-line {
    width: 100%;
    height: 0px;
    border: 0.8px solid #cbd5e0;
  }

  .pos-sales-body {
    border: 1px solid #cbd5e0;
    background-color: white;


    .cards-container {
        padding: 1.25rem;
        display: flex;
        gap: 1rem ;

        .img-text {
            display: flex;
            gap: 1rem;

            .texts {

            }
        }
    }
  }

  .refund {
    padding: 0.125rem;
    background: #f7d1d2;
    color: #cc2529;
    font-size: 0.6rem;
    margin-bottom: 0rem;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: 700;
}

 .success {
        padding: 0.125rem;
        background: #198754;
        color: white;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }

    .pending {
        padding: 0.125rem;
        background: #EE9800;
        color: white;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }

    .credit {
        padding: 0.125rem;
        background: #c3d2fe;
        color: blue;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }
}
