<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="text-decoration: none;">Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                POS - List
            </li>
        </ol>
    </nav>
    <a mat-button (click)="openDialog()" style="cursor: pointer;">
        <i data-feather="alert-circle" class="alert-circle"></i>
        <span class="px-2" style="color: #0d6efd">
            Page Tips

        </span>
    </a>
</div>


<div class="d-flex justify-content-between mt-3">
    <div class="dropdown dropright">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span>
                <button class="form-control" style="background: transparent;">
                    All Stores
                    <i-feather name="chevron-down" class="small-icon"></i-feather>
                </button>
            </span>
        </a>
    </div>
</div>


<div class="card mt-3">

    <div class="card-header" style="background-color: #fff;">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">All POS</span>
                <button class="btn tx-12 btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"> Add
                    POS</button>
            </div>
        </div>
    </div>

    <div class="card-header bg-white">
        <div class="d-sm-flex justify-content-between">
            <div class="media ">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div class="media-body bd-pink">
                    <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        All
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{TerminalStatus.allTerminals}}
                    </h4>
                </div>
            </div>

            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fa-solid fa-credit-card"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        Active
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{TerminalStatus.activeTerminals}}
                    </h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fa-solid fa-credit-card"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        Idle
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{TerminalStatus.idleTerminals}}
                    </h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fa-solid fa-credit-card"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        Dead
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{TerminalStatus.deadTerminals}}
                    </h4>
                </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fa-solid fa-credit-card"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        Unused
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        {{TerminalStatus.unusedTerminals}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <app-reusables-filter></app-reusables-filter>

    <div class="card-body px-0 pd-t-8">
        <table class="table table-hover mb-0">
            <thead>
                <tr>

                    <th class="text-center">
                    </th>
                    <th class="tx-normal">
                        POS ID
                    </th>
                    <th class="tx-normal">
                        Store
                    </th>
                    <th class="tx-normal">
                        Type
                    </th>
                    <th class="">
                        Last Transaction
                    </th>
                    <th class="tx-bold text-center">
                        Added On
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let TItem of TerminalsData">
                    <td class="text-center">
                        <img class="br" src="{{TItem.issuerBankIconUrl}}" class="img wd-40 ht-40 rounded-10 bd bd-2">
                    </td>
                    <td>
                        <div class="tx-14 tx-bold">{{TItem.terminalID}}</div>
                        <small class="tx-12 text-muted tx-uppercase">
                            {{TItem.merchantName}}
                        </small>
                    </td>
                    <td>
                        <div class="tx-14 txbold text-primary">
                            <a class="text-primary text-small text-decoration-none"
                                href="pos/pos-details/pos-overview">{{TItem.storeName}}
                                <i-feather name="chevron-right" class="small-icon"></i-feather>
                            </a>
                        </div>
                        <small class="tx-12 text-muted ">
                            {{TItem.storeLocation}}
                        </small>
                    </td>
                    <td>
                        <div>{{TItem.type}}</div>
                    </td>
                    <td class="">
                        <div class="tx-14 tx-verve">{{TItem.LastTransactiondate ||'--'}}</div>
                    </td>
                    <td class="text-center">
                        <div class="text-muted"> {{TItem.dateCreated | date:'short'}}</div>
                    </td>
                    <td>
                        <button class="btn top-btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>:</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal">
                                    <i data-feather="file"></i> &nbsp;
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item">
                                    <i data-feather="trash-2" class="text-danger"></i> &nbsp;
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer pt-4 bg-white">
        <span class="mr-3">
            Showing
            <span class="bold">1 to
                5
            </span>of 10
        </span>
        <span>
            Show
            <select class="wd-50">
                <option>
                    10
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="CampaignList_Paginator" class="pagination pagination-space" nextLabel=""
                previousLabel="">
            </pagination-controls>
        </span>
    </div>


</div>



<!-- Add Taxes Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-head-label" id="">Create New POS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter POS ID</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input type="number" name="posid" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Select Store</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <div class="form-group mg-b-0">
                                        <select class="form-select" required>
                                            <option value="" selected>Choose one</option>
                                            <option value="1">Include tax in Product</option>
                                            <option value="1">Exclude tax on Products</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Select Type</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <div class="form-group mg-b-0">
                                        <select class="form-select" required>
                                            <option value="" selected>Choose one</option>
                                            <option value="1">Include tax in Product</option>
                                            <option value="1">Exclude tax on Products</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Taxes Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-head-label" id="">Update New POS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Enter POS ID</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <input type="number" name="posid" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Select Store</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <div class="form-group mg-b-0">
                                        <select class="form-select" required>
                                            <option value="" selected>Choose one</option>
                                            <option value="1">Store One</option>
                                            <option value="1">Store two</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="tx-13">Select Type</label>
                                <span class="text-danger">*</span>
                                <div class="controls">
                                    <div class="form-group mg-b-0">
                                        <select class="form-select" required>
                                            <option value="" selected>Choose one</option>
                                            <option value="1">Type One</option>
                                            <option value="1">Type two</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>