<div class="cashier-wrapper">
  <div class="cashier-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/overview']">Overview</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/cashiers']">Cashier</a></li>
        <li class="breadcrumb-item" aria-current="page">Cashier Details</li>
      </ol>
    </nav>
  </div>

  <div class="main-cashier-wrapper">
    <div class="row" style="height: 170px;">
      <div class="profile-img col-md-2 py-4" style="padding-left: 50px; height: 170px;">
        <div class="px-2">
          <img width="85" class="profile" src="../../../../assets/images/profile.jpeg" alt="Profile-image">
          <i-feather [name]="'edit-2'" class="small  edit-icon" ></i-feather>
        </div>
        <div class="gender">
          <p class="p-3 mx-3">{{cashier?.gender}}</p>
        </div>
      </div>

      <div class="col-md-10 col-sm-12" style="height: 170px;">
        <div class="row user-top">
          <div class="col-md-5 row">
            <span class="username">{{cashier.firstName + " " + cashier.lastName}}  <span class=" px-2" [ngClass]="{'status-success': cashier.authUser.isActive, 'status-danger': !cashier.authUser.isActive}">{{cashier.authUser.isActive ? "ACTIVE" : "INACTIVE"}}</span></span>
            <div class="cashier-band">
              <span class="cashier"> Cashier</span>
              <span class="address px-2">@Trebet superstore, Lekki.</span>
            </div>
          </div>
          <div class="col-md-3">
            <p class="cashier-id">{{cashier.cashierCode}}</p>
            <p class="cashier" style="margin-top: 5px;">Cashier ID</p>
          </div>
          <div>

          </div>
        </div>

        <div class="d-flex">
          <div class="contact-band py-2">
            <div class="tel"> <i-feather [name]="'phone'" class="small-icon" ></i-feather> <span class="contact p-2">Mobile No.</span> <span class="contact-details">{{cashier.phoneNumber}}</span> </div>
            <div class=""> <i-feather [name]="'mail'" class="small-icon" ></i-feather> <span class="contact email p-2 ">Email ID </span> <span class="contact-details px-3">{{cashier.emailAddress}}</span> </div>
          </div>

          <div class="contact-band mx-4 py-2">
            <div class="tel"> <i-feather [name]="'user-plus'" class="small-icon" ></i-feather> <span class="contact p-2 ">Added on</span> <span class="contact-details px-3 text-danger">{{cashier.dateCreated | date}}</span> </div>
            <div class=""> <i-feather [name]="'user-plus'" class="small-icon" ></i-feather> <span class="contact email p-2 ">Added by</span> <span class="contact-details px-3 text-danger">{{cashier.createdBy == null ? "Olagoke Ejike" : cashier.createdBy}}</span> </div>
          </div>

          <div class="py-2">
            <div class="tel">  <span class="contact p-2">Last Updated on</span> <span class="contact-details px-3 text-danger">{{cashier.dateModified | date}}</span> </div>
            <div class=""> <span class="contact email p-2 ">Updated by </span> <span class="contact-details px-5 text-danger">{{cashier.modifiedBy == null ? "Loa Henry" : cashier.modifiedBy}}</span> </div>
          </div>

        </div>
      </div>
    </div>
    <div class="bar row" >
      <p class="red-bar"></p>
      <span class="light-green-bar"></span>
      <span class="yellow-bar"></span>
      <span class="blue-bar"></span>
    </div>
      <div [ngClass]="{'body-wrapper': isInvoice, 'overview' : !isInvoice}" class="px-2">
        <div class="reusecards d-flex justify-content-between px-3" *ngIf="isInvoice">
          <div class="px-4">
              <app-reusables-cards [data]="{featherIconNames:'gift', countHeadingText: 'Total Invoice', countValue: overview?.totalInvoicesCount == null ? 0 : overview?.totalInvoicesCount, backgroundColors:['bg-primary']}"></app-reusables-cards>
          </div>
          <div class="px-4">
              <app-reusables-cards [data]="{featherIconNames:'grid', countHeadingText: 'Invoice Amount', countValue: '₦'+overview?.totalInvoicesAmount == null ? 0 : overview?.totalInvoicesAmount, backgroundColors:['bg-warning']}"></app-reusables-cards>
          </div>
          <div class="px-4">
            <app-reusables-cards [data]="{countHeadingText: 'Card Sale', countValue: '₦'+overview?.totalCardsAmount == null ? 0: overview?.totalCardsAmount, backgroundColors:['bg-warning']}"></app-reusables-cards>
        </div>
          <div class="px-4">
            <app-reusables-cards [data]="{featherIconNames:'credit-card', countHeadingText: 'Cash Sale', countValue: '₦'+overview?.totalCashAmount == null ? 0 : overview?.totalCashAmount, backgroundColors:['bg-danger']}"></app-reusables-cards>
        </div>
      </div>

      </div>

      <div *ngIf="!isInvoice" [ngClass]="{'overview': !isInvoice}" class="d-flex justify-content-end">
        <div class="d-flex align-self-center">
            <div class="btn-group " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-neutral active">Month</button>
                <button type="button" class="btn btn-neutral">Week</button>
                <button type="button" class="btn btn-neutral">Day</button>
            </div>
        </div>
      </div>

      <div [ngClass]="{'table-wrapper': isInvoice}" class="">
        <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Invoices">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>

                        <app-reusables-table [tableData]="invoiceList">

                        <ng-template #headers>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Invoice ID</th>
                            <th>Customer</th>
                            <th>Amount & Rewards</th>
                            <th>POS</th>
                        </ng-template>

                        <ng-template #rows let-tableRow>
                            <td>
                                <button class="btn btn-sm" [ngClass]="{'btn-success': tableRow.statusId == 1, 'btn-danger': tableRow.statusId == 2, 'btn-warning': tableRow.statusId == 0}">{{tableRow.statusId == 0 ? "Pending" ? tableRow.statusId == 1 : "Paid" : "Unpaid"}}</button>
                            </td>
                            <td> {{tableRow.dateCreated | date}} <br />
                                <small class="text-muted">{{tableRow.dateCreated | date : 'shortTime'}}</small>
                            </td>
                            <td class="text-primary"> {{tableRow.invoiceId}}
                          </td>
                            <td>
                                {{tableRow.customerId}} <br />
                                <small class="text-muted">Siemon Ononbi</small>
                            </td>
                            <td>₦{{tableRow.invoiceAmount | number}} <br />
                                <small>
                                    <p class="text-right text-primary text-small">₦9,0000
                                    </p>
                                </small>
                            </td>
                            <td>{{tableRow.ReferenceId}}
                                <br />Itex-GA
                            </td>
                            <td>
                              <div>
                                <button class="btn btn-modal" mat-raised-button (click)="openDialog()">Details</button>
                              </div>
                            </td>
                        </ng-template>
                    </app-reusables-table>
                    </main>
                </div>
            </mat-tab>
            <mat-tab label="Overview">
              <div class="px-3 d-flex justify-content-between">
                <div class=" card p-2">
                  <div class="">
                    <span class="amount">₦{{overview.totalInvoicesAmount == null ? 0 : overview.totalInvoicesAmount | number}}</span>
                    <span class="text-danger pl-4" style="margin-left: 15px;"><i-feather [name]="'arrow-down'" class="small-icon arrow-down" ></i-feather> 10%</span>
                  </div>
                  <small class="font-weight-bold sale">SALE AMOUNT</small>
                  <P><small class="text-muted">Total sale generated by </small> <small >1234 transaction</small></P>
                </div>

                <div class=" card p-2 mx-2">
                  <div class="">
                    <span class="amount">₦12,456,789</span>
                    <span class="text-danger pl-4" style="margin-left: 15px;"><i-feather [name]="'arrow-down'" class="small-icon arrow-down" ></i-feather> 10%</span>
                  </div>
                  <small class="font-weight-bold sale">REWARDS DISTRIBUTED</small>
                  <P><small class="text-muted">Total sale generated by </small> <small >1234 transaction</small></P>
                </div>

                <div class=" card p-2">
                  <div class="">
                    <span class="amount">₦{{overview.totalCardsAmount == null ? 0 : overview.totalCardsAmount}}</span>
                    <span class="text-danger pl-4" style="margin-left: 15px;"><i-feather [name]="'arrow-down'" class="small-icon arrow-down" ></i-feather> 10%</span>
                  </div>
                  <small class="font-weight-bold sale">CARD SALE</small>
                  <P><small class="text-muted">Total sale generated by </small> <small >1234 transaction</small></P>
                </div>

                <div class=" card p-2 mx-2">
                  <div class="">
                    <span class="amount">₦{{overview.totalCashAmount == null ? 0 : overview.totalCashAmount}}</span>
                    <span class="text-danger pl-4" style="margin-left: 15px;"><i-feather [name]="'arrow-down'" class="small-icon arrow-down" ></i-feather> 10%</span>
                  </div>
                  <small class="font-weight-bold sale">CASH SALE</small>
                  <P><small class="text-muted">Total sale generated by </small> <small >1234 transaction</small></P>
                </div>
              </div>

              <div class="px-3 d-flex justify-content-between my-3">
                <div class=" card p-3" style="width:630px">
                  <div class="">
                    <highcharts-chart
                        [Highcharts]="Highcharts"
                        [options]="chartOptions"
                        style="width: 330px; height: 400px; display: flex;"
                        [callbackFunction]="chartCallback"
                    ></highcharts-chart>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="wert">CARD</p>
                        <p class="amount m-0 text-success">₦{{overview.totalCardsAmount | number}}</p>
                      <small class="text-muted smaller-text">20% of Total Transactions </small>
                    </div>
                    <div>
                      <p class="wert">CASH</p>
                        <p class="amount m-0 text-danger">₦{{overview.totalCashAmount}}</p>
                      <small class="text-muted smaller-text">20% of Total Transactions </small>
                    </div>
                  </div>
                </div>

                <div class="mx-3 card p-3" style="width:630px">
                  <div class="">
                    <highcharts-chart
                        [Highcharts]="Highcharts"
                        [options]="chartOptions"
                        style="width: 330px; height: 400px; display: flex;"
                        [callbackFunction]="chartCallback"
                    ></highcharts-chart>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="wert">Reward Transactions</p>
                        <p class="amount m-0 text-success">6,789</p>
                      <small class="text-muted smaller-text"><strong>80%</strong> of Total Transactions</small>
                    </div>
                    <div>
                      <p class="wert">Non-reward transactions</p>
                        <p class="amount m-0 text-danger">12,789</p>
                      <small class="text-muted smaller-text"><strong>80%</strong> of Total Transactions </small>
                    </div>
                  </div>
                </div>

                <div class="col-4 card p-3">
                  <div class="mb-3">
                    <strong class="amount">POS used</strong>
                    <p class="m-0"> <small class="text-muted smaller-text">Showing all POS used by this cashier</small></p>
                  </div>
                  <div class="transaction my-3" *ngFor="let item of posList">
                    <strong class="font-weight-bold">{{item.type + " " + item.serialNumber}}</strong>
                    <P class="m-0"><small class="text-muted">Transaction for </small> <small > {{item.merchantName}} </small></P>
                    <P class="m-0"><small class="text-muted">Sale Amount </small> <small > ₦45,678</small></P>
                  </div>
                </div>

              </div>

          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>
