
.main-cashier-wrapper {
  background-color: #FFFFFF;
  width: 100%;
  height: 120vh;
  border-radius: 3px;
  border: 1px solid rgb(193, 188, 188);
}

.profile {
  border-radius: 50%;
  border: 5px solid rgb(1, 101, 53);
}

.body-wrapper {
  border-bottom: 1px solid #c5d8e6;
}

.btn-modal {
  border-radius: 4px;
  background-color: rgb(183, 212, 231);
  color: #fff;
  width: 70px;
}

.highcharts-data-table table {
  min-width: 10px;
  max-width: 260px !important;
  margin: 1em auto;
}

.card {
  div {
    highcharts-chart {
      div {
        .highcharts-root {
          width: 330 !important;
        }
      }
    }
  }

}

.edit-icon {
  position: relative;
  background-color: #284557;
  border-radius: 50%;
  font-size: 10px;
  width: 30px;
  height: 30px;
  top: 20px;
  margin-top: 45px;
  margin-left: -25px;
  color: #ffffff;
}

.gender {
  p {
    color: rgb(38, 75, 95);
  }
}

.email {
  margin-top: 10px;
  width: 140px;
}

.contact-band {
  border-right: 1px solid #e1dddd;
}

.contact {
  color: #7a7e7e;
  font-size: 14px;
}

.contact-details {
  color: #0e86d6;
  font-size: 12px;
}

.small-icon {
  font-size: 5px;
}

.status-danger{
  color: #ffffff;
  border-radius: 2px;
  margin-left: 30px;
  background-color: rgb(238, 38, 28);
}

.user-top {
  border-bottom: 1px solid #adb1b0;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 0;

  .username {
    color: #000000;
    font-size: 21px;
    font-weight: 600;
  }

  .status-success{
    color: #ffffff;
    border-radius: 2px;
    margin-left: 30px;
    background-color: rgb(7, 161, 25);
  }

  .cashier {
    color: #7a7e7e;
    font-size: 12px;
  }

  .cashier-band {
    margin-top: 1px;

    .address {
      font-size: 12px;
      font-weight: 500;
    }

  }

  .cashier-id {
    font-size: 24px;
    font-weight: 400;
  }
}


.crumbs-wrapper {
  border-radius: 4px;
  padding: 1rem;
  font: 500 10px/11.72px Roboto Medium;
}

.crumbs-wrapper .active-crumb {
  text-decoration: none;
  color: #b11a83;
}

.tab-wrapper {
  border-bottom: 2px solid #CCC;
  display: flex;

  & ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      width: 150px;
      padding: 0.75rem;
      font-size: 0.75rem;
      text-align: center;
      cursor: pointer;
    }
  }
}

li.active {
  border-bottom: 2px solid rgba(37, 37, 171, 0.605);
}

.table-wrapper {
  border: 1px solid #CCC;

  & .table-wrapper-top {
    background-color: white;
    transform: translateY(20px);
    // padding: rem;
  }
}

::ng-deep .mat-tab-header {
  // height: 100px;

  transform: translateY(-50px) !important;
}

:ng-deep .mat-tab-body-wrrapper {
  transform: translateY(30px);
}

.body-wrapper {
  transform: translateY(30px);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;

  .reusecards {
    margin-bottom: 2px;
    //  height: 100px;
  }
}

.overview {
  margin-top: -8px;
}

td, th {
  text-align: center;
}

.text-right {
  float: right;
  width: 85%;
}

.action-btn {
  border: 1px solid #CCC;
  font-size: 12px;
}

.btn-group .btn {
  border: 1px solid #CCC;
  background-color: #fff;

  & .active {
    background-color: #CCC;
  }
}

.highcharts-container {

}

.amount {
  font-size: 16px;
  font-weight: 500;
}

.smaller-text {
  font-size: 11px;
}

.m-o {
  margin: 0;
}

.wert {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
}

.transaction {
  border-bottom: 1px solid #403b3b;
}

.feather-arrow-down {
  margin-top: -7px !important;
}

.card {
  border-radius: 0;
}

.sale {
  font-size: 10px;
  font-weight: 600;
}

.border {
  width: 100%;
  height: 2px;
  background-color: #000000;
  // padding: 0;
  // margin: 0;
}

.table-wrapper {
  transform: translateY(-70px);
}

.bar {
  padding: 0px 0px;
  margin: 0;

  .red-bar {
    width: 15%;
    height: 5px;
    background-color: red;
  }

  .light-green-bar {
    width: 45%;
    height: 5px;
    background-color: rgb(16, 230, 62);
  }

  .yellow-bar {
    width: 20%;
    height: 5px;
    background-color: rgb(238, 222, 50);
  }

  .blue-bar {
    width: 20%;
    height: 5px;
    background-color: rgb(17, 0, 255);
  }
}
