<div class="app-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-wrapper">
        <app-navbar></app-navbar>
        <div class="body-wrapper px-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
