.body-wrapper{
    background: #F8F8F8;
    padding-top: 5.5rem;
    padding-bottom: 1rem;
    min-height: 100vh;
    overflow-x: hidden;
}
@media screen and (max-width: 1024px){
    .main-wrapper{
        padding-left:200px;
    }
}
@media screen and (max-width: 991px){
    .main-wrapper{
        padding-left: 65px;
    }
}
