.tab-wrapper{
    border-bottom: 2px solid #CCC;
    display: flex;
    & ul{
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            width: 150px;
            padding: 0.75rem;
            font-size: 0.75rem;
            text-align: center;
            cursor: pointer;
        }
    }
}
.table-wrapper-top{
    background-color: white;
}   
td{

    & input{
        width: 25px;
        height: 25px;
    }
}

.table-top{
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0.5rem;
    & h4{
        align-self: center;
        margin-bottom: 0;
    }
}