<div>
    <div class="d-flex justify-content-between">
        <div class="crumbs-wrapper">
            <span>Overview / </span>
            <span class="active-crumb">&nbsp;Settings- Discounts</span>
        </div>

        <div>
          <a>Page tips</a>  
        </div>
    </div>

    <div>

        <div class="table-wrapper-top">
            <main class="table_parent mt-3">
                <div class="table-top">
                    <h4>
                        All Discounts
                    </h4>
                    <div>
                        <button class="btn btn-primary" routerLink="/settings/add-discount">Add New</button>
                    </div>
                </div>
                <app-reusables-filter></app-reusables-filter>

                <ng-container *ngIf="discountData">
                    <app-reusables-table [tableData]="discountData.data">
                        <ng-template #headers>
                            <th>Policy</th>
                            <th class="text-center">Terms & Condition</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Return Charges</th>
                            <th class="text-end">Actions</th>
                        </ng-template>
                    
                        <ng-template #rows let-tableRow>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span>
                                        <input type="checkbox" class="form-control">
                                   </span>
                                   <span class="px-2">
                                       {{tableRow.discountName}}
                                   </span>
                                </div>
                            </td>
                            <td class="text-center"> 
                                <a class="text-primary pointer" (click)="openDialog('Read', tableRow)">Read </a>
                            </td>
                            <td class="text-center"> 
                              {{ tableRow.storeLocations.length < 0 ? tableRow.storeLocations   : 'All' }}  
                            </td>
                            <td class="text-center">
                                Dish
                            </td>
                            <td class="text-end"> 
                                <div class="d-flex justify-content-end">
                                    <span class="text-primary pointer" (click)="openDialog('Assign',tableRow)">Assign Products</span>
                                    <span>
                                        <div class="dropdown">
                                            <i-feather class="text-primary small-icon text-bold" name="more-vertical"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i-feather>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                              <li><a class="dropdown-item" (click)="EditDiscount(tableRow.discountId)">
                                                   <i-feather name="copy" class="small-icon"></i-feather> Edit</a></li>
                                              <li><a class="dropdown-item"  (click)="openDialog('Apply',tableRow)">
                                                  <i-feather name="grid" class="small-icon"></i-feather>
                                                 &nbsp; Apply to Category</a></li>
                                              <li><a class="dropdown-item"  (click)="openDialog('Delete',tableRow)">
                                                   <i-feather name="trash-2" class="text-danger small-icon"></i-feather> &nbsp;Delete</a></li>
                                            </ul>
                                          </div>
                                    </span>
                                </div>
                            </td>
                        </ng-template>        
                    </app-reusables-table>
                </ng-container>
            </main>
        </div>
       
    </div>
   

</div>

