<div class="d-flex align-items-center justify-content-between p-2 border-bottom">
    <div class="form-inline ">
        <div class="input-group mr-3 position-relative w-100">
            <input type="text" class="form-control search_input" maxlength="100" placeholder="Invoice No/ customer">
            <i-feather class="position-absolute search" name="search"></i-feather>
        </div>
    </div>
    <div class="d-flex flex-col gap-2">
        <div class="d-flex" style="width: 23ch">
            <select class="form-select select_input" aria-label="Default select example">
                <option selected>Default Menu</option>
                <option value="1">One</option>
              </select>   
        </div>
        <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" (click)="showDropDown = !showDropDown" [ngClass]="{'show': showDropDown}" 
                class="sort_button btn btn-outline-dark dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                AZ
                </button>
                <ul [ngClass]="{'show': showDropDown}" class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Sort By</a></li>
                <li><a class="dropdown-item" href="#">Stock</a></li>
                <li><a class="dropdown-item" href="#">Price</a></li>
                <!-- <li><hr class="dropdown-divider"></li> -->
                <li class="button_container">
                    <a class="dropdown-item reset" href="#">Reset</a>
                    <a class="dropdown-item  apply bg-primary text-white">Apply</a>
                </li>
                </ul>
            </div>

            <div class="btn-group advanced_search_params">
                <button type="button" (click)="showAdvancedSearchParams = !showAdvancedSearchParams" [ngClass]="{'show': showAdvancedSearchParams}" 
                class="sort_button btn btn-outline-dark dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                 <i-feather name="filter"></i-feather>
                </button>
                <ul [ngClass]="{'show': showAdvancedSearchParams}" class="dropdown-menu advanced_search_params_container">
                  <li class="ps-2">
                    Select Filter
                  </li>
                <li class="my-3 px-2 search_params">
                    <label for="select_one">Product</label>
                    <select id="select_one" class="form-select" aria-label="Default select example">
                        <option selected>select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </li>
                <li class="my-3 px-2 search_params">
                    <label for="select_one">Price Range</label>
                    <select id="select_one" class="form-select" aria-label="Default select example">
                        <option selected>select </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </li>
                <li class="my-3 px-2 search_params">
                    <label for="select_one">Category</label>
                    <select id="select_one" class="form-select" aria-label="Default select example">
                        <option selected>select </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </li>

                <li class="my-3 px-2 search_params">
                    <label for="select_one">Stores</label>
                    <select id="select_one" class="form-select" aria-label="Default select example">
                        <option selected>select </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </li>
                <!-- <li><hr class="dropdown-divider"></li> -->
                <li class="button_container">
                    <a class="dropdown-item reset" href="#">Reset</a>
                    <a class="dropdown-item  apply bg-primary text-white">Apply</a>
                </li>
                </ul>
            </div>
       
    </div>
</div>