.form-inline{
    width: 30ch !important;
}

.form-control.search_input{
    border-radius: 2rem !important;
    width: 100%;
}

.search{
    right: .85ch;
    top: 8px;
    z-index: 5;
    height: 1.75ch;
    width: 1.75ch;
    color: var(--contentText-color);
}

.sort_button{
   padding: 1ch;
   border-color: transparent !important;
   opacity: .25 !important;
   background-color: transparent !important;
   &::after{
    display: none !important;
   }
   &:hover{
    opacity: 1 !important;
    color: black !important;
    background-color: transparent !important;
   }
}

.dropdown-menu.show{
    top: 4.5ch;
    left: -12.5ch;

    & .dropdown-item{
        font-family: 'Roboto Light' !important;
    }

    & li.button_container{
        display: flex;
        gap: 1ch;
        margin-top: 1ch;
        padding-inline: .55ch;
    }

    & .dropdown-item.apply, & .dropdown-item.reset{
        border: 1px solid var(--contentText-color);
        border-radius: 2ch;
        font-size: 1.15ch;
        text-align: center;
        padding-inline: .55ch;
        text-decoration: none;
    }

    & .dropdown-item.apply{
        border-color: transparent !important;
    }
}

.advanced_search_params{
    font-family: 'Roboto Light';
    font-weight: 600;
    color: black;

    & li:nth-child(1){
        font-family: 'Roboto Medium';
    }

    & .sort_button{
        opacity: 1 !important;
    }
    

    & .advanced_search_params_container{
        padding-block: .75ch;
        padding-inline: .5ch;
    }

    &  .search_params{
        font-weight: normal;

        & select{
            font-size: 1ch !important;
            height: 5.75ch !important;
            border-radius: 0 !important;

        }
    }
}