<div id="return-invoice">
    <div class="d-flex">
        <i-feather
          name="chevron-left"
          class="text-primary"
          (click)="back()"
        ></i-feather>
        <p>Invoices</p>
    </div>

    <div class="border-line"></div>
    <h6>Select Invoice</h6>
    <p>Search and select Invoice in order to return a product</p>

    <app-reusables-filter></app-reusables-filter>

    <app-reusables-table [tableData]="tableData">
      <ng-template #headers>
        <th>Invoice Id</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Invoice Amount</th>
        <th>Store</th>
        <th>Cashier</th>
        <th>POS</th>
      </ng-template>
      <ng-template #rows let-tableRow (click)="rowSelected(tableRow)">
        <td>
          {{ tableRow.ReferenceId }}
          <br />
          <p class="refund">Refund Due</p>
        </td>
        <td>
          {{ tableRow.CreateDate }}
          <br />
          <small class="text-muted">1:00PM</small>
        </td>
        <td>
            {{ tableRow.ContactNumber }} <br/>
            <small class="text-muted">Simeon Ononobi</small>
          </td>
        <td>
          {{ tableRow.ReferenceId }} <br />
          <small>
            <a class="text-primary text-small text-decoration-none"
              >View Details
              <i-feather name="chevron-right" class="small-icon"></i-feather>
            </a>
          </small>
        </td>
        
        <td>5000</td>
        <td>{{ tableRow.MerchantId }}</td>
        <td>{{ tableRow.MerchantId }}</td>
      </ng-template>
    </app-reusables-table>
</div>
