::ng-deep .mat-dialog-container{
    padding: 0px !important;
}
.search-group{
    border: 1px solid #C0CCDA;
    padding: 0.5rem;
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    & .search-input{
        width: 100%;
        outline: 0;
        border: 0;
    }
}
.card-footer div{
    display: flex;
    justify-content: end;
}
.big-icon{
    width: 50px;
}