<div class="wrapperr">
    <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Alert</h4>
            </div>              
            <div class="card-body">
                <ng-container *ngIf="modalData.action == 'Assign'">
                    All Products <span><i-feather class="text-dark small-icon" name="chevron-down"></i-feather>  </span>
                    <div class="search-group">
                        <i-feather name="search" placeholder="Search Product" class="small-icon text-muted"></i-feather>

                        <input type="text" class="search-input" [(ngModel)]="searchText" placeholder="Search">
                    </div>
                    <div class="pt-3 px-2">
                        <div class="d-flex mb-3" *ngFor="let item of items | filter: searchText">
                            <span>
                                <input type="checkbox" [(ngModel)]="item.checked" (change)="toggleChecked(item.id)">
                            </span>
                            <span class="px-2">
                                {{item.name}}
                            </span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="view == 'Delete'">

                    <div class="d-flex">
                        <div class="px-3">
                            <i-feather name="help-circle" class="big-icon text-warning"></i-feather>
                        </div>
                        <div class="px-3">
                           <p>
                            Associated Products will be without discounts if you do this <br />
                            Do you want to continue
                           </p>
                        </div>
                    </div>

                </ng-container>
                <ng-container *ngIf="view == 'ConfirmDelete'">
                        <div class="d-flex">
                            <div class="px-3">
                                <i-feather name="trash-2" class="big-icon text-warning"></i-feather>
                            </div>
                            <div class="px-3">
                               <p>
                                    Do you want to delete discount? This action can't be undone
                               </p>
                            </div>
                        </div>
                </ng-container>
            </div>  
            <div class="card-footer">
                <div [ngSwitch]="view">
                    <div *ngSwitchCase="'Assign'">
                        <span class="px-2">
                            <button class="btn btn-secondary" (click)="switchView('dismiss')">Close</button>
                          </span>
                          <span class="px-2">
                            <button class="btn btn-primary" (click)="switchView('confirm')">Confirm</button>
                        </span>
                    </div>
                    <div *ngSwitchCase="'Apply'">
                        <span class="px-2">
                            <button class="btn btn-secondary" (click)="switchView('dismiss')">Close</button>
                          </span>
                          <span class="px-2">
                            <button class="btn btn-primary" (click)="switchView('confirm')">Confirm</button>
                        </span>
                    </div>
                    <div *ngSwitchCase="'Delete'">
                        <span class="px-2">
                            <button class="btn btn-secondary" (click)="switchView('skipDelete')">Skip & Delete</button>
                          </span>
                          <span class="px-2">
                            <button class="btn btn-primary">Assign Discount</button>
                        </span>
                    </div>
                    <div *ngSwitchCase="'ConfirmDelete'">
                        <span class="px-2">
                            <button class="btn btn-secondary" (click)="switchView('dismiss')">Close</button>
                          </span>
                          <span class="px-2">
                            <button class="btn btn-danger" (click)="switchView('delete')">Delete</button>
                          </span>
                    </div>
                    <div *ngSwitchDefault>
                        <button class="btn btn-secondary" (click)="switchView('dismiss')">Close</button>
                    </div>
                </div>
            </div>
    </div>
</div>