

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: -60px;">
            <div class="left-panel mt-5">
                <div class="left-panel_wrapper mt-5">
                    <div class="py-2 mt-5 mb-4">
                        <img class="img-fluid" src="../../../assets/img/Signup/tycashLogo.png">
                    </div>
                    <div *ngIf="step==1">
                        <div>
                            <h4 class="labels">
                                OTP Verification
                            </h4>
                        </div>
                        <div class="form-group  mt-1 mb-4">
                            <small class="labelcolor">
                                Please enter the One Time Password (OTP) sent to 
                                <a class="text-primary decor">{{businessemailToValidate}}</a>
                            </small>
                        </div>
                    
                        <form action="">
                    
                            <div class="text-center">
                                <div class="form-group">
                    
                                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}">
                                    </ng-otp-input>
                                </div>
                                <div class="text-danger tx-12 _600" for="otp" *ngIf="inValidOtp">
                                    Enter Valid OTP
                                    received on email</div>
                                <div class="mt-1 mb-4">
                                    <div class="mb-2 mt-2">
                                        <label class="labelcolor" style="color: #8392A5;">Didn’t receive an email?
                                            <a class="text-primary decor"(click)="ResendOtp()" >
                                                Resend OTP
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row mt-2 mb-5">
                                <div type="submit" class="btn btn-primary btn-block mt-5">
                                    <a (click)="verifyOtp()">Proceed</a>
                                </div>
                            </div>
                    
                        </form>
                        <div class=" text-center" style="margin-top: 250px;">
                            <div class="mb-2">
                                <label class="labelcolor" style="color: #8392A5;">Still having issues?
                                    <a class="text-primary decor">
                                        Contact Support
                                    </a>
                                </label>
                            </div>
                        </div>
                    
                    </div>
                    
                    
                    
                    <!-- step==2 -->
                    <div *ngIf="step==2">
                        <div>
                            <h4 class="labels">
                                Reset Password
                            </h4>
                        </div>
                        <div class="form-group  mt-1 mb-4">
                            <small class="labelcolor">Create a strong password with at least 8 characters</small>
                        </div>
                        <div>
                            <i data-feather="eye"></i>
                        </div>
                    
                        <form action="" [formGroup]="Form_createPassword">
                    
                            <div class="form-group">
                    
                                <div class="input-group mb-3">
                                    <input class="form-control passowordcss" [type]="accShowPassword ? 'password' : 'text'"
                                        formControlName="Password" placeholder="Enter password"
                                        >
                                    <span class="pwd-viewer cursor-pointer" (click)="ToogleShowHideAccountPassword()">
                                        <i-feather [name]="accShowPassword ? 'eye-off' : 'eye'" class="password-eye-icon">
                                        </i-feather>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="text-danger tx-12  _600" for="Password"
                                    *ngIf="Form_createPassword.controls['Password'].hasError('required') && Form_createPassword.controls['Password'].touched
                                        && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                    Enter password </div>
                                <div class="tx-12  _600"
                                    *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                    <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">
                                        Password must contain at least 8 characters</span><br />
                                    <span
                                        [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">
                                        Password must contain at least one number (0-9)</span><br />
                                    <span
                                        [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">
                                        Password must contain at least one letter (A-Z)</span><br />
                                    <span
                                        [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">
                                        Password must contain at least one letter (a-z)</span><br />
                                    <span
                                        [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">
                                        Password must contain one special charater</span>
                                </div>
                            </div>
                    
                            <label for="" class="label">Confirm Password</label>
                            <div class="form-group">
                    
                                <div class="input-group mb-3">
                                    <input class="form-control passowordcss"
                                        [type]="accconfirmShowPassword ? 'password' : 'text'" placeholder="Create password"
                                        (input)="checkPassword($event)">
                                    <span class="pwd-viewer cursor-pointer" (click)="ToogleShowHideaccountconfirmPassword()">
                                        <i-feather [name]="accconfirmShowPassword ? 'eye-off' : 'eye'"
                                            class="password-eye-icon">
                                        </i-feather>
                                    </span>
                                </div>
                                <div class="text-danger tx-12  _600" for="PersonName" *ngIf="passwordMissmatch">
                                    Password Not Match </div>
                            </div>
                    
                    
                            <div class="row mt-2 mb-2">
                                <button type="submit" class="btn btn-primary btn-block mt-5"
                                (click)="createPassword_Form_process(Form_createPassword.value)"
                                    [disabled]="Form_createPassword.invalid || !(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC) || passwordMissmatch">
                                    <span>
                                        Reset Password
                                    </span>
                                </button>
                            </div>
                    
                        </form>
                    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-block gx-0">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active citem1" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card1.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    POS Campaigns
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With our customer management tool, you can derive more value <br> from your customer
                                    data
                                    and maximize ROI on data-driven <br> initiatives.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item citem2" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card2.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Business Dashboard
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    We show you what your customers buy and when they buy it. Keep <br> track of their
                                    spend and reward them accordingly and effectively.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item citem3" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card3.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Customer Database
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With the help of your collected data, you can identify trends and <br> behaviours
                                    that will create loyal customers.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mt-100" id="successModal" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 350px;" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="modal-part-two mb-5">
                    <div class="container mb-2 mt-2">
                        <div class="row text-center g-1">
                            <div class="col-md-12 p-1">
                                <h5 class="mt-2">
                                    <img src="assets/img/goodtogo.png" id="myImg" width="110px" height="110px" />
                                </h5>
                            </div>
                            <div class="col-md-12 p-1">
                                <h5 class="text-center" style="color: #3B4863;">Sign up Completed</h5>
                                <!-- <span class="text-center" style="color: #3B4863;">You have successfully added 1 new
                                    <span class="font-weight-bold">Manager</span>.</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
