<div id="credit-note-details">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <div>
        <i-feather
          name="chevron-left"
          class="text-primary"
          (click)="back()"
        ></i-feather>
      </div>
      <h5 class="mb-0">Credit Note #23208</h5>
      <span class="ms-2 refund">Refund Due</span>
      <span class="ms-2 card-payment">Card Payment</span>
    </div>

    <div class="actions-container" [matMenuTriggerFor]="menu">
      <i-feather name="book" class="small-icon"></i-feather>
      <p class="mb-0">Action</p>
      <i-feather name="chevron-down" class="small-icon"></i-feather>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Download PDF</button>
        <button mat-menu-item>Print</button>
        <button mat-menu-item>SMS To</button>
        <button mat-menu-item>Attach File</button>
      </mat-menu>
    </div>
  </div>

  <p class="text">Issued on Feb 02, 20223</p>
  <p class="text">Invoice No - {{creditNotesDetails?.invoiceNumber}}</p>
  <div class="border-line"></div>

  <div class="billing">
    <span>BILLED FROM</span>
    <h5>{{creditNotesDetails?.billedFrom?.company}}</h5>
    <p>{{creditNotesDetails?.billedFrom?.companyAddress}}</p>
    <p style="font-weight: 500">Email: {{creditNotesDetails?.billedFrom?.companyEmail}}</p>
  </div>

  <div class="billing">
    <span>BILLED TO</span>
    <h5>{{creditNotesDetails?.billedTo?.company}}</h5>
    <p>{{creditNotesDetails?.billedTo?.companyAddress}}</p>
    <p style="font-weight: 500">Email: {{creditNotesDetails?.billedTo?.companyEmail}}</p>
  
  </div>

  <div class="border-line"></div>

  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th class="col-name">Item</th>
        <th class="col-name">Description</th>

        <th class="col-name">Qty</th>
        <th class="col-name">Unit Price</th>
        <th class="col-name">Amount</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of creditNotesDetails?.returnedItems">
      <tr>
        <td>{{item?.productName}}</td>
        <td>Desc</td>
        <td>{{item?.quantity}}</td>
        <td>{{item?.unitPrice}}</td>
        <td>{{item?.totalPrice}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Sub-Total</td>     
        <td>creditNotesDetails?.returnedItems.totalPrice</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Charges</td>
        <td>500</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>      
        <td>Discount</td>
        <td>225</td>
      </tr>
    </tbody>


    <tbody>
      <tr>
        <td>Authorised Signature</td>
        <td></td>
        <td></td>
        <td>Total</td>
        
        <td>1525</td>
      </tr>
    </tbody>
  </table>

</div>
