#credit-note-details {
   
    .border-line {
        width: 100%;
        height: 0px;
        border: 0.8px solid #cbd5e0;
      }
    .actions-container {
        display: flex;
        gap: 1rem;
        border: 1px solid #C0CCDA;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: white;
    }

    .text {
        color: #9a9fa4;
    }

    .billing {
        margin-bottom: 1.5rem;
         span {
            font-size: 10px;
            font-weight: 500;
            color: #8392A5;
         }

         h5 {
            font-weight: 500;
            font-size: 15px;
           color: #1B2E4B;
         }

         p {
            font-size: 13px;
           color: #1B2E4B;
         }
    }

    .refund {
        padding: 0.125rem;
        background: #f7d1d2;
        color: #cc2529;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }

    .card-payment {
        padding: 0.125rem;
        background: #c3d2fe;
        color: blue;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }
}