<div class="card mb-5 ">
    <div class="card-header bg-white p-0">
        <div class="d-flex justify-content-between p-3 px-4">
            <div class="table-label">All Invoices</div>
        </div>
    </div>

    <div class="card-header bg-white">
        <div class="d-sm-flex">
            <div class="media ">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                    <i data-feather="file-text"></i>
                </div>
                <div class="media-body bd-pink">
                    <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Total Invoices
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        802
                    </h4>
                </div>
            </div>

            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                    <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
                </div>
                <div class="media-body">
                    <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                        Invoice Amount
                    </h6>
                    <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                        <span>₦</span>
                        20,00,0000
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="box-header px-3 pd-t-15 pd-b-7 d-flex align-items-center justify-content-between">


        <div class="form-inline ">
            <div class="input-group mr-3 position-relative">
                <input type="text" class="form-control search_input" maxlength="200" placeholder="Invoice ID/ Customer Name">
                <i-feather class="position-absolute search" name="search"></i-feather>
            </div>
        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft dropleftside">
                <a class="" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                        data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">

                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer ">
                            Name
                        </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20">
                            Reset
                        </button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft dropleftside">
                <a class="" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                        data-feather="filter"></i>
                </a>
                <div class="dropdown-menu pd-0 tx-13">
                    <form class="wd-400 ">
                        <h6
                            class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
                            Filters
                        </h6>
                        <div class="pd-25" style="overflow: auto; height: 80vh;">
                            <div>
                                <div class="form-group position-relative" id="admin_deal_soldhistory">
                                    <label>Date</label>
                                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                        daterangepicker />
                                </div>
                            </div>


                        </div>

                        <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
                            style="position: fixed; bottom:0%; margin-top: -2.5em ;">
                            <button type="button" class="btn btn-light btn-sm mr-2">
                                Reset
                            </button>
                            <button type="button" class="btn btn-primary btn-sm ">Apply</button>
                        </div>
                    </form>
                </div>
            </div>

        </nav>


    </div>


    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>
                        Invoice ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Inv Amount
                    </th>
                    <th>
                        Store
                    </th>
                    <th>
                        Cashier
                    </th>
                    <th>
                        POS
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="colorlabel">0123456789</div>
                        <div><span class="badge badge-success">Success</span></div>
                    </td>
                    <td>
                        <div class="colorlabel">02/04/2020</div>
                        <div>01.00 PM</div>
                    </td>
                    <td>
                        <div class="colorlabel">08988999900</div>
                        <div>Simeon Ononobi</div>
                    </td>
                    <td>
                        <div class="colorlabel">₦ 99,000,000.00</div>
                        <div (click)="OpenDetailsModal()" class="cursor-pointer">
                            <a class="text-primary" style="text-decoration: none;">
                                View Details <span><i data-feather="chevron-right"></i></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="colorlabel">Enyo Retail</div>
                        <div>Enyo Retail, Lekki</div>
                    </td>
                    <td>
                        <div class="colorlabel">Ahmadullah</div>
                        <div>0001</div>
                    </td>
                    <td>
                        <div class="colorlabel">3248A009</div>
                        <div class="text-secondary">Itex- GA Bank</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="card-footer pt-4 bg-white">
        <span class="mr-3">
            Showing
            <span class="bold">1 to
                5
            </span>of 10
        </span>
        <span>
            Show
            <select class="wd-50">
                <option>
                    10
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="CampaignList_Paginator" class="pagination pagination-space" nextLabel=""
                previousLabel="">
            </pagination-controls>
        </span>
    </div>
</div>