.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 0.25rem;
}


.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}



.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(72, 94, 144, 0.16);
}

.bg-white {
    background-color: #fff !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.p-3 {
    padding: 1rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.d-sm-flex {
    display: flex !important;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.wd-40 {
    width: 40px;
}

.wd-40p {
    width: 40%;
}

.wd-md-50 {
    width: 50px;
}

.wd-md-50p {
    width: 50%;
}

.ht-40 {
    height: 40px;
}

.ht-40p {
    height: 40%;
}

.ht-md-50 {
    height: 50px;
}

.ht-md-50p {
    height: 50%;
}

.bg-primary {
    background-color: #0168fa !important;
}

.tx-white {
    color: #fff;
}

.mg-r-10 {
    margin-right: 10px;
}

.mg-md-r-10 {
    margin-right: 10px;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.bd-pink {
    border-color: #f10075;
}

.tx-sans {
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
}

.tx-10 {
    font-size: 10px;
}

.tx-spacing-1 {
    letter-spacing: 0.5px;
}

.tx-color-03 {
    color: #8392a5;
}

.tx-semibold {
    font-weight: 600;
}

.tx-nowrap {
    white-space: nowrap;
}

.mg-b-5 {
    margin-bottom: 5px;
}

.mg-md-b-8 {
    margin-bottom: 8px;
}

.tx-20 {
    font-size: 20px;
}

.tx-sm-18 {
    font-size: 18px;
}

.tx-md-20 {
    font-size: 20px;
}

.tx-normal {
    font-weight: 400;
}

.tx-rubik {
    font-family: 'Rubik', sans-serif;
}

.mg-b-0 {
    margin-bottom: 0px;
}

.mg-t-20 {
    margin-top: 20px;
}

.mg-sm-t-0 {
    margin-top: 0px;
}

.mg-sm-l-15 {
    margin-left: 15px;
}

.mg-md-l-40 {
    margin-left: 40px;
}

.bg-success {
    background-color: #10b759 !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.pd-t-15 {
    padding-top: 15px;
}

.pd-b-7 {
    padding-bottom: 7px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline .form-check {
    width: 100%;
}

.form-inline .input-group,
.form-inline .custom-select {
    width: auto;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.9375rem + 2px);
    padding: 0.46875rem 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #596882;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c0ccda;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.btn,
.ui-datepicker-buttonpane button,
.sp-container button {
    display: inline-block;
    font-weight: 400;
    color: #001737;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.46875rem 0.9375rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-light {
    color: #f4f5f8;
    border-color: #f4f5f8;
}

.btn-outline-light:hover {
    color: #1c273c;
    background-color: #f4f5f8;
    border-color: #f4f5f8;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 245, 248, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f4f5f8;
    background-color: transparent;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.pd-0-10 {
    padding: 0px 5px;
}

.colorlabel {
    color: #1B2E4B
}

.plus-icon {
    color: #10B759 !important;
}

.plus-btn {
    border-right: 1px solid #ced4da !important;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.minus-btn {
    border-left: 1px solid #ced4da !important;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-right: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.minus-btn:focus {
    box-shadow: 0 0 0 1px #DC3545 !important;
}

.plus-btn:focus {
    box-shadow: 0 0 0 1px #10B759 !important;
}

.minus-icon {
    color: #DC3545 !important;
}

.search-icon {
    color: #3B4863 !important;
    margin: -8px !important;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.shadow-none {
    box-shadow: none;
}

.shadow-none-f {
    box-shadow: none !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}


.nav-with-icon .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-with-icon .nav-link+.nav-link {
    margin-left: 15px;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
}

.dropleftside{
    margin-right: 20px;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mg-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #001737;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}
.tx-13 {
    font-size: 13px;
}
.wd-250 {
    width: 250px;
}
.pd-15 {
    padding: 15px;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.76562rem;
    color: #7987a1;
    white-space: nowrap;
}

.tx-12 {
    font-size: 12px;
}
.tx-bold {
    font-weight: 700;
}
.tx-inverse {
    color: #001737;
}
.pd-b-20 {
    padding-bottom: 20px;
}

.pd-l-0 {
    padding-left: 0px;
}

.pd-t-0 {
    padding-top: 0px;
}
.float-right {
    float: right !important;
}
.cursor-pointer{
    cursor: pointer;
}
.btn-light {
    color: #1c273c;
    background-color: #f4f5f8;
    border-color: #f4f5f8;
}

.btn-light:hover {
    color: #1c273c;
    background-color: #dde0e9;
    border-color: #d5d9e4;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 214, 220, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #1c273c;
    background-color: #f4f5f8;
    border-color: #f4f5f8;
}

.wd-400 {
    width: 400px;
}

.wd-400-f {
    width: 400px !important;
}

.bd {
    border: 1px solid rgba(72, 94, 144, 0.16);
}

.pd-25 {
    padding: 25px;
}
.aside-logo {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: -3px;
}
.wd-100p {
    width: 100%;
}
.pd-15 {
    padding: 15px;
}
.mg-0 {
    margin: 0px;
}
.p-0 {
    padding: 0 !important;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #001737;
}
.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.wd-50 {
    width: 50px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-success {
    color: #fff;
    background-color: #10b759;
}

#TUTr_fdropdown ,#TUTr_sdropdown {
    text-decoration: none;
    cursor: pointer;
}

.form-control.search_input{
    border-radius: 2rem !important;
    width: 240px;
}
.search{
    right: .75ch;
    top: 6px;
    z-index: 5;
    height: 1.75ch;
    width: 1.75ch;
    color: var(--contentText-color);
}