<div id="popular-questions">
  <div class="d-flex justify-content-between mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/overview']" style="text-decoration: none">Overview</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/help']" style="text-decoration: none">Help</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">Popular Question</li>
      </ol>
    </nav>

    <a mat-button
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="popular-questions-body">
    <div class="popular-questions-head">
      <h6 class="page-title">TUC Help center</h6>
      <div class="border-line"></div>
    </div>

    <div class="questions-body-body">
      <div class="d-flex">
        <a href="/help"
          ><i-feather name="chevron-left" class=""></i-feather
        ></a>
        <h5>Popular Questions</h5>
      </div>
      <p>
        Here are some popular question which may help you in finding the
        Solution
      </p>

      <div class="border-line mb-4"></div>

      <div class="form-inline mb-4 col-4">
        <div class="input-group mr-3 position-relative w-100">
          <input
            type="text"
            class="form-control search_input"
            maxlength="100"
            placeholder="Write a Question or Problem"
          />
          <i-feather class="position-absolute search" name="search"></i-feather>
        </div>
      </div>

      <h6>How To Create Product ?</h6>

      <ul style="list-style-type: disc">
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor demping wem Emily
        </li>
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor demping wem Emily
        </li>
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          noumy ert ljmor sonar memoary solt dolor se latuw met dunkt illum
          nasctr ameru sadipscing .
        </li>

        <img src="assets/images/img-tuc.svg" class="mb-5" alt="" />

        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor demping wem Emily
        </li>
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor demping wem Emily
        </li>
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum elitr, sed diam nonumy eirmod tempor.
        </li>
      </ul>

      <h6>How To set tax in setup guide ?</h6>
      <ul style="list-style-type: disc">
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor demping wem Emily
        </li>
        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          noumy eirdr .
        </li>

        <li>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum elitr, sed diam nonumy eirmod tempor.
        </li>
      </ul>
    </div>
  </div>
</div>
