#popular-questions {
  .page-title {
    background-color: white;
    padding: 1.125rem 1rem;
    margin-bottom: 0rem;
    font-weight: 700;
    font-size: 19px;
  }

  .popular-questions-body {
    border: 1px solid #c0ccda;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;

    .questions-body-body {
      padding: 33px;

      h5 {
        color: #1b2e4b;
        opacity: 1;
        font-size: 20px;
        font-weight: 700;
      }

      p {
        color: #7987a1;
        font-size: 14px;
        margin-bottom: 26px;
      }

      .form-control.search_input {
        // border-radius: 2rem !important;
        width: 100%;
      }

      .search {
        right: 0.85ch;
        top: 8px;
        z-index: 5;
        height: 1.75ch;
        width: 1.75ch;
        color: var(--contentText-color);
      }

      .sort_button {
        padding: 1ch;
        border-color: transparent !important;
        opacity: 0.25 !important;
        background-color: transparent !important;
        &::after {
          display: none !important;
        }
        &:hover {
          opacity: 1 !important;
          color: black !important;
          background-color: transparent !important;
        }
      }
    }
  }

  h6 {
    color: #1b2e4b;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
  }

  li {
    font-size: 15px;
    color: #7987A1;
    margin-bottom: 18px;
  }
}
