.daysCircle {
    padding: 1rem;
    display: flex;
    & .day-item{
    color: #3B4863;
    background: rgba(95, 109, 136, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
        &:hover, &.active{
            color: #FFF;
            background: #0168FA;
        }
    }
}
.card-footer div{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    & .btn{
        width: 120px;
    }
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h4{
        margin-bottom: 0;
    }
    & div {
        & .btn{
            width: 120px;
        }
    }
}