<div class="page-wrapper">
    <div class="crumbs-wrapper">
        <span>Overview / </span>
        <span class="active-crumb">&nbsp;Settings- Discounts</span>
    </div>

    <div class="card discount-card">
        <div class="card-header">
            <div>
                <h4>Create New Discount</h4>
            </div>
            <div class="d-flex">
                <span class="px-2">
                    <button class="btn btn-secondary" (click)="returnHome()">Cancel</button>
                </span>
                <span class="px-2">
                    <button class="btn btn-primary">Save</button>
                </span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="DiscountForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Discount Name</label>
                                <input class="form-control" formControlName="name" type="text" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Discount Name on POS</label>
                                <input class="form-control" formControlName="posName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Discount Description</label>
                                <textarea cols="5" rows="5" formControlName="description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Discount Type <span class="text-danger">*</span> </label>
                                <select class="form-control" formControlName="type">
                                    <option disabled selected>Select</option>
                                    <option value="Brand">Brand</option>
                                    <option value="Product">Product</option>
                                    <option value="Order Value">Order Value</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h4>Discount Location</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-3">
                                <div>
                                    <input class="styled-checkbox" id="all-stores" 
                                        (click)="checkStores()" formControlName="isAllStores"
                                        type="checkbox">
                                    <label for="all-stores">All Stores</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!isAllStores">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dealCategory">Select Stores<span class="text-danger">*</span></label>
                                <ng-select class="ng-select-custom" [items]="storesList"
                                    [multiple]="true" bindLabel="text"
                                    bindValue="id" placeholder="Select Stores" [clearable]="false"
                                    [searchable]="true"
                                    formControlName="StoreListing" (ngModelChange)="countryChange($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Schedule Discount</h4>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" type="date" formControlName="startDate" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End Date</label>
                                <input class="form-control" type="date" formControlName="endDate" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mt-3">
                                <div>
                                    <input class="styled-checkbox" id="run-time" 
                                        (click)="checkTime()"
                                        type="checkbox">
                                    <label for="run-time">Run all Time</label>
                                </div>
                            </div>
                        </div>
                    </div>
                <ng-container *ngIf="!isAllTime">
                    <div class="row">
                        <div class="mb-3">
                            <h4>Discount runs from <span class="text-danger">*</span> </h4>
                            <div class="d-flex">
                                <span>
                                    <input class="form-control" type="time" formControlName="startTime" />
                                </span>
                                <span class="align-self-center px-2">
                                    TO
                                </span>
                                <span>
                                    <input class="form-control" type="time" formControlName="endTime" />
                                </span>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <h4 class="mb-0">Discount runs from <span class="text-danger">*</span> </h4>
                        <div class="d-flex">
                            <div class="daysCircle">
                                <span
                                *ngFor="let item of ScheduledDays" (click)="ToggleDay(item.key)"
                                class="day-item" [ngClass]="{active: selectedDays.includes(item.key)}">
                                {{item?.value}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="card-footer">
            <div>
                <span class="px-2">
                    <button class="btn btn-secondary" (click)="returnHome()">Cancel</button>
                </span>
                <span class="px-2">
                    <button class="btn btn-primary" (click)="updateDiscount(DiscountForm.value)">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>