<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="left-panel">
                <div class="left-panel_wrapper_Login">
                    <div class="py-2 mt-5 mb-4">
                        <img class="img-fluid" src="../../../assets/img/Signup/tycashLogo.png">
                    </div>
                    <div>
                        <div>
                            <h4 class="labels">
                                Forgot Password
                            </h4>
                        </div>
                        <div class="form-group  mt-1 mb-4">
                            <small class="labelcolor">
                                Enter your registered email address and we’ll send you an OTP
                            </small>
                        </div>

                        <form action="" [formGroup]="Form_BusinessEmail">
                            <div class="mt-2 mb-2">
                                <div class="form-group">
                                    <label for="email" class="headlabel">Business Email Address</label>
                                    <input type="email" name="" id="" class="form-control input-lg" id="EmailAddress" required
                                        placeholder="We’ll send a verification code to this email address"
                                        formControlName="EmailAddress"
                                        autocomplete="off">
                                        <div>
                                            <div class="text-danger tx-12  _600" for="EmailAddress"
                                                *ngIf="Form_BusinessEmail.controls['EmailAddress'].hasError('required') && Form_BusinessEmail.controls['EmailAddress'].touched">
                                                Enter email address
                                            </div>
                                            <div class="text-danger tx-12 _600" for="EmailAddress" *ngIf="Form_BusinessEmail.controls['EmailAddress'].hasError('minlength') || Form_BusinessEmail.controls['EmailAddress'].hasError('maxlength')
                                                || Form_BusinessEmail.controls['EmailAddress'].hasError('pattern')">
                                                Invalid email address
                                            </div>
                                        </div>
                                </div>

                            </div>

                            <div class="mt-2 mb-2">
                                <button type="submit" class="btn btn-primary btn-block mt-5"
                                [disabled]="!Form_BusinessEmail.valid"
                                    (click)="Form_SendOtp_Process(Form_BusinessEmail.value)">
                                    <span>Send OTP</span>
                                </button>
                            </div>
                        </form>
                    </div>
                   
                   

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-block gx-0">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active citem1" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card1.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    POS Campaigns
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With our customer management tool, you can derive more value <br> from your customer
                                    data
                                    and maximize ROI on data-driven <br> initiatives.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item citem2" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card2.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Business Dashboard
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    We show you what your customers buy and when they buy it. Keep <br> track of their
                                    spend and reward them accordingly and effectively.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item citem3" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card3.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Customer Database
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With the help of your collected data, you can identify trends and <br> behaviours
                                    that will create loyal customers.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>