<div class="slip-wrapper p-2">
  <div class="slip-head d-flex justify-content-between">
    <div class="font-weight-bold details">Details</div>
    <div class="d-flex">
      <button class="btn top-btn mx-2"><i-feather [name]="'save'" class="small-icon"></i-feather> <span class="btn-text">SAVE</span></button>
      <button class="btn top-btn"><i-feather [name]="'printer'" class="small-icon"></i-feather> <span class="btn-text">PRINT</span></button>
    </div>
  </div>
  <div class="main-slip-wrapper card my-3">
    <div class="text-center">
      <div class="card-head">
        <p class="fw-5 fs-12 m-0">Tax Invoice/Bill of Supply</p>
        <p class="fw-5 fs-12 m-0">Simeon Supperstore</p>
        <p class="text-muted m-0 fs-12">No. 4, onifadde street, Yaba POX 34567, Nigeria</p>
        <p class="text-muted m-0 fs-12">Lagos TAX NO - 345678876</p>
        <div class="px-5 d-flex justify-content-between">
          <div class="">
            <p class="m-0 fs-12 text-primary">+23456789567</p>
            <p class="m-0 fs-12 text-primary"  style="float: left">01/20/1999</p>
          </div>

          <div class="">
            <p class="m-0 fs-12 text-primary">Support@thankucash.com</p>
            <p class="m-0 fs-12 text-primary" style="float: right">10:56:89PM</p>
          </div>
        </div>
      </div><hr>
      <p class="text-center fw-5 m-0" >** INVOICE NO 7632783 **</p><hr>
      <div class="">
        <table>
          <thead>
            <th class="col-2">Item</th>
            <th class="col-2">Qty</th>
            <th class="col-2">Unit Price</th>
            <th class="col-2">Amount </th>
          </thead>
        <tbody>
          <tr>
            <hr style="width: 395%;">
          </tr>
          <tr>
            <td> Coca Cola</td>
            <td class="text-black"> 12</td>
            <td>₦300</td>
            <td>₦3600</td>
          </tr>
          <tr>
            <td> Coca Cola</td>
            <td class="text-black"> 12</td>
            <td>₦300</td>
            <td>₦3600</td>
          </tr>
          <tr>
            <hr style="width: 395%;">
          </tr>
          <tr>
            <td> </td>
            <td class="text-black"> </td>
            <td>Sub-Total</td>
            <td>₦7200</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr >
      <div class="px-3">
        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Deals</div>
          <div class="fs-12" >₦200</div>
        </div>
        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Rewards</div>
          <div class="fs-12" >₦200</div>
        </div>
        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Discount</div>
          <div class="fs-12" >₦200</div>
        </div>
        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Taxes @ VAT</div>
          <div class="fs-12" >₦300</div>
        </div>
        <hr>
        <div class="d-flex justify-content-between my-2">
          <div class="col-6"></div>
          <div class="fs-12" >Total Paid</div>
          <div class="fs-12" >₦2300</div>
        </div>
      </div>
      <hr>

      <div class="px-3">
        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >POS (TID)</div>
          <div class="fs-12" >6532873330 <br>
            <small class="text-muted float-right">Sterling Bank</small>
          </div>
        </div>

        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Customer Details</div>
          <div class="fs-12" >+2346532873330 <br>
            <small class="text-muted float-right">Ola OfLagos</small>
          </div>
        </div>

        <div class="d-flex justify-content-between my-2">
          <div class="text-muted fs-12" >Cashier</div>
          <div class="fs-12" >Henry<br>
            <small class="text-muted float-right"> 679</small>
          </div>
        </div>
      </div><hr>

      <div class="">
        <p class="thanks">Thanks for using Sammy Store</p>
      </div>
    </div>
  </div>

  <div class="float-right" >
    <button class="btn btn-modal-close float-right" (click)="onNoClick()">close</button>
  </div>
</div>
