.slip-wrapper{
  width: 400px;
}

.details{
  font-size: 20px;
  font-weight: 500;
}
.fw-5{
  font-weight: 500;
}

.fs-12{
  font-size: 12px;
}
.float-right{
  float: right;
}

.thanks{
  font-size: 14px;

}

.float-left{
  float: left;
}

.btn-modal-close{
  border-radius: 4px;
  background-color: rgb(183, 212, 231);
  color: #fff;
  width: 70px;
}

tr td{
  padding: 5px !important;
  font-size: 13px;
}

.m-0{
  margin: 0 !important;
}

hr{
  margin: 4px;
}
.top-btn{
  border: .7px solid #000000;
  width: 78px;
  border-radius: 5px;
}

.small-icon{
  font-size: 6px;
}

.btn-text{
  font-size: 11px;
}

.card{
  border-radius: 0;
}
