<div class="crumbs-wrapper">
    <span>Overview / </span>
    <span >&nbsp; Return /</span>
    <span class="active-crumb">&nbsp; Sales Return </span>
</div>
<div class="card">
    <div class="card-header">
        <span> <i-feather name="chevron-left" class="text-primary" (click)="back()"
            ></i-feather> INV-2709 </span>
        <span class="header-id"> 
            20-08-2020 at 5:18pm
        </span>
        <span>
            <i-feather name="smartphone" class="small-icon"></i-feather>
            TID-345678
        </span>
        <span>
            <button class="btn btn-header-btn">CARD PAYMENT</button>
        </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <div class="card-segment">
                    <h5>Item Details</h5>
                    <div class="search-input">
                        <input type="text" class="search-input-box" placeholder="Search Product">
                        <i-feather name="search" class="pr-2"></i-feather>
                    </div>
    
                    <div class="table">
                        <table class="table">
                            <thead class="table-light">
                              <tr>
                                <th>
                                    Products
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Total Price
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <div class="table-group">
                                      <i-feather name="check-circle" class="text-success"></i-feather>  
                                      <img src="" alt="product-image" />
                                      <div class="table-group-inner">
                                           <span>Mc Vites Digestive</span> 
                                           <span>Wheat <br /> 500gms</span>
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    NGN150
                                </td>
                                <td>
                                   6
                                </td>
                                <td>
                                    NGN900
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    <div>
                                      <i-feather name="check-circle" class="text-success"></i-feather>  
                                      <img src="" alt="product-image" />
                                      <div>
                                           <span>Mc Vites Digestive</span> 
                                           <span>Wheat <br /> 500gms</span>
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    NGN150
                                </td>
                                <td>
                                   6
                                </td>
                                <td>
                                    NGN900
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="card-segment">
                    <h5>Refund Details</h5>
                    <p>Select whether you want to refund or give credit for next purchase</p>
                    <span>
                        <i-feather name="check-circle" class="text-success"></i-feather>
                        Refund
                    </span>
                    <hr />
                    <label>Customer Note</label>
                    <textarea cols="5" rows="5" class="form-control bg-grey rounded" 
                            placeholder="Write note to customer that should be known to them">

                    </textarea>
                    <div class="form-group mt-3">
                        <label>SMS TO. <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="9823345678" />
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="user-card">
                    <div class="user-card-segment">
                        <div class="d-flex">
                           <h6 class="align-self-center">Payment Summary</h6>  
                           <span class="px-2">
                                <button class="btn text-success">Card</button>
                           </span> 
                        </div>
                        <div class="segment-list">
                            <span>Subtotal (8 items)</span>
                            <span>NGN 900</span>
                        </div>
                        <div class="segment-list">
                            <span>Delivery</span>
                            <span>NGN 100</span>
                        </div>
                        <div class="segment-list">
                            <span>Tax</span>
                            <span>NGN 100</span>
                        </div>
                        <div class="segment-list">
                            <span>Rewards</span>
                            <span>NGN 100</span>
                        </div>
                        <div class="mt-3">
                            <i-feather name="check-circle" class="text-success"></i-feather>
                            Return Policy Applied
                        </div>
                    </div>
                    <div class="lower-segment">
                        <span>Total paid by customer</span> 
                        <span>NGN 1100</span> 
                    </div> 
                    <div class="lower-segment bg-grey">
                       <span>Total amount Refunded </span> 
                       <span> NGN 1100</span>
                    </div>
                </div>
                

                <div class="card-segment">
                    <h6>Customer</h6>
                    <div class="d-flex">
                        <span>
                            <img src="" alt="user-img" class="rounded-img" />
                        </span>
                        <span>
                            Jeremy Gilbert <br />
                            8709292929
                        </span>
                    </div>
                    <hr />
                    <strong>Billing Store</strong>
                    <p>Trebet store <br />
                        Plot 505 sokode crescent<br>
                        off Dalaba street zone 5<br /> 
                     Wuse, abuja</p>
                </div>
                <div class="outline-bg-danger text-danger">
                    <span class="px-2">
                        <i-feather name="info"></i-feather>
                    </span>
                    <p>Rewards will not be awarded due to Return of Product</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-primary">Close</button>
    </div>
</div>
