#general-settings {
  .page-title {
    background-color: white;
    padding: 0.5rem 1.25rem;
    margin-bottom: 0rem;
    font-weight: 600;
    color: #1b2e4b;
    font-size: 14px;
  }

  .settings-body {
    border: 1px solid #cbd5e0;
    background-color: white;
    

    .body-section {
      display: flex;
    gap: 1.875rem;
    padding: 1.875rem 1.25rem;
    }

    .card-container {
      border: 1px solid #dfe5ec;
      padding: 0.625rem 1.25rem;
      width: 375px;

      .card-title {
        // margin-bottom: 1rem;
        color: #7987a1;
        font-size: 13px;
        font-weight: 700;
      }

      p {
        color: #7987a1;
        opacity: 1;
        margin-bottom: 18px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .border-line {
    width: 100%;
    height: 0px;
    border: 0.8px solid #dfe5ec;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

:host ::ng-deep .mat-slide-toggle-content {
    color: #0168FA;
    font-weight: 700;
}   


    :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: #0168FA ;
    }
    
    :host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #ffffff ;
    }

  
  .small-icon{
    rotate: -90deg;
    transition: rotate 300ms ease-in-out;

    &.rotate{
      rotate: 0deg;
    }
  }

  .example-section{
   opacity: 0;
   height: 0;
   transition: height 250ms ease-in-out, opacity 300ms ease-in-out;
  // overflow-y: hidden;

   &.show{
    opacity: 1;
    height: 80px;
    overflow-y: visible;
    transition: height 250ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms;
   }
  }