<div id="general-settings">
  <div class="bread-crumb-header d-flex justify-content-between">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" style="text-decoration: none">Overview</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Settings - General Settings
        </li>
      </ol>
    </nav>
    <a
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="settings-body">
    <h6 class="page-title">General Settings</h6>
    <div class="border-line"></div>

    <div class="body-section">
      <div class="first-section">
        <div class="card-container" style="overflow-y: hidden;">
          <div class="card-title">TRACKING STOCK MANAGEMENT</div>

          <mat-slide-toggle
           [(ngModel)]="enableTrackingForStock"
           name="enableTrackingForStock"
           (change)="startTracking($event)" class="mt-3"
            >Enable Tracking for Stock Management</mat-slide-toggle
          >

          <p>
            You can view all the notification regarding your stocks, such as Low
            stock alert .
          </p>

          <div class="border-line mb-2"></div>

          <div class="d-flex flex-column overflow-scroll">
            <span class="px-2 mb-1 d-inline-flex gap-2 w-50"  (click)="rotate = !rotate" style="cursor: pointer;">Select Store  <i-feather  [ngClass]="{'rotate': rotate}"  name="chevron-down" class="small-icon "></i-feather></span>
            <section class="example-section d-flex gap-2 flex-wrap" [ngClass]="{'show': rotate}">
              <ng-container *ngIf="storesOfThisMerchant$ | async as res">
                <mat-checkbox 
                 [checked]="store.isTracked"
                 [disabled]="store.isTracked"
                 (change)="addToSelectedStores($event, store)" color="primary" *ngFor="let store of res?.data; index as i"  class="example-margin">{{ store?.storeName }}</mat-checkbox>
                <span class="fw-semibold ps-2" *ngIf="res?.data!.length < 1">---No stores found for merchant----</span>
              </ng-container>
              
               
              
            </section>
          </div>
        </div>

        <div class="card-container">
          <div class="card-title">TAX MANAGEMENT</div>

          <mat-slide-toggle class="mt-3"
            [checked]="enableTaxes"
            (change)="startTaxing($event)"
            >Enable Tax to Products</mat-slide-toggle
          >

          <p>
            You can enable or disable taxes applying to your products .Set Off
            when you don’t want to apply tax to any product.
          </p>

          <div class="border-line mb-2"></div>

          <p>Taxes</p>

          <div class="d-flex">
            <div class="form-check px-3">
              <input
                class="form-check-input"
                type="radio"
                [(ngModel)]="taxes"
                name="taxes"
                value="Include"
                id=""
              />
              <label class="form-check-label">Inclusive in price</label>
            </div>
            <div class="form-check px-3">
              <input
                class="form-check-input"
                type="radio"
                name="taxes"
                value="Exclude"
                [(ngModel)]="taxes"
                id=""
              />
              <label>Exclusive from price</label>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="card-container">
          <div class="card-title">NOTIFICATION MANAGEMENT</div>

          <mat-slide-toggle class="mt-3"
          [(ngModel)]="generalNotifications.enableNotificationForStockAlert"
          name="enableNotificationForStockAlert"
           (change)="enableNotification($event, 'enableNotificationForStockAlert')"
            >Enable Notification for Stock Alert</mat-slide-toggle
          >

          <p>
            You can view all the notification regarding your stocks, such as Low
            stock alert .
          </p>

          <div class="border-line"></div>

          <mat-slide-toggle class="mt-3"
          [(ngModel)]="generalNotifications.enableProductReturnAlert"
          name="enableProductReturnAlert"
          (change)="enableNotification($event, 'enableProductReturnAlert')"
            >Enable Product return Alert</mat-slide-toggle
          >

          <p>
            You can enable or disable alert regarding the returning or
            cancellation of product.
          </p>

          <div class="border-line"></div>

          <mat-slide-toggle class="mt-3"
          [(ngModel)]="generalNotifications.enableEmailAlert"
          name="enableEmailAlert"
          (change)="enableNotification($event, 'enableEmailAlert')"
            >Enable Alert Through Email</mat-slide-toggle
          >

          <p>
            Get all the Alerts as low stock & return alert regarding your
            product through mail.
          </p>

          <div class="border-line"></div>

          <mat-slide-toggle class="mt-3"
          [(ngModel)]="generalNotifications.autoGenerateCreditNote"
          name="autoGenerateCreditNote"
          (change)="enableNotification($event, 'autoGenerateCreditNote')"
            >Generate credit Note Automatically</mat-slide-toggle
          >

          <p>
            Generate your credit note automatically .Disabling this will let you
            fill your and generate credit note manually.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
