.gredientBorder {
    background: linear-gradient(to right, #F10875 25%, #00CCCC 25%, #00CCCC 50%, #FFC20A 50%, #FFC20A 75%, #0168FA 75%) right bottom no-repeat;
    /* position: absolute; */
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
}

.card.mt-2.mb-2:hover {
    cursor: pointer;
}

.text-white{
    color: #fff;
}
.left-panel_wrapper{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
   
}
.left-panel_wrapper_Login{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-top: 80px;
}

.mt-10 {
    margin-top: 150px;

}

 .left-panel {
    display: flex;
    margin-left: 120px;
} 


.labels {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1B2E4B;
    font-family: 'Plus Jakarta Sans';
}

.headlabel {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3B4665;
}

.decor {
    text-decoration: none;
    cursor: pointer;
}

.cardpara {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.cardheading {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1B2E4B;
}

@media screen and (max-width: 600px) {
    .left-panel {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Login css */
.password-eye-icon {
    width: 20px;
    color: #3B4665;
}

.pwd-viewer {
    /* z-index: 9999; */
    z-index: 501;
    position: absolute;
    top: 15%;
    right: 10px;
}

.passowordcss {
    border-radius: 0.375rem !important;
}

.labelcolor {
    color: #8392A5;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Plus Jakarta Sans';
    
   

}


.email-lbl {
    margin-top: 40px;
}

.forgot-pwd {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #1068FA;
}

.welcome-label {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1B2E4B;
    margin-top: 50px;
}

.headlabel {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3B4665;

}

.custom-form {
    border: none;
    padding: 0.25rem;
    width: 100%;
}

::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #8392A5;
}
.cardpara {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: 'Plus Jakarta Sans';
    
}

.cardheading {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #1B2E4B;
}

.dropdown-item-auth-selected {
    width: 20px;
  
  }