<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">

            <div class="left-panel">
                <div class="left-panel_wrapper_Login">

                    <div class="py-2 ">
                        <img class="img-fluid" src="assets/img/Signup/tycashLogo.png">
                    </div>
                     
                    <!-- step==1 -->
                    <div>
                        <span>

                        </span>

                        <div>
                            <h4 class="labels">
                                Get started on this journey!
                            </h4>
                        </div>
                        <div class="form-group  mt-1 mb-4">
                            <small class="labelcolor">Already have an account?
                                <a class="text-primary decor" [routerLink]="['/auth/login']">
                                    Login
                                </a>
                            </small>
                        </div>

                        <form action="" [formGroup]="Form_SignUp" role="form">
                            <div class="mt- mb-2">
                                <div class="form-group">
                                    <label for="Country" class="headlabel">Country <span
                                            class="text-danger">*</span></label>
                                            <select class="form-select" required (change)="onChange($event)">
                                                <option value="" selected class="text-muted">Select Country</option>
                                                <option value="1">Nigeria</option>
                                                <option value="2">Ghana</option>
                                              
                                                </select>

                                              
                                </div>
                                <!-- <div class="text-danger tx-12  _600" for="PersonName"
                                    *ngIf="Form_SignUp.controls['countryId'].hasError('required') && Form_SignUp.controls['countryId'].touched">
                                    Select Country </div> -->
                            </div>

                            <div class="mt-2 mb-2">
                                <div class="form-group">
                                    <label for="contactPersonName" class="headlabel">
                                        Contact Person Name
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="contactPersonName" required
                                        formControlName="contactPersonName" placeholder="Enter contact person name"
                                        autocomplete="off">
                                    <div>
                                        <div class="text-danger tx-12  _600" for="contactPersonName"
                                            *ngIf="Form_SignUp.controls['contactPersonName'].hasError('required') && Form_SignUp.controls['contactPersonName'].touched">
                                            Enter Person Name</div>

                                        <div class="text-danger tx-12 _600" for="contactPersonName"
                                            *ngIf="Form_SignUp.controls['contactPersonName'].hasError('minlength') || Form_SignUp.controls['contactPersonName'].hasError('maxlength')">
                                            Person Name must be between 4 - 256 characters
                                        </div>
                                        <div class="text-danger tx-12  _600" for="contactPersonName"
                                            *ngIf="Form_SignUp.controls['contactPersonName'].hasError('pattern')">
                                            Only alpha numeric characters are allowed
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-2">
                                <div class="form-group">
                                    <label for="merchantName" class="headlabel">
                                        Business Name
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="merchantName" required
                                        formControlName="merchantName" placeholder="Enter business name"
                                        autocomplete="off">
                                    <div>
                                        <div class="text-danger tx-12  _600" for="merchantName"
                                            *ngIf="Form_SignUp.controls['merchantName'].hasError('required') && Form_SignUp.controls['merchantName'].touched">
                                            Enter business name
                                        </div>
                                        <div class="text-danger tx-12 _600" for="merchantName"
                                            *ngIf="Form_SignUp.controls['merchantName'].hasError('minlength') || Form_SignUp.controls['merchantName'].hasError('maxlength')">
                                            Business name must be between 4 - 256 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-2">
                                <div class="form-group">
                                    <label for="email" class="headlabel">
                                        Business Email Address
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="email" required
                                        formControlName="emailAddress"
                                        placeholder="Enter contact person email address" autocomplete="off">
                                    <div>
                                        <div class="text-danger tx-12  _600" for="emailAddress"
                                            *ngIf="Form_SignUp.controls['emailAddress'].hasError('required') && Form_SignUp.controls['emailAddress'].touched">
                                            Enter email address
                                        </div>
                                        <div class="text-danger tx-12 _600" for="emailAddress" *ngIf="Form_SignUp.controls['emailAddress'].hasError('minlength') || Form_SignUp.controls['emailAddress'].hasError('maxlength')
                                            || Form_SignUp.controls['emailAddress'].hasError('pattern')">
                                            Invalid email address
                                        </div>
                                    </div>
                                </div>
                            </div>

                           

                            <div class="mt-2 mb-2">

                                <label class="d-block">
                                    Phone Number
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group d-flex form-control align-items-center pl-0">
                                    <span class="me-1">
                                        <div>
                                            <div class="d-flex">
                                                <!-- <div *ngIf="!conutrystatus"> -->
                                                    <button *ngIf="!conutrystatus" class="btn me-1" type="button" style="border: 1px solid #ccc;">
                                                        <img class="dropdown-item-auth-selected" src='../../../assets/img/Signup/countries/nigeria_icon.png'>
                                                    </button>
                                                    <span *ngIf="!conutrystatus" class="align-self-center">233</span>
                                                <!-- </div> -->
                                                <!-- <div *ngIf="conutrystatus"> -->
                                                    <button *ngIf="conutrystatus"class="btn me-1" type="button" style="border: 1px solid #ccc;">
                                                        <img class="dropdown-item-auth-selected" src='../../../assets/img/Signup/countries/kenya_icon.png'>
                                                    </button>
                                                    <span *ngIf="conutrystatus" class="align-self-center">234</span>
                                                <!-- </div> -->
                                              
                                            </div>
                                        </div>
                                    </span>
                                    <span class="w-100">
                                        <input class="custom-form" type="text"  id="phone"
                                            aria-label="We will send a verification code to this number"
                                            formControlName="phoneNumber" maxlength="10" minlength="10"
                                            placeholder="Enter contact person phone number"
                                            oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </span>
                                </div>
                                <div>
                                    <div class="text-danger tx-12  _600" for="phoneNumber"
                                        *ngIf="Form_SignUp.controls['phoneNumber'].hasError('required') && Form_SignUp.controls['phoneNumber'].touched">
                                        Enter mobile number
                                    </div>
                                    <div class="text-danger tx-12 _600" for="phoneNumber" *ngIf="Form_SignUp.controls['phoneNumber'].hasError('minlength') || Form_SignUp.controls['phoneNumber'].hasError('maxlength')
                                        ||Form_SignUp.controls['phoneNumber'].hasError('pattern')">
                                        Enter valid mobile number
                                    </div>
                                </div>

                            </div>

                            <div class="mt-2 mb-2">
                                <div class="mb-2 mt-2">
                                    <label class="labelcolor" style="color: #8392A5;">
                                        By clicking on create account, you agree to the
                                        <span class="text-primary">
                                            <a class="decor" target="_blank" href="https://thankucash.com/terms">
                                                Terms of Service
                                            </a>
                                        </span> and<span class="text-primary">
                                            <a class="decor" target="_blank" href="https://thankucash.com/privacy">
                                                Privacy Policy
                                            </a>
                                        </span> of ThankUCash
                                    </label>
                                </div>
                            </div>
                            <!--  [disabled]="!Form_SignUp.valid" -->
                            <div class="mt-2 mb-2">
                                <button type="submit" class="btn btn-primary btn-block mt-5"  [disabled]="!Form_SignUp.valid"
                                (click)="registration_Form_process(Form_SignUp.value)">
                                   
                                    <span>
                                        Proceed
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-block gx-0">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active citem1" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card1.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Inventory Management
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With our inventory management tool, you can derive more value<br>
                                     from your customer data and maximize ROI on data-driven initiatives.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item citem2" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card2.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Business Dashboard
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    We show you what your customers buy and when they buy it. Keep <br> track of their
                                    spend and reward them accordingly and effectively.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item citem3" data-bs-interval="2000">
                        <div class="text-center d-flex align-items-center justify-content-center h-100">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img src="assets/img/Signup/card3.svg" class="d-block w-100" alt="">
                                </div>
                                <h2 class="text-white mt-5 mb-2">
                                    Customer Database
                                </h2>
                                <label for="" class="text-white mt-3 mb-0">
                                    With the help of your collected data, you can identify trends and <br> behaviours
                                    that will create loyal customers.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleFade" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

</div>