

.main-cashier-wrapper{
  background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
  border-radius: 3px;
  border: 1px solid rgb(193, 188, 188);
}

.text-left{
  float: left;
}

.pointer{
  cursor: pointer;
}

.storelist{
  width: 150px;
  height: 40px;
  margin-top: 4px;
  border-radius: 5px;
  border: .4px solid #d3d0d0
}
th, td{
  text-align: center;
}
.card-head{
  border-bottom: 1Px solid #c5d8e6;
}
.profile{
  border-radius: 50%;
  border: 2px solid rgb(1, 101, 53);
}

.font-weight-bold{
  font-weight: 600;
  font-size: 13px;
}
.grey-p{
  color: #202528;
  font-size: 12px;
  margin-bottom: 5px;
}

.bold-p{
  color: #463f3f;
  font-size: 16px;
  font-weight: 500;
}

.body-wrapper{
  border-bottom: 1px solid #c5d8e6;
}

.btn-modal{
  border-radius: 4px;
  background-color: rgb(136, 157, 170);
  color: #fff;
  width: 70px;
}

.crumbs-wrapper {
  border-radius: 4px;
  padding: 1rem;
  font: 500 10px/11.72px Roboto Medium;
}
.crumbs-wrapper .active-crumb {
  text-decoration: none;
  color: #b11a83;
}
.tab-wrapper{
  border-bottom: 2px solid #CCC;
  display: flex;
  & ul{
      display: inline-flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
          width: 150px;
          padding: 0.75rem;
          font-size: 0.75rem;
          text-align: center;
          cursor: pointer;
      }
  }
}
li.active{
  border-bottom: 2px solid rgba(37, 37, 171, 0.605);
}
.table-wrapper{
  border: 1px solid #CCC;
 & .table-wrapper-top{
      background-color: white;
      // padding: rem;
  }
}
.m-0{
  margin: 0;
}
.border-b{
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(54, 54, 243);
}
