<div class="cashier-wrapper">
  <div class="cashier-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/overview']">Overview</a></li>
        <li class="breadcrumb-item" aria-current="page">Cashier</li>
      </ol>
    </nav>
  </div>
  <div class="stores my-4">
      <select class="storelist form-select select_input" aria-label="Default select example">
        <option value="">All Store</option>
        <option value="{{item.storeId}}" *ngFor="let item of storeList"> {{item.storeName}}</option>
      </select>
  </div>
  <div class="main-cashier-wrapper">
    <div class="card-head py-2 px-3">
      <span style="font-size: 13px;">All Cashier</span>

    </div>
      <div class="body-wrapper px-2">
        <div class="d-flex p-3">
          <div class="px-4 pointer" (click)="getCashiers('')" [ngClass]="{'border-b': allCashier}">
              <app-reusables-cards [data]="{featherIconNames:'gift', countHeadingText: 'ALL', countValue: cashierCount.totalActive + cashierCount.totalInActive, backgroundColors:['bg-primary']}"></app-reusables-cards>
          </div>
          <div class="px-4 pointer" (click)="getCashiers('Active')" [ngClass]="{'border-b': activeCashier}">
              <app-reusables-cards [data]="{featherIconNames:'table',countHeadingText: 'ACTIVE', countValue: cashierCount.totalActive, backgroundColors:['bg-secondary']}"></app-reusables-cards>
          </div>
          <div class="px-4 pointer" (click)="getCashiers('Blocked')" [ngClass]="{'border-b': blockedCashier}">
            <app-reusables-cards [data]="{featherIconNames:'table', countHeadingText: 'BLOCKED', countValue: cashierCount.totalIsBlocked, backgroundColors:['bg-danger']}"></app-reusables-cards>
        </div>
        <div class="px-4 pointer" (click)="getCashiers('InActive')" [ngClass]="{'border-b': inActiveCashier}">
          <app-reusables-cards [data]="{featherIconNames:'table', countHeadingText: 'INACTIVE', countValue: cashierCount.totalInActive, backgroundColors:['bg-warning']}"></app-reusables-cards>
      </div>
      </div>
      </div>

      <div class="table-wrapper">
        <div class="table-wrapper-top">
          <main class="table_parent mt-3">
            <app-reusables-filter></app-reusables-filter>

            <app-reusables-table [tableData]="cashierList">

            <ng-template #headers>
                <th>Name</th>
                <th>Cashier ID</th>
                <th>Employee ID</th>
                <th>Contact </th>
                <th>Store</th>
                <th>Added on</th>
                <th>Last Transaction</th>
            </ng-template>

              <ng-template #rows let-tableRow >
                  <td class="row pointer" [routerLink]="['cashier-details',tableRow.userId]">
                    <div class="px-1 col-3">
                      <img width="35" class="profile" src="../../../../assets/images/profile.jpeg" alt="Profile-image">
                    </div>
                    <div class="col-8">
                      <p class="font-weight-bold text-center">{{tableRow.firstName + " " +tableRow.lastName}}</p>
                      <small>
                      <p class="text-muted text-center">{{tableRow.gender}}</p>
                      </small>
                    </div>
                  </td>
                  <td class="pointer" [routerLink]="['cashier-details',tableRow.userId]"> {{tableRow.id}}
                  </td>
                  <td class="text-black pointer" [routerLink]="['cashier-details',tableRow.userId]"> {{tableRow.cashierCode}}
                </td>
                  <td  class="pointer" [routerLink]="['cashier-details',tableRow.userId]">
                    <div class="col-12">
                      <small>
                        <span class="font-weight-bold text-danger ">{{tableRow.phoneNumber}}</span>
                        <p class="text-muted">{{tableRow.emailAddress}}</p>
                      </small>
                    </div>
                  </td>
                  <td  class="pointer" [routerLink]="['cashier-details',tableRow.userId]">
                    <div class="col-12">
                    <small>
                      <span class="font-weight-bold text-black ">One good store</span>
                      <p class="text-muted ">New street Agege Lagos</p>
                    </small>
                  </div>
                  </td>
                  <td  class="pointer" [routerLink]="['cashier-details',tableRow.userId]">{{tableRow.dateCreated | date}}
                  </td>
                  <td  class="pointer" [routerLink]="['cashier-details',tableRow.userId]">{{tableRow.authUser == null ? "--" : tableRow.authUser.lastLogin | date}}
                  </td>
              </ng-template>

        </app-reusables-table>
        </main>
        </div>
    </div>
  </div>
</div>
