.action-btn{
    border: 1px solid #CCC;
    font-size: 12px;
}
.btn-group .btn{
    border: 1px solid #CCC;
    background-color: #fff;
    & .active{
        background-color: #CCC;
    }
}
.blocks{
    display: flex;
    margin-bottom: 1rem;
}

.success-block{
    padding: 1rem;
    border-radius: 7px;
    background-color: green;
    color: #fff;
    text-align: center;

}
.neutral-block{
    padding: 0.5rem;
    width: 4rem;
    text-align: center;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #CCC;
}


.block-text{
    padding-left: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    & .text-muted{
        font-size: 0.75rem;
    }
}
.color-patch{
    width: 1rem;
    height: 1rem;
}
.timeline-body{
    display: flex;
    & .timeline-holder{
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        & .color-patch{
            border-radius: 2px;
        }
    }
}
a{
    text-decoration: none;
}
.card-header{
    & h4{
        font-weight: 500;
        font-size: 18px;
    }
}
.btn-group{
    .active{
        background-color: #C0CCDA;
    }
}