<div>
    <div class="crumbs-wrapper">
        <span>Overview / </span>
        <span >&nbsp; Reports & Analytics /</span>
        <span class="active-crumb">&nbsp; Sale-Analytics</span>
    </div>

    <div>

        <div class="d-flex py-2 px-3">
            <div class="form-check px-3">
                <input class="form-check-input" type="radio" name="productType" id=""/>
                <label class="form-check-label">Packed products</label>
            </div>
            <div class="form-check px-3">
                <input class="form-check-input" type="radio" name="productType" id=""/>
                <label>Loose products</label>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex py-3">
                <div class="px-2">
                    <input class="form-control" type="date" />
                </div>
                <div class="px-2">
                    <div class="dropdown">
                        <button class="btn bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          All Stores
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" *ngFor="let item of StoreResponse?.data">{{item.storeName}}</a></li>
                            <li *ngIf="!StoreResponse">
                                <a class="dropdown-item" disabled>No Store availables</a>
                            </li>
                        </ul>
                      </div>
                </div>

                <div class="px-2"  *ngIf="isStockUpdate">
                    <div class="dropdown">
                        <button class="btn bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Product List
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Store 1</a></li>
                          <li><a class="dropdown-item" href="#">Store 2</a></li>
                        </ul>
                      </div>
                </div>
            </div>
            
            

            <div class="d-flex">
                <div class="d-flex align-self-center justify-content-between">
                    <span class="px-2">
                        <button class="btn action-btn">
                            <i-feather name="printer" class="small-icon"></i-feather>
                            Print
                        </button> 
                    </span>
                    <span class="px-2">
                        <button class="btn action-btn">
                            <i-feather name="external-link" class="small-icon"></i-feather>
                            Export
                        </button>
                    </span>
                    <span class="px-2">
                        <button class="btn action-btn">
                            <i-feather name="share-2" class="small-icon"></i-feather>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div >
            <mat-tab-group (selectedTabChange)="switchTabs($event)">
                <mat-tab label="Product Inventory"> 
                    <div class="d-flex justify-content-end py-3">
                        <div class="d-flex align-self-center mt-3">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Year')" 
                                        [ngClass]="{active: PeriodType =='Year'}" >Year</button>
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Quarter')" 
                                        [ngClass]="{active: PeriodType =='Quarter'}">Quarter</button>
                                <button type="button" class="btn btn-neutral" 
                                        (click)="setPeriod('Month')" 
                                        [ngClass]="{active: PeriodType =='Month'}" >Month</button>
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Week')"    
                                        [ngClass]="{active: PeriodType =='Week'}">Week</button>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="card">
                        <div class="card-header d-flex justify-content-between bg-white">
                            <span>
                                <h4>Product Inventory</h4>
                                <span>
                                    <span>18 May-22 May, 2020 compared to </span> 
                                    <span class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            LAST WEEK
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </span>
                                </span>
                            </span>
                            <span class="timeline-body">
                                <div class="timeline-holder">
                                    <div class="color-patch bg-primary"></div> 
                                    <span> 18 May-22 May, 2020</span>
                                </div>
                                <div class="timeline-holder">
                                    <div class="color-patch bg-warning"></div> 
                                    <span> 18 May-22 May, 2020</span>
                                </div>
                                <div class="px-2 d-flex align-items-center">
                                    <i-feather name="filter" class="small-icon"></i-feather>
                                </div>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-9">
                                    <div id="chartContainer" style="width: 100%; height: 400px;"></div>
                                </div>
                                <div class="col-md-3 d-flex flex-column justify-content-center">
                                    <div class="blocks">
                                        <span class="success-block">
                                            30%
                                        </span>
                                        <span class="block-text">
                                            <span class="text-success">N123,123.234</span>
                                            <span class="text-muted">TOTAL DIFFERENCE</span>
                                        </span>
                                    </div>
    
                                    <div class="blocks">
                                        <span class="neutral-block">
                                            18 <br />
                                            May
                                        </span>
                                        <span class="block-text">
                                            <span class="text-primary">N123,123.234</span>
                                            <span class="text-muted">SALE AMOUNT</span>
                                        </span>
                                    </div>
    
                                    <div class="blocks">
                                        <span class="neutral-block">
                                            11 <br />
                                            May
                                        </span>
                                        <span class="block-text">
                                            <span class="text-primary">N123,123.234</span>
                                            <span class="text-muted">SALE AMOUNT</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                           
                            <hr />
                        </div>
                        <div class="d-flex justify-content-around pb-5">
                            <ng-container *ngIf="StockUpdateData">
[                               <span>Sale amount : <strong>{{StockUpdateData.data.salesWithTax}}</strong> </span>
                                <span>Sales with Tax : <strong>{{StockUpdateData.data.salesWithoutTax}}</strong> </span>
                                <span>Sale Revenue : <strong>{{StockUpdateData.data.revenue}}</strong> </span>
                                <span class="text-primary text-strong"><i-feather name="file-text" class="small-icon"></i-feather>
                                    <strong>View report</strong></span>

                            </ng-container>
                            
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Stock Update Report"> 
                    <div class="d-flex justify-content-end py-3">
                        <div class="d-flex align-self-center mt-3">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Year')" 
                                        [ngClass]="{active: PeriodType =='Year'}" >Year</button>
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Quarter')" 
                                        [ngClass]="{active: PeriodType =='Quarter'}">Quarter</button>
                                <button type="button" class="btn btn-neutral" 
                                        (click)="setPeriod('Month')" 
                                        [ngClass]="{active: PeriodType =='Month'}" >Month</button>
                                <button type="button" class="btn btn-neutral"
                                        (click)="setPeriod('Week')"    
                                        [ngClass]="{active: PeriodType =='Week'}">Week</button>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="card">
                        <div class="card-header d-flex justify-content-between bg-white">
                            <span>
                                <h4>Returns Report</h4>
                                <span>
                                    <span>18 May-22 May, 2020 compared to </span> 
                                    <span class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            LAST WEEK
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </span>
                                </span>
                            </span>
                            <span class="timeline-body">
                                <div class="timeline-holder">
                                    <div class="color-patch bg-primary"></div> 
                                    <span> 18 May-22 May, 2020</span>
                                </div>
                                <div class="timeline-holder">
                                    <div class="color-patch bg-warning"></div> 
                                    <span> 18 May-22 May, 2020</span>
                                </div>
                                <div class="px-2 d-flex align-items-center">
                                    <i-feather name="filter" class="small-icon"></i-feather>
                                </div>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-9">
                                    <div id="chartContainer" style="width: 100%; height: 400px;"></div>
                                </div>
                                <div class="col-md-3 d-flex flex-column justify-content-center">
                                    <div class="blocks">
                                        <span class="success-block">
                                            30%
                                        </span>
                                        <span class="block-text">
                                            <span class="text-success">N123,123.234</span>
                                            <span class="text-muted">TOTAL DIFFERENCE</span>
                                        </span>
                                    </div>
    
                                    <div class="blocks">
                                        <span class="neutral-block">
                                            18 <br />
                                            May
                                        </span>
                                        <span class="block-text">
                                            <span class="text-primary">N123,123.234</span>
                                            <span class="text-muted">SALE AMOUNT</span>
                                        </span>
                                    </div>
    
                                    <div class="blocks">
                                        <span class="neutral-block">
                                            11 <br />
                                            May
                                        </span>
                                        <span class="block-text">
                                            <span class="text-primary">N123,123.234</span>
                                            <span class="text-muted">SALE AMOUNT</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                           
                            <hr />
                        </div>
                        <div class="d-flex justify-content-around pb-5">
                            <ng-container *ngIf="AnalyicsGraphResponse">
                                    <span>Available Stock : <strong>{{AnalyicsGraphResponse.data.availableStock}}</strong> </span>
                                    <span>Opening Stock <strong>{{AnalyicsGraphResponse.data.openingStock}}</strong> </span>
                                    <span>Sold Stock : <strong>{{AnalyicsGraphResponse.data.soldStock}}</strong> </span>
                                    <span class="text-primary text-strong"><i-feather name="file-text" class="small-icon"></i-feather>
                                        <strong>View report</strong></span>
                            </ng-container>
                            
                        </div>
                    </div>
                

                </mat-tab>
            </mat-tab-group>
        </div>
       
    </div>

    
</div>