<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            Overview</a></li>

    <li class="breadcrumb-item"><a class="cursor-pointer text-primary"> Products Catalog</a></li>

</ol>
<div class="d-flex justify-content-between mt-3 "  style="z-index: 999;">

    <div class="dropdown dropright">
      <div class="stores my-4">
        <select class="storelist form-select select_input" aria-label="Default select example">
          <option value="">All Store</option>
          <option value="{{item.storeId}}" *ngFor="let item of storeList"> {{item.storeName}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="dropdown dropright">

        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
          <span>
                <button class="form-control" style="background: transparent;"> More Action <i-feather name="chevron-down"
                    class="small-icon"></i-feather></button>
          </span>
        </a>
      </div>
      <span class="px-2">
        <button class="btn primary-btn" (click)="GotoAddProduct()">Add New</button>
      </span>
    </div>

  </div>

<div class="card mb-5 mt-3">
    <div class="card-header bg-white p-0">
        <div class="d-flex justify-content-between p-3 px-4">
            <div class="table-label">Packed Products</div>
        </div>
    </div>


    <div class="card-header">
        <div class=" no-gutters">
          <div class="d-sm-flex justify-content-between">
            <div type="button"  class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-0">
              <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="21.378" viewBox="0 0 17.62 21.378">
                    <g id="packaging" transform="translate(-45)">
                      <path id="Path_812" data-name="Path 812" d="M59.489,2.9V0H48.132V2.9L45,6.663V21.378H62.62V6.663Zm1.168,3.358H57.068L58.862,4.11Zm-2.421-5.01V2.505H49.384V1.253ZM49.051,3.758h8.474L55.437,6.263H46.964ZM55.1,8.788a8.1,8.1,0,0,0-4.8,1.983A7.005,7.005,0,0,1,46.253,12.5V7.516H55.1Zm-8.852,4.971a8.1,8.1,0,0,0,4.8-1.983A7.005,7.005,0,0,1,55.1,10.043V20.125H46.253Zm10.1,6.366V7.516h5.01v12.61Z" transform="translate(0)" fill="#fff"/>
                    </g>
                  </svg>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                All Products</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                 22222</h4>
              </div>
            </div>


            <div type="button"  class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
              <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <!-- <i data-feather="shopping-cart"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="21.378" viewBox="0 0 17.62 21.378">
                    <g id="packaging" transform="translate(-45)">
                      <path id="Path_812" data-name="Path 812" d="M59.489,2.9V0H48.132V2.9L45,6.663V21.378H62.62V6.663Zm1.168,3.358H57.068L58.862,4.11Zm-2.421-5.01V2.505H49.384V1.253ZM49.051,3.758h8.474L55.437,6.263H46.964ZM55.1,8.788a8.1,8.1,0,0,0-4.8,1.983A7.005,7.005,0,0,1,46.253,12.5V7.516H55.1Zm-8.852,4.971a8.1,8.1,0,0,0,4.8-1.983A7.005,7.005,0,0,1,55.1,10.043V20.125H46.253Zm10.1,6.366V7.516h5.01v12.61Z" transform="translate(0)" fill="#fff"/>
                    </g>
                  </svg> </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                 In Stock Products</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                  2222</h4>
              </div>
            </div>
            <div type="button"  class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
              <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="21.378" viewBox="0 0 17.62 21.378">
                    <g id="packaging" transform="translate(-45)">
                      <path id="Path_812" data-name="Path 812" d="M59.489,2.9V0H48.132V2.9L45,6.663V21.378H62.62V6.663Zm1.168,3.358H57.068L58.862,4.11Zm-2.421-5.01V2.505H49.384V1.253ZM49.051,3.758h8.474L55.437,6.263H46.964ZM55.1,8.788a8.1,8.1,0,0,0-4.8,1.983A7.005,7.005,0,0,1,46.253,12.5V7.516H55.1Zm-8.852,4.971a8.1,8.1,0,0,0,4.8-1.983A7.005,7.005,0,0,1,55.1,10.043V20.125H46.253Zm10.1,6.366V7.516h5.01v12.61Z" transform="translate(0)" fill="#fff"/>
                    </g>
                  </svg>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                 Out-Of-Stock Products</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                 2222</h4>
              </div>
            </div>
            <div type="button"  class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="21.378" viewBox="0 0 17.62 21.378">
                    <g id="packaging" transform="translate(-45)">
                      <path id="Path_812" data-name="Path 812" d="M59.489,2.9V0H48.132V2.9L45,6.663V21.378H62.62V6.663Zm1.168,3.358H57.068L58.862,4.11Zm-2.421-5.01V2.505H49.384V1.253ZM49.051,3.758h8.474L55.437,6.263H46.964ZM55.1,8.788a8.1,8.1,0,0,0-4.8,1.983A7.005,7.005,0,0,1,46.253,12.5V7.516H55.1Zm-8.852,4.971a8.1,8.1,0,0,0,4.8-1.983A7.005,7.005,0,0,1,55.1,10.043V20.125H46.253Zm10.1,6.366V7.516h5.01v12.61Z" transform="translate(0)" fill="#fff"/>
                    </g>
                  </svg>
                </div>
                <div class="media-body">
                  <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                  Low in stock Products </h6>
                  <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                   2222</h4>
                </div>
              </div>
              <div type="button"  class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 bgPinkk tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17.62" height="21.378" viewBox="0 0 17.62 21.378">
                    <g id="packaging" transform="translate(-45)">
                      <path id="Path_812" data-name="Path 812" d="M59.489,2.9V0H48.132V2.9L45,6.663V21.378H62.62V6.663Zm1.168,3.358H57.068L58.862,4.11Zm-2.421-5.01V2.505H49.384V1.253ZM49.051,3.758h8.474L55.437,6.263H46.964ZM55.1,8.788a8.1,8.1,0,0,0-4.8,1.983A7.005,7.005,0,0,1,46.253,12.5V7.516H55.1Zm-8.852,4.971a8.1,8.1,0,0,0,4.8-1.983A7.005,7.005,0,0,1,55.1,10.043V20.125H46.253Zm10.1,6.366V7.516h5.01v12.61Z" transform="translate(0)" fill="#fff"/>
                    </g>
                  </svg>
                </div>
                <div class="media-body">
                  <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                   Unavailable Products</h6>
                  <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
                   2222</h4>
                </div>
              </div>


          </div>
        </div>
      </div>

     <app-reusables-filter></app-reusables-filter>

     <div class="card-header">
      <div class="d-sm-flex ">
          <input type="checkbox" id="selectall" name="selectall" value="Bike">
          <label for="selectall" class="selectall pd-l-10 pd-t-10"> Select All</label>
      </div>
  </div>

      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead>

            <tr>
              <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
              </th> -->
              <th></th>
              <th></th>
              <th class="text-normal">
              </th>
              <th class="tx-normal">
                Product
              </th>

              <th class="tx-normal">
                SKU ID
              </th>
              <th class="tx-normal">
                Stock
              </th>
              <th class="tx-normal">
                Price
              </th>

              <th class="tx-normal">
                Stores
              </th>
              <th class="tx-normal">
               Action
              </th>


            </tr>

          </thead>

          <tbody>

            <tr class="cursor-pointer" *ngFor="let TItem of ProductData">
              <td class="text-left wd-20"><input type="checkbox" name="" id=""></td>
              <td class="wd-40"></td>
              <td class="text-left">
                <img class="br" src="../../../assets/img/product/product1.png"
                  class="img wd-40 ht-40  bd bd-2" >
              </td>
              <td >
                <div class="tx-14 tx-semibold cursor-pointer route-hover">{{TItem.name|| "--"}}</div>
              </td>
              <td class="">
                {{TItem.sku|| "--"}}
              </td>
              <td class="">
                <span class=" text-sm" ></span>{{TItem.identificationNumber|| "--"}}
              </td>
              <td class="">
                <div class="tx-14">{{TItem.unitPrice|| "--"}}</div>

              <td class="">
                <div class="tx-14">{{TItem.stores || "--"}} </div>

              </td>

              <td class="">
                <div class="tx-14 text-primary">MAnage Stock </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
