.bg-success {
    background-color: #10B759 !important;
}
.mg-md-l-40 {
    margin-left: 40px;
}
.mg-md-l-30 {
    margin-left: 30px;
}
.mg-sm-l-15 {
    margin-left: 15px;
}
.mg-sm-l-10 {
    margin-left: 10px;
}
.mg-sm-t-0 {
    margin-top: 0px;
}
.mg-sm-r-0 {
    margin-right: 0px;
}
.mg-sm-b-0 {
    margin-bottom: 0px;
}
.mg-sm-l-0 {
    margin-left: 0px;
}
.mg-t-20 {
    margin-top: 20px;
}
.mg-r-20 {
    margin-right: 20px;
}
.mg-b-20 {
    margin-bottom: 20px;
}
.mg-l-20 {
    margin-left: 20px;
}
.mg-t-0 {
    margin-top: 0px;
}
.mg-r-0 {
    margin-right: 0px;
}
.mg-b-0 {
    margin-bottom: 0px;
}
.mg-l-0 {
    margin-left: 0px;
}
.tx-rubik {
    font-family: ‘Rubik’, sans-serif;
}
.tx-normal {
    font-weight: 400;
}
.tx-md-20 {
    font-size: 20px;
}
.tx-md-20-f {
    font-size: 20px !important;
}
.tx-sm-18 {
    font-size: 18px;
}
.tx-sm-18-f {
    font-size: 18px !important;
}
.tx-20 {
    font-size: 20px;
}
.tx-20-f {
    font-size: 20px !important;
}
.mg-md-t-8 {
    margin-top: 8px;
}
.mg-md-r-8 {
    margin-right: 8px;
}
.mg-md-b-8 {
    margin-bottom: 8px;
}
.mg-md-l-8 {
    margin-left: 8px;
}
.mg-t-5 {
    margin-top: 5px;
}
.mg-r-5 {
    margin-right: 5px;
}
.mg-b-5 {
    margin-bottom: 5px;
}
.mg-l-5 {
    margin-left: 5px;
}
.tx-nowrap {
    white-space: nowrap;
}
.tx-semibold {
    font-weight: 600;
}
.tx-color-03 {
    color: #8392A5;
}
.tx-spacing-1 {
    letter-spacing: 0.5px;
}
.tx-10 {
    font-size: 10px;
}
.tx-10-f {
    font-size: 10px !important;
}
.tx-uppercase {
    text-transform: uppercase;
}
.tx-lowercase {
    text-transform: lowercase;
}
.tx-sans {
    font-family: -apple-system, BlinkMacSystemFont, “Inter UI”, Roboto, sans-serif;
}
.bd-pink {
    border-color: #F10075;
}
.rounded {
    border-radius: 0.25rem !important;
}
.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}
.rounded-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.rounded-lg {
    border-radius: 0.3rem !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.rounded-0 {
    border-radius: 0 !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-sm-flex {
    display: flex !important;
}
.media {
    display: flex;
    align-items: flex-start;
}
.media-body {
    flex: 1;
}
.wd-40 {
    width: 40px;
}
.wd-40p {
    width: 40%;
}
.wd-md-50 {
    width: 50px;
}
.wd-md-50p {
    width: 50%;
}
.ht-40 {
    height: 40px;
}
.ht-40p {
    height: 40%;
}
.ht-md-50 {
    height: 50px;
}
.ht-md-50p {
    height: 50%;
}
.bg-primary {
    background-color: #0168FA !important;
}
.tx-white {
    color: #fff;
}
.mg-r-10 {
    margin-right: 10px;
}
.mg-t-10 {
    margin-top: 10px;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.mg-l-10 {
    margin-left: 10px;
}
.mg-md-t-10 {
    margin-top: 10px;
}
.mg-md-r-10 {
    margin-right: 10px;
}
.mg-md-b-10 {
    margin-bottom: 10px;
}
.mg-md-l-10 {
    margin-left: 10px;
}
.align-items-center {
    align-items: center !important;
}
.pr-3,
.px-3 {
    padding-right: 1rem !important;
}
.pd-t-15 {
    padding-top: 15px;
}
.pd-t-7 {
    padding-top: 7px;
}
.pd-r-7 {
    padding-right: 7px;
}
.pd-b-7 {
    padding-bottom: 7px;
}
.pd-l-7 {
    padding-left: 7px;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
.input-group-append {
    border: 1px solid #CED4DA;
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bgPinkk{
    background: #F10875
}
.primary-btn {
    background: #0168FA;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
}
 







