<div id="categories">
  <div class="d-flex justify-content-between mt-3 mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/overview']">Overview</a>
        </li>

        <li class="breadcrumb-item" aria-current="page">Subcategories</li>
      </ol>
    </nav>

    <a mat-button
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="categories-body">
    <div class="popular-questions-head d-flex justify-content-between">
      <h6 class="page-title">All Subcategories(78)</h6>
      <div class="btn btn-primary" (click)="openDialog('create', null)">
        Add New
      </div>
    </div>
    <div class="border-line"></div>

    <app-reusables-filter></app-reusables-filter>
    <div class="categories-body-body"></div>

    <ng-container *ngIf="subCategoriesData">
      <app-reusables-table [tableData]="subCategoriesData">
        <ng-template #headers>
          <th>Subcategory</th>
          <th>Product</th>
          <th>Last Update</th>
          <th>Created</th>
          <th>Actions</th>
        </ng-template>

        <div>
          <ng-template #rows let-tableRow>
            <td>
              {{ tableRow?.name }}
            </td>
            <td>
              {{ tableRow?.product || "--" }}
            </td>
            <td>
              {{ tableRow?.dateModified | date : "shortDate" }}
              <br />
              <small class="text-muted">{{ tableRow?.modifiedBy || "--" }}</small>
            </td>
            <td>
              {{ tableRow?.dateCreated | date : "shortDate" }}
              <br />
              <small class="text-muted">{{ tableRow?.createdBy || "--" }}</small>
            </td>

            <td>
              <div class="d-flex">
                <span>
                  <div class="dropdown">
                    <i-feather
                      class="text-primary small-icon text-bold"
                      name="more-vertical"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></i-feather>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          (click)="openDialog('update', tableRow)"
                          >Edit</a
                        >
                      </li>

                      <li>
                        <a class="dropdown-item" href="#">Delete</a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
            </td>
          </ng-template>
        </div>
      </app-reusables-table>
    </ng-container>
  </div>
</div>
