#categories {
    .popular-questions-head {
      padding: 1.125rem 1rem;
      align-items: center;
    }
    .page-title {
      background-color: white;
      margin-bottom: 0rem;
      font-weight: 700;
      font-size: 19px;
    }
  
    .categories-body {
      border: 1px solid #c0ccda;
      background-color: white;
      border-radius: 5px 5px 0px 0px;
      opacity: 1;
  
      .categories-body-body {
        padding: 20px;
      }
  
      .table-img {
        border: 1px solid #c0ccda;
        border-radius: 3px;
        opacity: 1;
        width: 40px;
        height: 40px;
      }
  
      .expand-button {
        background-color: transparent;
        padding: 7px 14px;
        border: 1px solid #c0ccda;
        border-radius: 4px;
      }
    }
  
    th {
      color: #1b2e4b;
      opacity: 1;
      font-size: 14px;
      font-weight: 700;
    }
  }
  