.sidebar{
    width: 240px;
    background-color: #FFFFFF;
    height: 100vh;
    position: fixed;
    border-right: 1px solid #C0CCDA;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar_upper{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #C0CCDA;
    height: 4.5rem;
}
.sidebar_lower{
    padding: 1rem;
}
.sidebar_lower-users .avatar img{
    border-radius: 50% !important;
    width: 48px;
}
.sidebar_lower-users{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
}

.sidebar_lower-links ul{
  list-style: none;
  padding: 0;
  opacity: 1;
}
.sidebar_lower-links h6{
    font-size: 12px;
    opacity: 1;
}
ul li{
    color: #7987A1;
    padding: 0.25rem 0.5rem 0.5rem 0.25rem;
    font-size: 13px;
    display: flex;
    align-items: center;
}
li span{
    align-self: center;
}
.link-body{
    display: flex;
    width: 100%;
}
a{
    color: #7987A1 !important;
    text-decoration: none;
}
.router-link-active{
    color: #0168FA !important;
}
.feather{
    width: 20px !important;
}
.small-icon
{
    width: 18px;
    height: 22px;
}
.xsm-icon{
    width: 15px;
}
h6{
    font-weight: 700;
    color: #1B2E4B;
}
.pointer{
    cursor: pointer;
}
.sidebar_lower-links span{
    opacity: 1;
}
.submenu{
    padding-left: 1.5rem !important;
}
.sidebar-wrapper{
    position: fixed;
    z-index: 2;
}
.collapseHam{
    cursor: pointer;
    display: block;
}
.crossClose{
    cursor: pointer;
    display: none;
}
.logout-btn{
    width: 100%;
    padding: 0.75rem;
    display: none;
}

.skeleton-wrapper{
    position: relative;
}
  .skeleton {
    background-color: rgba(177,26, 131, 0.7); 
    border-radius: 4px;
    display: inline-block;
    margin: 0 0.5rem;
    animation: skeleton-pulse 1s ease-in-out infinite;
  }
  
  /* Define the animation for the skeleton loader */
  @keyframes skeleton-pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
@media (max-width: 1024px){
    .sidebar{
        width: 200px;
    }
    .main-wrapper{
        padding-left: 200px !important;
    }
}
@media(max-width: 991px){
     .sidebar{
        width: 4rem;
    }  
    .display-name{
        font-size: 0.5rem;
    }
    .sidebar_lower-links span, .sidebar_lower-links h6, .role-name{
        display: none;
        pointer-events: none;
    }
    .img-container{
        display: none;
    }
     .avar-img{
        width: 20px;
    }    
}
.isHover .sidebar{
    display: block !important;
    width: 20rem !important;
    z-index: 10;
}
