<div class="sidebar" id="sidePiece" (mouseenter)="CollapsedHover($event.target)" (mouseleave)="UnCollapsedHover()">
    <div class="sidebar_upper">
        <div class="p-2 img-container">
            <ng-container  >
                <img src="../../../assets/images/trebet.svg"
                    class="img-fluid img-homesidebar" alt="Portal Logo">
            </ng-container>
        </div>
        <div class="p-2 pointer" (click)="collapseBar()">
            <i-feather name="menu"></i-feather>
        </div>
    </div>
    <div class="sidebar_lower">
        <div class="sidebar_lower-users">
            <div class="p-2 crossClose" (click)="closeSideBar()">
                <i-feather name="x"></i-feather>
            </div>
        </div>
        <div>
            <div class="sidebar_lower-links">
                <h5 class="text-bold text-title">POS Inventory</h5>
                <ul>
                    <li>
                        <a [routerLink]="['/overview']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="home" class="small-icon"></i-feather>
                            <span class="px-2">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a class="link-body" routerLinkActive="router-link-active"
                        data-bs-toggle="collapse" href="#productcatalog"
                        role="button" aria-expanded="false" aria-controls="productcatalog">
                        <i-feather name="tag" class="small-icon"></i-feather>
                       <span class="px-2 mr-auto">Product Catalog</span>
                        <span class="float-right">
                            <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                        </span>
                    </a>


                    </li>

                    <div class="collapse" id="productcatalog">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/products-catalog']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Packed Products</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/loose-product']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Loose Products</span>
                                </a>
                            </li>
                        </ul>
                      </div>

                    <li>
                        <a class="link-body" routerLinkActive="router-link-active"
                            data-bs-toggle="collapse" href="#returnMenu"
                            role="button" aria-expanded="false" aria-controls="returnMenu">
                            <i-feather name="tag" class="small-icon"></i-feather>
                           <span class="px-2 mr-auto">Return</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="returnMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/return/pos-sales-return']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Pos Sales Return</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/return/online-sales-return']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Online Sales Return</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/return/credit-notes']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Credit Notes</span>
                                </a>
                            </li>
                        </ul>
                      </div>
                    <li>
                        <a [routerLink]="['/invoices']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="file-text" class="small-icon"></i-feather>
                            <span class="px-2">Invoices</span>
                        </a>
                    </li>
                    <div class="collapse" id="paymentMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/payments/payment']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Payment</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/payments/wallet-cashout']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Wallet Cashout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <li>
                        <a [routerLink]="['/subcategories']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="grid" class="small-icon"></i-feather>
                            <span class="px-2">Subcategories</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="grid" class="small-icon"></i-feather>
                            <span class="px-2">Categories</span>
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/pos/pos-details']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="smartphone" class="small-icon"></i-feather>
                            <span class="px-2">POS</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/cashiers']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="user" class="small-icon"></i-feather>
                            <span class="px-2">Cashiers</span>
                        </a>
                    </li>
                </ul>

                <h6 class="text-bold">Reports & Analytics</h6>
                <ul>

                    <li>
                        <a class="link-body" routerLinkActive="router-link-active"
                            data-bs-toggle="collapse" href="#salesMenu"
                            role="button" aria-expanded="false" aria-controls="returnMenu">
                            <i-feather name="tag" class="small-icon"></i-feather>
                           <span class="px-2 mr-auto">Sales</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="salesMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/sales/reports']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Reports</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/sales/analytics']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Analytics</span>
                                </a>
                            </li>
                        </ul>
                      </div>
                    <li>
                        <a class="link-body" routerLinkActive="router-link-active"
                            data-bs-toggle="collapse" href="#inventoryMenu"
                            role="button" aria-expanded="false" aria-controls="returnMenu">
                            <i-feather name="monitor" class="small-icon"></i-feather>
                           <span class="px-2 mr-auto">Product Inventory</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="inventoryMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/product-inventory/reports']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Reports</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/product-inventory/analytics']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Analytics</span>
                                </a>
                            </li>
                        </ul>
                      </div>
                </ul>
                <ul>
                    <li>
                        <a [routerLink]="['/help']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="help-circle" class="small-icon"></i-feather>
                            <span class="px-2">Help</span>
                        </a>
                    </li>

                    <li>
                        <a class="link-body" routerLinkActive="router-link-active"
                            data-bs-toggle="collapse" href="#settingsMenu"
                            role="button" aria-expanded="false" aria-controls="returnMenu">
                            <i-feather name="settings" class="small-icon"></i-feather>
                           <span class="px-2 mr-auto">Settings</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="settingsMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/settings/general-settings']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">General Settings</span>
                                </a>
                            </li>
                            <li class="pointer">
                                <a [routerLink]="['/settings/taxes']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Taxes</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/settings/return-policy']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Return Policy</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/settings/discounts']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Discounts</span>
                                </a>
                            </li>

                        </ul>
                      </div>

                </ul>
            </div>

            <div class="py-3">
                <button class="btn primary-btn logout-btn" (click)="confirmLogout()">Logout</button>
            </div>
        </div>
    </div>
</div>
