<div class="crumbs-wrapper">
    <span>Overview / </span>
    <span >&nbsp; Report & Analytics /</span>
    <span class="active-crumb">&nbsp; Sale-Report </span>
</div>

<div>

    <div class="d-flex py-2 px-3">
        <div class="form-check px-3">
            <input class="form-check-input" checked type="radio" name="productType" id="packed"/>
            <label class="form-check-label" for="packed">Packed products</label>
        </div>
        <div class="form-check px-3">
            <input class="form-check-input" type="radio" name="productType" id="loose"/>
            <label for="loose">Loose products</label>
        </div>
    </div>

    <div class="d-flex py-3">
        <div class="px-2">
            <input class="form-control" type="date" />
        </div>
        <div class="px-2">
            <div class="dropdown">
                <button class="btn bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                  All Stores
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" *ngFor="let item of StoreResponse.data">{{item.storeName}}</a></li>
                    <li *ngIf="!Stores">
                        <a class="dropdown-item" disabled>No Store availables</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
</div>

<div>

    <div class="table-wrapper">
        <mat-tab-group>
            <mat-tab label="Product Inventory">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>
                        <div class="d-flex justify-content-between">
                        
                            <ng-container  *ngIf="productReports"
                            >
                            <div class="d-flex p-3">
                                <div class="px-2">
                                  
                                    <app-reusables-cards [data]="{ featherIconNames:'gift',
                                         countHeadingText: 'Total Products', countValue: productReports.data.totalProduct, 
                                        backgroundColors:['bg-primary']}"></app-reusables-cards>
                                </div>
                                <div class="px-2">
                                    <app-reusables-cards [data]="{ featherIconNames:'gift', countHeadingText: 'Total Stock Available',
                                         countValue: productReports.data.totalStockAvailable ,
                                        backgroundColors:['bg-success-lighter']}"></app-reusables-cards>
                                </div>
                                <div class="px-2">
                                    <app-reusables-cards [data]="{ featherIconNames:'gift', countHeadingText: 'Total Stock Sold', 
                                        countValue:productReports.data.totalStockSold, 
                                        backgroundColors:['bg-warning']}"></app-reusables-cards>
                                </div>
                                <div class="px-2">
                                    <app-reusables-cards [data]="{ featherIconNames:'gift', countHeadingText: 'Total Opening Stock',
                                        countValue:productReports.data.totalOpeningStock,
                                        backgroundColors:['bg-danger-lighter']}"></app-reusables-cards>
                                </div>
                                <div class="px-2">
                                    <app-reusables-cards [data]="{ featherIconNames:'dollar-sign', countHeadingText: 'Total Sale Amount',
                                        countValue: productReports.data.totalSaleAmount , 
                                        backgroundColors:['bg-success-lighter']}"></app-reusables-cards>
                                </div>
                            </div>
                        </ng-container>
                           
                        </div>
                        <ng-container *ngIf="productReports">

                            <app-reusables-table [tableData]="productReports.data.productInventories">
        
                                <ng-template #headers>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Stock In Hand</th>
                                    <th>Total Stock Sold</th>
                                    <th>Inventory Asset Value</th>
                                    <th>Opening Stock</th>
                                </ng-template>
                            
                                <ng-template #rows let-tableRow>
                                    <td>
                                        <div class="table-group">
                                            <span class="px-2">
                                                <img src="https://dummyimage.com/256x256/000000/ffffff&text=User"
                                                class="img-fluid"  alt="product-image" />
                                            </span>
                                          <div class="table-group-inner p-2">
                                               <span>{{tableRow.itemName}}</span> 
                                          </div>
                                        </div>
                                    </td>
                                    <td> 
                                        {{tableRow.category ? '' : '--'}}
                                    </td>
                                    <td> 
                                        {{tableRow.stockInHand}} 
                                    </td>
                                    <td>
                                        {{tableRow.totalStockSold}}
                                    </td>
                                    <td> 
                                        {{tableRow.inventoryAssetStock}}
                                    </td>
                                    <td> 
                                        {{tableRow.openingStock}}
                                    </td>
                                </ng-template>        
                            </app-reusables-table>

                        </ng-container>
                    
                       
                    </main>
                </div>
            </mat-tab>
            <mat-tab label="Stock Update Report">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>
                        <ng-container *ngIf="stockUpdate">
                            <app-reusables-table [tableData]="stockUpdate.data">
                                <ng-template #headers>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Reason</th>
                                    <th>Updated By</th>
                                    <th>Update</th>
                                </ng-template>
                                <ng-template #rows let-tableRow>
                                    <td>
                                        <div class="table-group">
                                            <span class="px-2">
                                                <img src="https://dummyimage.com/256x256/000000/ffffff&text=User"
                                                class="img-fluid"  alt="product-image" />
                                            </span>
                                          <div class="table-group-inner p-2">
                                               <span>{{tableRow.productName}}</span> 
                                          </div>
                                        </div>
                                    </td>
                                    <td> 
                                        {{tableRow.date }} 
                                    </td>
                                    <td> 
                                       {{tableRow.reason}}
                                    </td>
                                    <td>
                                        {{tableRow.updatedBy}}
                                    </td>
                                    <td> 
                                        <button class="btn bg-success-lighter">{{tableRow.updation}}</button>
                                    </td>
                                </ng-template>        
                                </app-reusables-table>
                        </ng-container>
                    </main>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>
