.tab-wrapper{
    border-bottom: 2px solid #CCC;
    display: flex;
    & ul{
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            width: 150px;
            padding: 0.75rem;
            font-size: 0.75rem;
            text-align: center;
            cursor: pointer;
        }
    }
}
li.active{
    border-bottom: 2px solid rgba(37, 37, 171, 0.605);
}
.table-wrapper{
   & .table-wrapper-top{
        background-color: white;
        // padding: rem;
    }
}

.topper-nav{
    width: 100%;
    border-bottom: 1px solid #CCC;
}
.action-btn{
    border: 1px solid #CCC;
    font-size: 14px;
}
td{
    & .success {
        padding: 0.125rem;
        background: #10B759;
        color: white;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }
    & a{
        text-decoration: none;
    }
}

.table-group{
    display: flex;
    align-items: center;
    & span{
        img{
            width: 50px;
            height: 50px;
        }
    }
    & .table-group-inner{
        display: flex;
        flex-direction: column;
    }
}

.bg-success-lighter{
    background-color: rgba(16, 183, 89, 0.5);
    border-radius: 15px;
    color: #10B759;
    font-size: 12px;
    width: 100px;
}