<div id="new-category">
  <form [formGroup]="manageCategoryForm" (ngSubmit)="onSubmit()">
    <h5>
      <ng-container *ngIf="data?.instance !== 'update'">
        Create New Subcategory
      </ng-container>
      <ng-container *ngIf="data?.instance === 'update'"
        >Edit Subcategory</ng-container
      >
    </h5>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="tx-13">Enter Subcategory Name </label>
          <span class="text-danger">*</span>
          <div class="controls">
            <input
              type="text"
              name="ReturnCharges"
              id=""
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        mat-dialog-close
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
