<div id="new-category">
  <form [formGroup]="manageCategoryForm" (ngSubmit)="onSubmit()">
    <h5>
      New Category
      <ng-container *ngIf="data?.instance !== 'update'">
        Create New Category
      </ng-container>
      <ng-container *ngIf="data?.instance === 'update'"
        >Edit Category</ng-container
      >
    </h5>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="" class="tx-13">Enter Category Name </label>
          <span class="text-danger">*</span>
          <div class="controls">
            <input
              type="text"
              name="ReturnCharges"
              id=""
              class="form-control"
              formControlName="categoryName"
            />
          </div>
        </div>

        <div>
          <label> Icon <span class="tx-danger">*</span></label>

          <img [src]="url" height="200" /> <br />

          <input
            type="file"
            formControlName="icon"
            (change)="onSelectFile($event)"
          />
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="tx-13">Enter Category Name </label>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Subcategories
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <mat-form-field [style.width.%]="100" appearance="outline">
                  <mat-chip-list #chipList formControlName="questionOptions">
                    <mat-chip
                      *ngFor="let option of subCategoriesData"
                      (removed)="remove(option.name)"
                    >
                      {{ option.name }}
                      <svg
                        matChipRemove
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="#ffffff"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="5.99994" cy="6" r="5" fill="#ffffff" />
                        <path
                          d="M7.77795 4.22271L4.22241 7.77824"
                          stroke="#0C0C0C"
                          stroke-width="0.5"
                          stroke-linecap="round"
                        />
                        <path
                          d="M7.77789 7.77824L4.22236 4.22271"
                          stroke="#0C0C0C"
                          stroke-width="0.5"
                          stroke-linecap="round"
                        />
                      </svg>
                    </mat-chip>
                    <input
                      matInput
                      #subCategoryInput
                      formControlName="categoryId"
                      placeholder="Add New"
                      [matChipInputFor]="chipList"
                      [matAutocomplete]="auto"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                  >
                    <mat-option
                      *ngFor="let option of subCategoriesData | async"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>

                  <!-- <mat-chip-grid #chipGrid aria-label="Fruit selection">
                    <mat-chip-row *ngFor="let option of subCategoriesData" (removed)="remove(option)">
                      {{option.name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + option.name">
                        <svg
                        matChipRemove
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="#ffffff"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="5.99994" cy="6" r="5" fill="#ffffff" />
                        <path
                          d="M7.77795 4.22271L4.22241 7.77824"
                          stroke="#0C0C0C"
                          stroke-width="0.5"
                          stroke-linecap="round"
                        />
                        <path
                          d="M7.77789 7.77824L4.22236 4.22271"
                          stroke="#0C0C0C"
                          stroke-width="0.5"
                          stroke-linecap="round"
                        />
                      </svg>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input
                  matInput
                  #subCategoryInput
                  placeholder="Add New"
                  [matChipInputFor]="chipList" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let option of subCategoriesData | async" [value]="option.id">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete> -->
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        mat-dialog-close
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
