
main{
    --inline-padding: 1.5ch;
    height: 100%;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;

    & header{
        font-family: var(--roboto-regular);
        font-size: 2.25ch;
        color: var(--heading-color);
        border-bottom: 1px solid var(--general-border-color);
        padding-block: 2ch;
        padding-inline: var(--inline-padding);
        grid-column: span 1;
        grid-row: 1/2;
    }
    .main_content{
        // height: ;
        grid-column: span 1;
        grid-row: 2/3;
        padding-inline: var(--inline-padding);
        // border: 2px solid red;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 100%;

        & section{
            grid-column: span 1;
            grid-row: span 1;
            padding-left: calc(var(--inline-padding) * .85);
            padding-right: var(--inline-padding);

            .tab_container  .nav a.active{
               color: var(--primary-blue-color);
               font-family: var(--roboto-regular);
               font-weight: 600;
               position: relative;

               &::after{
                width: 100%;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                height: 2px;
                background-color: var(--primary-blue-color);
                border-radius: 4px;

               }
            }
            .tab_container  .nav a:not(.active){
                color: var(--heading-color);
                font-family: var(--roboto-regular);
                cursor: pointer;
             }

             .search_container{
                border-bottom: 1px solid var(--general-border-color);
                 & .search_content{
                    --_width: 45%;
                    position: relative;

                    & input{
                        width: var(--_width);
                        height: 4.5ch;
                        border: 1px solid var(--general-border-color);
                        border-radius: 3ch;
                        color: var(--general-border-color);
                        padding-left: calc(var(--inline-padding));
                    }

                    & .search_icon{
                        position: absolute;
                        top: .5ch;
                        left: calc(var(--_width) - 5.5%);
                        color: var(--general-border-color);
                    }

                    
                 }
                 & .other{
                     color: var(--heading-color);
                     font-family: var(--roboto-regular);
                     font-size: 2ch;
                 }
             }

             & .uploaded_images_wrapper{

                .a_box_wrapper{
                    --width-of-box: calc(var(--inline-padding) * 10);
                    width: var(--width-of-box);
                    cursor: pointer;
                    & .a_box{ 
                        width: var(--width-of-box);
                        aspect-ratio: 1/1;
                        border: 1px solid #BFD9FE;
                        background-color: #BFD9FE;
                        display: grid;
                        place-content: center;
    
                        & span{
                            width: calc(var(--width-of-box) / 3.5);
                            aspect-ratio: 1/1;
                            display: grid;
                            place-content: center;
                            // padding: 1ch;
                            background-color: white;
                            border-radius: 50%;
                        }
                    }
    
                    & .a_box_text{
                        font-family: var(--roboto-regular);
                        font-size: 1.75ch;
                        color: var(--heading-color);
                    }

                    &:hover{
                        outline: 2px solid var(--general-border-color);
                        outline-offset: .3ch;
                    }
                }
             }
        }

        & aside{
            grid-column: span 1;
            grid-row: span 1;
            padding:calc(var(--inline-padding) * 0.75)  var(--inline-padding);
            border-left: 1px solid var(--general-border-color);

            & .header{
                font-family: var(--roboto-regular);
                color: var(--heading-color);
                font-size: calc(var(--inline-padding) + .35ch);

                & span:last-child{
                    color: var(--primary-blue-color);
                    cursor: pointer;
                    padding-inline: calc(var(--inline-padding)/ 5);

                    &:hover{
                        outline: 1px solid var(--general-border-color);
                    }
                }
            }
        }

    }
    
    & footer{
        grid-column: span 1;
        grid-row: 3/4;
        font-family: var(--roboto-regular);
        font-size: 2.25ch;
        color: var(--heading-color);
        border-top: 1px solid var(--general-border-color);
        padding-block: 2ch;
        padding-inline: 1.5ch;
    }

    &.upload_from_computer_wrapper .main_content{
        --background-color: #F2F7FF;
        --border-color: #0168FA40;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        padding: calc(var(--inline-padding)* 5) calc(var(--inline-padding) * 9);

        & .upload_content{
            grid-column: span 1;
            grid-row: span 1;
            background-color: var(--background-color);
            border: 1px dashed var(--border-color);
            border-radius: 1ch;
            cursor: pointer;
            display: grid;
            grid-gap: 2ch;
            place-content: center;
            font-family: var(--roboto-regular);
            & .drag_drop_content{
                font-size: 2ch;
                & span:first-child{
                    width: 5.5ch;
                    aspect-ratio: 1/1;
                }
            }

            & .btn-primary{
                background-color: var(--primary-blue-color);
                border: 1px solid var(--primary-blue-color);
                border-radius: 3ch;
            }
        }

      }

      &.show{
        display: grid;
    }
}
