<main [ngClass]="{'show': views == 1}" class="main_view">
    <header>Choose Images</header>

    <div class="main_content">
        <section>
            <div class="tab_container">
                <ul class="nav nav-underline nav-fill">
                    <li class="nav-item text-start">
                      <a class="nav-link active" aria-current="page" href="#">Media Gallery</a>
                    </li>
                    <li class="nav-item text-start">
                      <a class="nav-link" href="#">Browse</a>
                    </li>
                    <li class="nav-item text-start">
                      <a class="nav-link" href="#">Add Media From URL</a>
                    </li>

                  </ul>
            </div>
            <div class="search_container pb-3 d-flex justify-content-between align-items-center     ">
              <div class="search_content flex-grow-1">
                <input placeholder="search" tabindex="-1" type="text">
                <i-feather name="search" color class="search_icon"></i-feather>
              </div>
              <div class="other d-flex gap-1">
                <i-feather name="folder-plus"></i-feather>
                <span class="align-self-end">Create new folder</span>
              </div>
            </div>

            <div class="uploaded_images_wrapper mt-3">
              <div class="a_box_wrapper" (click)="views = 2">
                <div class="a_box rounded-lg mb-3">
                  <span><img src="../../../assets/images/upload.svg" alt=""></span>
               </div>
               <span class="a_box_text w-100 d-block text-center">
                Upload Media
               </span>
              </div>
            </div>
        </section>
        <aside>
          <div class="header w-100 d-flex justify-content-between align-items-center">
            <span>Choose Tags</span>
            <span class="">+ Add Tags</span>
          </div>
        </aside>
    </div>
    <footer class="d-flex justify-content-end">
        <button class="btn btn-secondary px-3">cancel</button>
        <button class="btn btn-light ms-3  px-3">save</button>
    </footer>
</main>

<main [ngClass]="{'show': views == 2}" class="upload_from_computer_wrapper">
  <header>Choose Images</header>

   <div class="main_content w-100">
      <div class="upload_content">
         <div class="drag_drop_content d-flex flex-column align-items-center">
            <span><img src="../../../assets/images/picture.svg" alt=""></span>
            <span>Drag & drop files here</span>
         </div>
         <div class="text-center" style="color: #5F6D88">OR</div>
         <button class="btn btn-primary px-5">
          Upload From Computer
         </button>
      </div>
   </div>
  <footer class="d-flex justify-content-end">
    <button class="btn btn-secondary px-3">cancel</button>
    <button class="btn btn-light ms-3  px-3">save</button>
</footer>
</main>
