<div class="wrapperr">
    <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Setup your product</h4>
            </div>              
            <div class="card-body">
                <div *ngIf="isMainPage">
                    <div class="text-center">
                        <div>
                            <img src="assets/icons/rocket.svg" />
                        </div>
                       <h3>Let’s Set up</h3> 
                       <h5>your product</h5>
                       <div class="my-4">
                         <p>Here are some tasks to get you started</p>
                       </div>
                    </div>
                    <div>
                        <div class="timeline-list" (click)="PerformAction(1)">
                            <div class="">
                                <span class="px-2">
                                   <i-feather name="circle" class="small-icon"></i-feather> 
                                </span>
                                <span>Tax Setup</span>
                            </div>
                            <span>
                                <i-feather name="chevron-right" class="small-icon text-grey"></i-feather>
                            </span>
                        </div>
                        <div class="timeline-list" (click)="PerformAction(2)">
                            <div class="">
                                <span class="px-2">
                                    <i-feather name="circle" class="small-icon"></i-feather> 
                                 </span>
                                <span>Category Management</span>
                            </div>
                            <span>
                                <i-feather name="chevron-right" class="small-icon text-grey"></i-feather>
                            </span>
                        </div>
                        <div class="timeline-list" (click)="PerformAction(3)">
                            <div class="">
                                <span class="px-2">
                                    <i-feather name="circle" class="small-icon"></i-feather> 
                                 </span>
                                <span>Return Policy</span>
                            </div>
                            <span>
                                <i-feather name="chevron-right" class="small-icon text-grey"></i-feather>
                            </span>
                        </div>
                        <div class="timeline-list" (click)="PerformAction(4)">
                            <div class="">
                                <span class="px-2">
                                    <i-feather name="circle" class="small-icon"></i-feather> 
                                 </span>
                                <span>Product Setting</span>
                            </div>
                            <span>
                                <i-feather name="chevron-right" class="small-icon text-grey"></i-feather>
                            </span>
                        </div>
                        <div class="timeline-list" (click)="PerformAction(5)">
                            <div class="">
                                <span class="px-2">
                                    <i-feather name="circle" class="small-icon"></i-feather> 
                                 </span>
                                <span>Product Management</span>
                            </div>
                            <span>
                                <i-feather name="chevron-right" class="small-icon text-grey"></i-feather>
                            </span>
                        </div>
                    </div>
                </div>
               <div *ngIf="subPage == 'taxSettings'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tax Name</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="my-3">
                                <input class="styled-checkbox" id="all-stores" 
                                        type="checkbox">
                                <label for="all-stores"> Mark As Default Text</label>
                                <div class="my-3">
                                    <div class="product-options">
                                        <label class="mb-0" for="switchNotice">Enable Tax</label>
                                        <input type="checkbox" id="switchNotice" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rate %</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tax on product </label>
                                <select class="form-select">
                                 <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <select class="form-select">
                                    <option>All Locations</option>
                                </select>
                            </div>
                        </div>
                    </div>
               </div>
               <div *ngIf="subPage == 'business'">
                <div class="row">
                    <div class="category-management">
                        <div class="d-flex"> 
                            <div class="category-numbers">
                                <span class="day-item active">
                                    1
                                </span>
                                <span class="category-text active">
                                    Select your business category
                                    <i-feather name="arrow-right" class="small-icon"></i-feather>
                                </span> 
                            </div>
                            <div class="category-numbers">
                                <span class="day-item">
                                    2
                                </span>
                                <span class="category-text">
                                    Select Product category
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label>Enter Category</label>
                                <select class="form-select">
                                    <option>Select</option>
                                </select>
                                <hr />
                                <label>
                                    Sub Category  
                                        <span>Add New <i-feather name="plus" class="small-icon text-primary"></i-feather> </span>
                                </label>
                                <div class="d-flex">
                                    <div class="px-2">
                                        <span class="pills selected">Milk products</span>
                                    </div>
                                    <div class="px-2">
                                        <span class="pills">Food products</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="selected-products">
                                    <h6>Select Product categories</h6>
                                    <span>Food</span>
                                    <div class="d-flex justify-content-between">
                                        <span class="pills selected">Milk products</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                </div>
                <div *ngIf="subPage == 'policy'">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group mb-3">
                                <label>Enter Policy <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group mb-3">
                                <label>Terms & Policy <span class="text-danger">*</span></label>
                                <textarea class="form-control rounded" rows="5" cols="5">
                                </textarea>
                            </div>
                            <div class="my-3">
                                <input class="styled-checkbox" id="all-stores" 
                                type="checkbox">
                                <label for="all-stores"> Mark As Default Text</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apply to category</label>
                                <select class="form-select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="subPage == 'product'">
                    <div class="variant-wrapper">
                        <div class="row">
                            <h6>CHOOSE PRODUCT</h6>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" 
                                                 name="productVariat" id="withVariant" value="withVariant">
                                        <label class="form-check-label" for="withVariant">
                                            Enable Product with Variant
                                        </label>
                                    </div>
                                    <p class="form-text">You need to add all the products having variants such as product with different sizes ,colours , etc.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" 
                                                 name="productVariat" id="variantProduct" value="variantProduct">
                                        <label class="form-check-label" for="variantProduct">
                                            Enable Product with Variant
                                        </label>
                                    </div>
                                    <p class="form-text">You need to add all the products having no variants to that particular product.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" 
                                                 name="productVariat" id="enableBoth" value="enableBoth">
                                        <label class="form-check-label" for="enableBoth">
                                            Enable Both
                                        </label>
                                    </div>
                                    <p class="form-text">You can add both product with variants and product without variants.</p>
                                </div>
                            </div>
                            <h6>PRODUCT TRACKING</h6>
                            <div class="col-md-6 my-3">
                                <div class="product-options">
                                    <input type="checkbox" id="switchNotice" />
                                    <label class="mb-0" for="switchNotice"></label>
                                    <span class="option-text">
                                        You can view all the notification regarding your stocks, such as Low stock alert ,out of stock products, unavailable products etc
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <div class="product-options">
                                    <input type="checkbox" id="switchStocks" />
                                    <label class="mb-0" for="switchStocks"></label>
                                    <span class="option-text">
                                        You can view all the notification regarding your stocks, such as Low stock alert .
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>  
            <div class="card-footer">
                <div class="justify-content-end d-flex" *ngIf="!isMainPage">
                    <div class="px-2">
                        <button class="btn btn-secondary" (click)="resetPage()">Close</button>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
                <div *ngIf="isMainPage">
                     <span>SKIP</span> 
                </div>
        </div>
    </div>
</div>