.wrapperr{
    width:45rem;
}
.timeline-list{
    border-bottom: 0.1px solid #C0CCDA;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom:1rem;
    padding-bottom:0.65rem;
    cursor: pointer;
}
.timeline-list:last-child{
    border-bottom: 0;
}
.card-footer{
    text-align: end;
    background-color: #FFF;
    color: #0168FA;
    padding: 1rem;
}
.card-body{
    margin-bottom: 3rem;
    padding: 3rem;
    h3{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1rem;
    }
    & p, h6, h5,h4{
        color: #7987A1 !important;
    }
}
.pills{
    border-radius: 20px;
    font-size: 12px;
    padding: 0.25rem;
    color: #7785A4;
    border: 1px solid #7785A4;
    
}
.pills.selected{
    background-color: #CCE1FE;
    color: #0168FA;
    border:0;
}
.selected-products{
    border-left: 1px solid #C0CCDA;
    padding-left: 0.5rem;
}
.day-item{
    color: #3B4863;
    background: rgba(95, 109, 136, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
    font-size: 0.65rem;
  }
  .day-item.active,.day-item:hover{
    color: #FFF;
    background: #10B759;
  }
  .category-text.active{
    color: #10B759;
  } 

.category-numbers{
    display: flex;
    align-items: center;
      & .category-text{
        font-size: 12px;
      } 
}
.form-check-label{
    color: #0168FA;
}
.form-text{
    font-size: 12px;
}

.variant-wrapper{
    border: 1px solid #DFE5EC;
    padding: 1.5rem;
}

.product-options{
     input[type=checkbox]{
        height: 0;
        width: 0;
        display: none;
    }
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 20px;
        background: #E5E5E5;
        display: block;
        border-radius: 100px;
        position: relative;
        line-height: 0.5px!important;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        background: #53595F;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: #0168FA;
    }
    
    input:checked + label:after {
        left: calc(100% - 0px);
        transform: translateX(-100%);
        background-color: #FFFFFF;
    }
    
    label:active:after {
        width: 130px;
    }
    
    input[type="text"]:disabled{
        background-color:#ebebeb;
    }

    & .option-text{
        font-size: 12px;
        color: #7987A1;
    }
}
.card-header{
    background-color: #FFFFFF;
    padding: 0.5rem;
    font-weight: 500;
}

::ng-deep .mat-dialog-container{
    padding: 1px !important;
}
.small-icon{
    color: #C0CCDA;
}
.card{
    border: 0;
}
.text-grey{
    color: #5F6D88;
}
.card-footer{
    & span{
        font-weight: 500;
    }
}