<div class="overview-wrapper">
  <div class="overview-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/overview']">Overview</a></li>
      </ol>
    </nav>
  </div>
  <div class="overview-header">
    <h3>Overview - {{date | date}}</h3>
  </div>
  <div class="main-overview-wrapper">

      <div class="cards-wrapper">
        <div class="pb-3 d-flex justify-content-between">
          <div class="  min-card p-3 ">
            <small class="font-weight-bold sale">PRODUCT SOLD</small>
            <div class="my-2">
              <span class="amount">{{overview.productSold | number}}</span>
              <small class="text-success smaller-text" style="margin-left: 5px;">
                <i-feather [name]="'arrow-up'" class="small-icon arrow-down" ></i-feather>
                 10% <span class="text-muted"> than last day</span></small>
              </div>
            <P><small class="text-muted smaller-text">Products are out of stock </small> </P>
          </div>

          <div class="  min-card p-3">
            <small class="font-weight-bold sale">SALE AMOUNT</small>
            <div class="my-2">
              <span class="amount">₦{{overview.salesAmount | number}}</span>
              <small class="text-success smaller-text" style="margin-left: 5px;">
                <i-feather [name]="'arrow-up'" class="small-icon arrow-down" ></i-feather>
                 10% <span class="text-muted"> than last day</span></small>
              </div>
            <P><small class="text-muted smaller-text">Total sale amount bny POS product </small></P>
          </div>

          <div class="  min-card p-3">
            <small class="font-weight-bold sale">REVENUE </small>
            <div class="my-2">
              <span class="amount">₦{{overview.revenue | number}}</span>
              <small class="text-success smaller-text" style="margin-left: 5px;">
                <i-feather [name]="'arrow-up'" class="small-icon arrow-down" ></i-feather>
                 10% <span class="text-muted"> than last day</span></small>
              </div>
            <P><small class="text-muted smaller-text">Today's total revenue collected</small></P>
          </div>

          <div class="  min-card p-3">
            <small class="font-weight-bold sale">INVOICE PAID</small>
            <div class="my-2">
              <span class="amount">{{overview.invoicePaid  | number}}</span>
              <small class="text-success smaller-text" style="margin-left: 5px;">
                <i-feather [name]="'arrow-up'" class="small-icon arrow-down" ></i-feather>
                 10% <span class="text-muted"> than last day</span></small>
            </div>
            <P><small class="text-muted smaller-text">Against Amount </small> <small > ₦{{overview.salesAmount | number}} </small></P>
          </div>

        </div>
      </div>

      <div class=" d-flex justify-content-between">
        <div class=" card pt-3" style="width: 41%">
          <div class="card-header">
            <h6>Products and stock details</h6>
          </div>
          <div class="px-3">
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="productStockChartOptions"
                style="height: 400px; display: flex;"
                [callbackFunction]="chartCallback"
            ></highcharts-chart>
          </div>

          <hr>
          <div class=" d-flex justify-content-between">
            <div class="border-right p-2">
              <p class="wert mb-2">Total Product</p>
                <p class="amount m-0 text-success">{{overview.productAndStockDetails.totalProduct | number}}</p>
            </div>
            <div class="border-right p-2">
              <p class="wert mb-2">Available</p>
                <p class="amount m-0 text-primary">{{overview.productAndStockDetails.available | number}}</p>
            </div>
            <div class="border-right p-2">
              <p class="wert mb-2">Low Stock</p>
                <p class="amount m-0 text-warning">{{overview.productAndStockDetails.lowStock | number}}</p>
            </div>
            <div class="border-right p-2">
              <p class="wert mb-2">Out of Stock</p>
                <p class="amount m-0 text-danger">{{overview.productAndStockDetails.outOfStock | number}}</p>
            </div>
            <div class="border-right p-2">
              <p class="wert mb-2">Unavailable</p>
                <p class="amount m-0 text-success">{{overview.productAndStockDetails.unAvailable | number}}</p>
            </div>

          </div>
        </div>
        <div class="card" style="width: 58%">
          <div class="month">
            <input type="date" class="date-filter">
          </div>
          <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Top Products">
              <div class="">

                  <div class="">
                    <highcharts-chart
                        [Highcharts]="Barcharts"
                        [options]="productChartOptions"
                        style="width: 630px; height: 420px; display: flex;"
                        [callbackFunction]="chartCallback"
                    ></highcharts-chart>
                  </div>

                  <div class="px-3 d-flex justify-content-between">
                    <div>
                        <p class="amount m-0 text-success">₦12,456,789</p>
                      <small class="text-muted smaller-text">FOOD</small>
                    </div>
                    <div>
                        <p class="amount m-0 text-danger">₦12,456,789</p>
                      <small class="text-muted smaller-text">ASSESSORIES</small>
                    </div>
                    <div>
                      <p class="amount m-0 text-danger">₦12,456,789</p>
                    <small class="text-muted smaller-text">SMARTPHONES</small>
                    </div>
                    <div>
                        <p class="amount m-0 text-danger">₦12,456,789</p>
                      <small class="text-muted smaller-text">BEAUTY PRODUCTS</small>
                    </div>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label="Top Categories">
              <div class="">

                <div class="">
                  <highcharts-chart
                      [Highcharts]="Barcharts"
                      [options]="categoryChartOptions"
                      style="width: 630px; height: 420px; display: flex;"
                      [callbackFunction]="chartCallback"
                  ></highcharts-chart>
                </div>

                <div class="px-3 d-flex justify-content-between">
                  <div>
                      <p class="amount m-0 text-success">₦12,456,789</p>
                    <small class="text-muted smaller-text">FOOD</small>
                  </div>
                  <div>
                      <p class="amount m-0 text-danger">₦12,456,789</p>
                    <small class="text-muted smaller-text">ASSESSORIES</small>
                  </div>
                  <div>
                    <p class="amount m-0 text-danger">₦12,456,789</p>
                  <small class="text-muted smaller-text">SMARTPHONES</small>
                  </div>
                  <div>
                      <p class="amount m-0 text-danger">₦12,456,789</p>
                    <small class="text-muted smaller-text">BEAUTY PRODUCTS</small>
                  </div>
                </div>
              </div>
          </mat-tab>
        </mat-tab-group>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header d-flex justify-content-between">
          <div class="">
            <p class="header-text"> Weekly Sales report</p>
            <span class="text-muted smaller-text">18, May - 22, May compared to <small class="text-primary">LAST WEEK</small></span>
          </div>

          <div class=" d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <div class="btn-group " role="group" aria-label="Basic example">
                <button type="button" [ngClass]="{active: isYearly}" (click)="getGeneralOverview('year')" class="btn">Year</button>
                  <button type="button" [ngClass]="{active: isMonthly}" (click)="getGeneralOverview('month')" class="btn ">Month</button>
                  <button type="button" [ngClass]="{active: isWeekly}" (click)="getGeneralOverview('week')" class="btn">Week</button>
              </div>
            </div>
            <div class="mx-3">
              <div class="stores my-4">
                <select class="storelist form-select select_input" aria-label="Default select example">
                  <option value="">All Store</option>
                  <option value="{{item.storeId}}" *ngFor="let item of storeList"> {{item.storeName}}</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class=" my-3">
            <highcharts-chart
                [Highcharts]="Linecharts"
                [options]="salesChartOptions"
                style="width: 880px; height: 420px; display: flex;"
                [callbackFunction]="chartCallback"
            ></highcharts-chart>

            <div class="d-flex justify-content-around py-3">
              <span class="smaller-text">Sale amount : <strong class="text-success">₦{{overview.subSalesAmount | number}}</strong> </span>
              <span class="smaller-text">Sales with Tax : <strong class="text-success">₦{{overview.subSalesWithTax | number}}</strong> </span>
              <span class="smaller-text">Sale without Tax : <strong class="text-success">₦{{overview.subSalesWithoutTax | number}}</strong> </span>
              <span class="smaller-text">Sale Revenue : <strong class="text-success">₦{{overview.subRevenue | number}}</strong> </span>
          </div>
          </div>

          <div class="my-4 mx-1" style="width: 28%;">
            <div class="d-flex my-4" style="height: 48px; margin-right: 13px;">
              <span class="span-g-block mx-3">
                13%
              </span>
              <Div class="">
                <p class="m-0 price price-success">₦1,456,789</p>
                <small class="smaller-text text-muted">TOTAL DIFERENCE</small>
              </Div>
            </div>

            <div class="d-flex my-5" style="height: 48px; margin-right: 13px;">
              <span class="span-w-block mx-3">
                18 May
              </span>
              <Div class="">
                <p class="m-0 price">₦1,456,789</p>
                <small class="smaller-text text-muted">SALE AMOUNT (18-22 May)</small>
              </Div>
            </div>

            <div class="d-flex my-5" style="height: 48px; margin-right: 13px;">
              <span class="span-w-block mx-3">
                16 May
              </span>
              <Div class="">
                <p class="m-0 price">₦1,456,789</p>
                <small class="smaller-text text-muted">SALE AMOUNT (11-16 May)</small>
              </Div>
            </div>

          </div>
        </div>

      </div>
  </div>
</div>
