.smaller-text{
  font-size: 11px;
}
.m-0{
  margin: 0 !important;
}

.card{
  border-radius: 0;
}
 .min-card{
width: 270px;
border-radius: 0;
background-color: #ffffff;
border: .6px solid #9e9b9b;
height: 110px;
}
.border-right{
  border-right: .6px solid #989494;
}

hr{
  margin-bottom: 0px !important;
}

.sale{
  font-size: 12px;
  font-weight: 600;
}

.card-header{
  background-color: #ffffff !important;
  // border-bottom: ;
}

.amount{
  font-size: 16px;
  font-weight: 500;
}

.date-filter{
  border: 0.5px solid #817c7c;
  border-radius: 5px;
  padding: 6px;
  margin-top: -26px;
  margin-right:15px;
  transform: translateY(40px);
  float: right;
}

.wert{
  font-size: 10px;
  margin: 0;
  font-weight: 500;
}

// .month{
//   position: relative;
// }


.header-text{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.span-g-block{
  padding: 12px;
  color: #ffffff;
  border-radius: 8px;
  background-color: rgb(52, 220, 52);
}

.span-w-block{
  padding: 8px;
  color: #000000;
  border-radius: 8px;
  width: 55px;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  background-color: #ffffff;
  border: .6px solid #9d9b9b;
}

.storelist{
  width: 150px;
  height: 40px;
  margin-top: 4px;
  border-radius: 5px;
  border: .4px solid #d3d0d0
}
.storelist:focus,.storelist:active{
  border: .4px solid #d3d0d0
}

.price-success{
  color:rgb(52, 220, 52);

}
.price{
  font-size: 18px;
  font-weight: 600;
}

.btn-group .btn{
  border: 1px solid #CCC;
  background-color: #fff;
}
.active{
    background-color: #ccc !important;
}
