#help {

//   .form-inline{
//     width: 30ch !important;
// }

.form-control.search_input{
   // border-radius: 2rem !important;
    width: 100%;
}

.search{
    right: .85ch;
    top: 8px;
    z-index: 5;
    height: 1.75ch;
    width: 1.75ch;
    color: var(--contentText-color);
}

.sort_button{
   padding: 1ch;
   border-color: transparent !important;
   opacity: .25 !important;
   background-color: transparent !important;
   &::after{
    display: none !important;
   }
   &:hover{
    opacity: 1 !important;
    color: black !important;
    background-color: transparent !important;
   }
}
  
  .help-body {
    border: 1px solid #cbd5e0;
    background-color: white;
    padding: 1.25rem 5.625rem;

    .top-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h5 {
        color: #1b2e4b;
        opacity: 1;
        font-size: 30px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
        color: #64738f;
        opacity: 1;
        margin-bottom: 22px;
      }
    }

    .questions-wrapper {
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;
      p {
        padding: 6px 16px;
        color: #1b2e4b;
        font-size: 14px;
        background-color: #e1e5ee;
        border-radius: 22px;
        opacity: 1;
        white-space: nowrap;
      }
    }

    .small-heading {
      display: flex;
      justify-content: space-between;
      p {
        color: #1b2e4b;
        opacity: 1;
        font-size: 18px;
        font-weight: 700;
      }

      a {
        text-decoration: none;
        color: #0168fa;
        font-weight: 700;
      }
    }

    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
      grid-gap: 1.5rem;
      gap: 1.5rem;

      .card-card {
        padding: 1rem;
        background-color: white;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 2px;
        opacity: 1;

        .links {
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
        }

        a {
          -webkit-text-decoration: none;
          text-decoration: none;
          color: #0168fa;
          font-weight: 600;
        }
      }
    }

    .video-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr));
      grid-gap: 1.25rem;
      gap: 1.25rem;

      .video {
        background: #000000 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 0.1;
      }
    }
    .assistance {
      display: flex;
      gap: 5.375rem;
      a {
        text-decoration: none;
        color: #0168fa;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
}
