<div id="help">
  <div class="d-flex justify-content-between mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/overview']" style="text-decoration: none">Overview</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">Help</li>
      </ol>
    </nav>

    <a mat-button
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="help-body">
    <div class="top-text">
      <h5>TUC Help Center</h5>
      <p>Hello, How can we Help You ?</p>

      <div class="form-inline mb-4 col-4">
        <div class="input-group mr-3 position-relative w-100">
          <input
            type="text"
            class="form-control search_input"
            maxlength="100"
            placeholder="Write a Question or Problem"
          />
          <i-feather class="position-absolute search" name="search"></i-feather>
        </div>
      </div>
    </div>

    <img
      src="assets/images/help-center.svg"
      alt="an img"
      class="img-fluid w-100"
    />

    <div class="small-heading mt-3 mb-3">
      <p>
        <span class="px-2">Popular Questions</span
        ><i-feather name="chevron-down" class="small-icon"></i-feather>
      </p>
      <a href="/help/popular-question">Get All Answers</a>
    </div>

    <div class="questions-wrapper">
      <p class="question">How To Create Product ?</p>
      <p class="question">Can We skip Setup Guide ?</p>
      <p class="question">How To Create Product ?</p>
      <p class="question">How to accept return of products from customer ?</p>
      <p class="question">How to give Credit Note to customer</p>
    </div>

    <div class="small-heading mt-3 mb-3">
      <p>Help By Category</p>
    </div>

    <div class="cards-wrapper">
      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/about.svg" alt="" />
          <p class="ms-3 font-weight-bold mb-0">About The Product</p>
        </div>

        <div class="links">
          <a href="">Product Creation</a>
          <a href="">Product Catalog</a>
          <a href="">Manage Stock</a>
          <a href="">Category Management</a>
        </div>
      </div>

      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/invoice.svg" alt="" />
          <p class="ms-3 font-weight-bold" mb-0>Invoices & Credit Note</p>
        </div>

        <div class="links">
          <a href="">Invoices</a>
          <a href="">Credit Notes</a>
          <a href="">Return Products</a>
        </div>
      </div>

      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/pos.svg" alt="" />
          <p class="ms-3 font-weight-bold mb-0">POS & Cashiers</p>
        </div>

        <div class="links">
          <a href="">POS</a>
          <a href="">Cashier</a>
          <a href="">Return Products</a>
        </div>
      </div>

      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/report.svg" alt="" />
          <p class="ms-3 font-weight-bold mb-0">Reports & Analytics</p>
        </div>

        <div class="links">
          <a href="">Sales Report & Chart</a>
          <a href="">Inventory Report & Chart</a>
          <a href="">Payment Report & Chart</a>
          <a href="">Product Report & Chart</a>
        </div>
      </div>

      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/setting.svg" alt="" />
          <p class="ms-3 font-weight-bold mb-0">Settings</p>
        </div>

        <div class="links">
          <a href="">General Settings</a>
          <a href="">Tax Settings</a>
          <a href="">Return Policy Settings</a>
          <a href="">Discount Settings</a>
        </div>
      </div>

      <div class="card-card">
        <div class="d-flex mb-3 align-items-center">
          <img src="assets/icons/import.svg" alt="" />
          <p class="ms-3 font-weight-bold mb-0">Import/ Export List</p>
        </div>

        <div class="links">
          <a href="">Import List</a>
          <a href="">Export List</a>
        </div>
      </div>
    </div>

    <div class="small-heading mt-3 mb-3">
      <p>
        <span class="px-2">Video Tutorials</span
        ><i-feather name="chevron-down" class="small-icon"></i-feather>
      </p>
      <a href="">More Videos</a>
    </div>

    <div class="video-wrapper">
      <div>
        <div class="video">
          <video width="184" height="96" controls>
            <source src="assets/video.mp4" type="video/mp4" />
          </video>
        </div>
        <p>Sales Report & Chart</p>
      </div>

      <div>
        <div class="video">
          <video width="184" height="96" controls>
            <source src="assets/video.mp4" type="video/mp4" />
          </video>
        </div>
        <p>Sales Report & Chart</p>
      </div>

      <div>
        <div class="video">
          <video width="184" height="96" controls>
            <source src="assets/video.mp4" type="video/mp4" />
          </video>
        </div>
        <p>Sales Report & Chart</p>
      </div>

      <div>
        <div class="video">
          <video width="184" height="96" controls>
            <source src="assets/video.mp4" type="video/mp4" />
          </video>
        </div>
        <p>Sales Report & Chart</p>
      </div>

      
    </div>

    <div class="small-heading mt-3 mb-3">
      <p>Need Assistance ?</p>
    </div>

    <div class="assistance">
      <div class="d-flex mb-3">
        <i-feather name="message-circle"></i-feather>
        <a class="ms-3 font-weight-bold">Chat with us.</a>
      </div>

      <div class="d-flex mb-3">
        <i-feather name="mail"></i-feather>
        <a class="ms-3 font-weight-bold">Send us Email.</a>
      </div>

      <div class="d-flex mb-3">
        <i-feather name="map"></i-feather>
        <a class="ms-3 font-weight-bold">Register for our Webinar</a>
      </div>
    </div>
  </div>
</div>
