<div class="modal-header">
  <h1 class="mb-4 pagetipsheading">Page Tips</h1>
  <span (click)="close()" style="cursor: pointer;">
    <i data-feather="x"></i>
  </span>

</div>


<div class="border-line mb-3"></div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        How Add Tax ?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        necessitatibus adipisci blanditiis asperiores accusantium cum fugit
        itaque unde consequuntur incidunt nostrum enim non aliquam error. Animi
        rerum similique iure atque.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        How to apply tax to product ?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, necessitatibus adipisci blanditiis asperiores
        accusantium cum fugit itaque unde consequuntur incidunt nostrum enim non aliquam error. Animi rerum similique
        iure atque.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        How to apply tax location wise ?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, necessitatibus adipisci blanditiis asperiores
        accusantium cum fugit itaque unde consequuntur incidunt nostrum enim non aliquam error. Animi rerum similique
        iure atque.
      </div>
    </div>
  </div>
</div>