<div class="crumbs-wrapper">
    <span>Overview / </span>
    <span >&nbsp; Report & Analytics /</span>
    <span class="active-crumb">&nbsp; Sale-Report </span>
</div>

<div>

    <div class="d-flex py-2 px-3">
        <div class="form-check px-3">
            <input class="form-check-input" checked type="radio" name="productType" id="packed"
                 (click)="productType(true)"/>
            <label class="form-check-label" for="packed">Packed products</label>
        </div>
        <div class="form-check px-3">
            <input class="form-check-input" type="radio" name="productType" id="loose"  (click)="productType(false)"/>
            <label for="loose">Loose products</label>
        </div>
    </div>

    <div class="d-flex py-3">
        <div class="px-2">
            <input class="form-control" type="date" [(ngModel)]="parameters.SalesDate"/>
        </div>
        <div class="px-2">
            <div class="dropdown">
                <button class="btn bg-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  All Stores
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" *ngFor="let item of StoreResponse.data">{{item.storeName}}</a></li>
                  <li *ngIf="!Stores">
                    <a class="dropdown-item" disabled>No Store availables</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>

    <div class="table-wrapper">
        <mat-tab-group (selectedTabChange)="switchTabs($event)">
            <mat-tab label="Sale Summary">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>
                        <div class="d-flex justify-content-between">
                            <ng-container *ngIf="salesSummary">
                                <div class="d-flex p-3">
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'file-minus', countHeadingText: 'Total Invoices', 
                                                countValue: salesSummary.data.totalInvoices , backgroundColors:['bg-primary']}"></app-reusables-cards>
                                    </div>
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'dollar-sign', countHeadingText: 'Total Sale Amount', 
                                                countValue: salesSummary.data.totalSalesAmount, backgroundColors:['bg-success']}"></app-reusables-cards>
                                    </div>
                                </div>
                            </ng-container>
                        
                            <div class="d-flex">
                                <div class="d-flex align-self-center justify-content-between">
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="printer" class="small-icon"></i-feather>
                                            Print
                                        </button> 
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn" (click)="downloadReport('downloadStockProduct')">
                                            <i-feather name="external-link" class="small-icon"></i-feather>
                                            Export
                                        </button>
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="share-2" class="small-icon"></i-feather>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <ng-container *ngIf="salesSummary">
                            <app-reusables-table [tableData]="salesSummary.data.salesSummary">
            
                                <ng-template #headers>
                                    <th>Invoice</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Sale Amount</th>
                                    <th>Store</th>
                                    <th>Cashier</th>
                                    <th>POS</th>
                                </ng-template>
                            
                                <ng-template #rows let-tableRow>
                                    <td>
                                        {{tableRow.invoicesId}}
                                    </td>
                                    <td> {{tableRow.date | date : 'shortDate'}} <br /> 
                                    </td>
                                    <td> 
                                        {{tableRow.customerPhoneNumber}} <br />
                                        <small class="text-muted">{{tableRow.customer}}</small>  
                                    </td>
                                    <td>{{tableRow.salesAmount}} <br />
                                        <small>
                                            <a class="text-primary text-small">View Details 
                                                <i-feather name="chevron-right" class="small-icon"></i-feather> 
                                            </a> 
                                        </small>
                                    </td>
                                    <td> {{tableRow.store}}</td>
                                    <td>
                                        {{tableRow.cashierID}}
                                        <br />{{tableRow.cashier}}
                                    </td>
                                    <td> 
                                        {{tableRow.pos}}
                                        <br /> <small>{{tableRow.posOwner}}</small>
                                    </td>
                                </ng-template>        
                            </app-reusables-table>
                        </ng-container>
                    
                    </main>
                </div>
            </mat-tab>
            <mat-tab label="Productwise Sale">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>
                        <div class="d-flex justify-content-between">

                            <ng-container *ngIf="productData">
                                <div class="d-flex p-3">
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'gift', countHeadingText: 'All Products',
                                             countValue: productData.data.allProduct , 
                                             backgroundColors:['bg-primary']}"></app-reusables-cards>
                                    </div>
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'table', countHeadingText: 'Total Quantity Sold',
                                             countValue:productData.data.totalQuantitySold , 
                                             backgroundColors:['bg-warning']}"></app-reusables-cards>
                                    </div>
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'dollar-sign', countHeadingText: 'Total Sales without tax',
                                             countValue: productData.data.totalSalesWithoutTax , 
                                             backgroundColors:['bg-success']}"></app-reusables-cards>
                                    </div>
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'dollar-sign', countHeadingText: 'Total Sales with tax',
                                             countValue: productData.data.totalSalesWithTax , 
                                             backgroundColors:['bg-danger']}"></app-reusables-cards>
                                    </div>
                                </div>
                            </ng-container>
                           
                            
                            <div class="d-flex">
                                <div class="d-flex align-self-center justify-content-between">
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="printer" class="small-icon"></i-feather>
                                            Print
                                        </button> 
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="external-link" class="small-icon"></i-feather>
                                            Export
                                        </button>
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="share-2" class="small-icon"></i-feather>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                   
                        <ng-container *ngIf="productData">
                            <app-reusables-table [tableData]="productData.data.productWises">
                                <ng-template #headers>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Quantity Sold</th>
                                    <th>Sales</th>
                                    <th>Sales with Tax</th>
                                </ng-template>
                            
                                <ng-template #rows let-tableRow>
                                    <td>
                                        <div class="d-flex">
                                           
                                            <div class="d-flex flex-column">
                                                <strong>{{tableRow.itemName}}</strong>
                                            </div>
                                        </div>
                                    </td>
                                    <td> {{tableRow.category}} <br />
                                    </td>
                                    <td> {{tableRow.quantitySold}} </td>
                                    <td> {{tableRow.sales}}</td>
                                    <td> {{tableRow.salesWithTax}}<br />
                                    </td>
                                </ng-template>        
                            </app-reusables-table>
                        </ng-container>
                    </main>
                </div>
            </mat-tab>
            <mat-tab label="Return">
                <div class="table-wrapper-top">
                    <main class="table_parent mt-3">
                        <app-reusables-filter></app-reusables-filter>
                        <div class="d-flex justify-content-between">
                            <ng-container *ngIf="returnsData">
                                <div class="d-flex p-3">
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'file-minus', 
                                                countHeadingText: 'Total Sales Return', countValue: returnsData.data.totalSalesReturn, 
                                                backgroundColors:['bg-primary']}"></app-reusables-cards>
                                    </div>
                                    <div class="px-2">
                                        <app-reusables-cards [data]="{ featherIconNames:'dollar-sign', 
                                                countHeadingText: 'Total Return Amount', countValue:returnsData.data.totalReturnAmount, 
                                                backgroundColors:['bg-success']}"></app-reusables-cards>
                                    </div>
                                </div>
                            </ng-container>
                            
                            <div class="d-flex">
                                <div class="d-flex align-self-center justify-content-between">
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="printer" class="small-icon"></i-feather>
                                            Print
                                        </button> 
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="external-link" class="small-icon"></i-feather>
                                            Export
                                        </button>
                                    </span>
                                    <span class="px-2">
                                        <button class="btn action-btn">
                                            <i-feather name="share-2" class="small-icon"></i-feather>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                        <ng-container *ngIf="returnsData">
                            <app-reusables-table [tableData]="returnsData.data.returnSale">
        
                                <ng-template #headers>
                                    <th>Invoice</th>
                                    <th>Return Date</th>
                                    <th>Sale Date</th>
                                    <th>Customer</th>
                                    <th>Inv Amount</th>
                                    <th>Refund/Credit Amt</th>
                                    <th>Store</th>
                                </ng-template>
                            
                                <ng-template #rows let-tableRow>
                                    <td>
                                        {{tableRow.invoiceNo}}
                                    </td>
                                    <td> 
                                        {{tableRow.returnDate | date : 'shortDate'}} 
                                    </td>
                                    <td> 
                                        {{tableRow.salesDate | date: 'shortDate'}} 
                                    </td>
                                    <td>
                                        {{tableRow.customer ?  tableRow.customer :'--'}}
                                    </td>
                                    <td>
                                        {{tableRow.invoiceAmount | number : '1.2-2'}}
                                    </td>
                                    <td> 
                                        {{tableRow.returnCreditAmount | number : '1.2-2'}} </td>
                                    <td> 
                                        {{tableRow.store}}
                                    </td>
                                </ng-template>        
                            </app-reusables-table>
                        </ng-container>
                    </main>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>
