<div class="media">
    <div [ngClass]="data.backgroundColors" class="p-3 text-white d-flex align-items-center justify-content-center rounded">
        <i-feather [name]="data.featherIconNames || 'shopping-cart'" class="big"></i-feather>
    </div>
    <div class="media-body">
        <div>
            <h6 class="text-muted" style="font-size: 12px;"> {{ data.countHeadingText}} </h6>
        </div>
        <h4 class="subHeaderCount" style="font-size: 18px;"><span></span> {{  data.countValue }} </h4>
    </div>
</div>

