

.media{
    --medium-font-family: 'Roboto Medium';
    --light-font-family: 'Roboto Light';
    --regular-font-family: 'Roboto Regular';
    width: auto;
    display: flex;
    gap:0.75rem;
    font-family: var(--light-font-family);

    // & .media-body{
    //   padding-top: .75rem;   
    // }

    & .subHeaderCount{
        font-family: var(--regular-font-family);
        font: 1.2rem !important;
    }
}

.bg-success-lighter{
    background-color: #10B759;
}
.bg-danger-lighter{
    background-color: #F10875;
}