/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --sideBarWidth: 240px;
  --white: #ffffff;
  --contentText-color: #7987A1;
  --roboto-black: 'Roboto Black';
  --roboto-bold: 'Roboto Bold';
  --roboto-light: 'Roboto Light';
  --roboto-regular: 'Roboto Regular';
  --roboto-medium: 'Roboto Medium';
  --heading-color: #3B4863;
  --general-border-color: #C0CCDA;
  --primary-blue-color: #0168FA;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf')
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
  font-size: 14px;
  font-family: 'Roboto Regular';
  transition: all 1.5s ease-in-out;
}


.main-wrapper {
  padding-left: 240px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}


body.isCollapsed .main-wrapper {
  padding-left: 4rem;
}

body.isCollapsed .header {
  width: calc(100% - 4rem);
}

body.isCollapsed .header_inner {
  padding: 0.7rem;
}

body.isCollapsed .sidebar {
  width: 4rem;
}

.isCollapsed .display-name {
  font-size: 0.5rem;
}

.isCollapsed .sidebar_lower-links span,
.isCollapsed .sidebar_lower-links h6,
.isCollapsed .role-name {
  display: none;
  pointer-events: none;
}

.isHover .sidebar_lower-links span,
.isHover .sidebar_lower-links h6,
.isHover .role-name {
  display: block !important;
}

.isCollapsed .img-container {
  display: none;
}

.isCollapsed .avar-img {
  width: 20px !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.w-500p {
  width: 500px;
}

.w-250p {
  width: 250px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

/* modal css */

.modal-content {
  border-radius: 7px;
  border: 1px solid #C0CCDA;
}

.w-300p {
  width: 300px;
}


/* form css */

input.form-control,
textarea.form-control,
select.form-control,
select.custom-select {
  border: 1px solid #C0CCDA;
  border-radius: 2px;
  outline: none;
}

.customized-select {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #C0CCDA;
}

button.btn.btn-outline-simple {
  border: 1px solid #C0CCDA;
  border-radius: 1px solid #C0CCDA;
  border-radius: 0;
}

button.btn.btn-outline-simple:active {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
}

button.btn.btn-outline-simple:active,
button.btn.btn-outline-simple:focus {
  box-shadow: none;
  outline: none;
}

button.btn.btn-outline-simple:hover {
  color: #6c757d;
  background-color: #fff;
  border-color: #C0CCDA;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.primary-btn,
.primary-btn:hover {
  background: #B11A83;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
}

.neutral-btn {
  background-color: #C0CCDA;
  border-radius: 4px;
  color: #001737;
  font-size: 14px;
}

.secondary-btn {
  background: #E2E5ED;
  border: 1px solid #C2CCD9;
  border-radius: 4px;
  color: #7987A1;
}

.white-btn {
  background: #FFFFFF;
  border: 1px solid #E6EAFB;
  border-radius: 2px;
  font-size: 14px;
}

.small-icon {
  width: 20px;
  height: 25px;
}


/* .active-crumb{
    color: #B11A83;
} */

.crumbs-wrapper {
  border-radius: 4px;
  padding: 1rem;
  font-size: 14px;
  color: #0168FA;
}

.crumbs-wrapper .active-crumb {
  text-decoration: none;
  color: #5F6D88;
  font-weight: 500;
}

.primary-text {
  color: #B11A83;
}

.btn-pink,
.btn-pink:disabled {
  color: #fff;
  background-color: #B11A83;
  border-color: #B11A83;
}

.btn-pink:active,
.btn-pink:focus-visible,
.btn-pink:hover {
  color: #fff;
  background-color: #B11A83;
  border-color: #B11A83;
}

.table td {
  font-weight: 400;
  font-size: 14px;
  color: #586478;
}

.cursor-pointer {
  cursor: pointer;
}


/*Listing CSS*/

.review-header {
  background: #FFFFFF;
  border: 0.5px solid #C0CCDA;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0.55rem;
  align-items: center;
  flex-wrap: wrap;
}

.review-header_params {
  color: #586478;
  display: flex;
}

.table-footer {
  background: #FFFFFF;
  border: 0.5px solid #C0CCDA;
  border-radius: 0px 0px 4px 4px;
  padding: 0.75rem;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

ul.custom-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.custom-nav li {
  padding: 0.25rem;
  cursor: pointer;
  height: 30px;
  transition: all 0.7s ease-in;
  min-width: 2rem;
  text-align: center;
  color: #C0CCDA;
}

.nav-count {
  border: 0;
  color: #C0CCDA;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 2px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.nav-count.activePage,
.nav-count:hover {
  background: #0168FA;
  color: #FFFFFF;
}

.table-footer__inner {
  display: flex;
  align-items: center;
  color: #C0CCDA;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

ul.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.list-icon {
  font-size: 10px;
}

.pagination-icons {
  color: #C0CCDA;
  width: 15px;
  height: 15px;
}

.review-header_params span {
  background: #C0CCDA;
  border-radius: 4px;
  padding: 0.15rem;
  font-size: 14px;
  margin: 0.25rem;
}

.review-header_params .active-panel {
  color: #B11A83;
}

.active-panel>span {
  color: #FFFFFF;
  background-color: #B11A83;
}

thead>tr>th {
  font-family: 'Roboto Light';
  border-bottom: 1px solid #C0CCDA;
}

.border-td>.table-borderless>thead>tr>th {
  // border-bottom: 5px solid rgba(192, 204, 218, 0.3);
  background-color: #FFFFFF;
  font-family: 'Roboto Medium';
  padding: 1rem 0.5rem;
}

.border-td>.table-borderless>tbody>tr>td {
  border-bottom: 5px solid rgba(192, 204, 218, 0.3);
  background-color: #FFFFFF;
}

table tbody tr {
  border-color: transparent !important;

  & td {
    padding: 1.75ch !important;
  }
}

.xsm-icon {
  width: 16px !important;
}

.notie-alert {
  z-index: 1200 !important;
}

.notie-container {
  font-size: 0.8rem;
  height: auto;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

.notie-background-success {
  background-color: #20ab68;
}

.notie-background-warning {
  background-color: #fda61c;
}

.notie-background-error {
  background-color: #e9223f;
}

.notie-background-info {
  background-color: #8673ea;
}

.notie-background-neutral {
  background-color: #a0a0a0;
}

.notie-background-overlay {
  background-color: #fff;
}

.notie-textbox {
  color: #fff;
  padding: 10px 20px;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.notie-alert,
.notie-button {
  cursor: pointer;
}

.notie-button,
.notie-element {
  color: #fff;
  padding: 10px;
}

.notie-element-half {
  width: 50%;
}

.notie-element-half,
.notie-element-third {
  display: inline-block;
  box-sizing: border-box;
}

.notie-element-third {
  width: 33.3333%;
}

.notie-input-field {
  background-color: #fff;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.notie-select-choice-repeated {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: border-box;
}

.notie-date-selector-inner {
  margin: 0 auto;
  max-width: 900px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.notie-date-selector-inner [contenteditable],
.notie-date-selector-inner [contenteditable]:focus {
  outline: 0 solid transparent;
}

.notie-date-selector-up {
  transform: rotate(180deg);
}

.ng-select.ng-select-custom {
  border: 0px;
  min-height: 0px;
  border-radius: 2px;
}

.ng-select.ng-select-custom .ng-select-container {
  border-radius: 2px;
}

.pac-container {
  z-index: 100000;
}

.anchorhref {
  text-decoration: none;
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.img-logo {
  width: 120px;
  height: 38px;
}

.img-homesidebar {
  width: 80px;
  height: 42px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox+label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #8B92A4;
  border-radius: 3px
}

.styled-checkbox:hover+label:before {
  background: #0168FA;
}

.styled-checkbox:focus+label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
  background: #0168FA;
  border-radius: 3px
}

.styled-checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled+label:before {
  box-shadow: none;
  background: #8B92A4;
}

.styled-checkbox:checked+label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.pointer {
  cursor: pointer;
}

.right-modal .modal-dialog {
  right: -30rem !important;
}

.table-footer {
  overflow-x: scroll
}


.bg-pinkett {
  background: #FAE6F7;
}

.bg-grey-pink {
  background: #EDE4FF;
}

.bg-orange-light {
  background: #FEEAD6;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accordion-item {
  border: none !important;
}

accordion-button:focus {
  border-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button {
  color: var(--bs-accordion-active-color) !important;
}

.accordion-button::after {
  background-image: url(/assets/icons/plus.svg) !important;
}

.accordion-button.accordion-button:not(.collapsed):after {
  background-image: url(/assets/icons/minus.svg) !important;
}
















.cards {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 4em 0;
}

.slider-card {
  display: flex;
  justify-content: center;
  padding: 3px;
  opacity: 0.7;
  transform: scale(0.87);
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-image: linear-gradient(#001639, #001639),
    linear-gradient(to right, #303F9F, #99A6FA);
  background-clip: content-box, border-box;
}

.active .slider-card {
  box-shadow: 0 0px 1em rgba(0, 0, 0, 0.2);
  transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
}

.card__content {
  /* display: flex;
  align-items: center;
  text-align: center; */
  color: #fff;
  opacity: 1;
}

.active .card__content {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.card__title {
  display: inline-block;
  font-size: 2em;
  overflow: hidden;
}

.card__title span {
  display: inline-block;
  -webkit-animation: slide-up 0.4s 0s ease both;
  animation: slide-up 0.4s 0s ease both;
}

.center.active .card__title span,
.center.active.cloned:last-child .card__title span {
  opacity: 1;
  -webkit-animation: slide-down 0.4s 0.4s ease both;
  animation: slide-down 0.4s 0.4s ease both;
  transition: transform 0.3s 0.4s ease, opacity 0.3s ease;
}

.center .slider-card {
  opacity: 1;
  transform: scale(1);
}

.center .slider-card:hover {
  box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.4);
}


.cursor-pointer {
  cursor: pointer;
}

.main-wrapper {
  padding-left: 240px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

.aside-alert-link {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.breadcrumb-wrapper {
  background: #e1e5ef;
  border-radius: 4px;
  padding: 1.2rem;
  font: normal 600 11px 'Plus Jakarta Sans';
  margin-top: 10px;
}

.breadcrumb-wrapper span {
  font-weight: 600;
}

.breadcrumb-wrapper .active-crumb {
  text-decoration: none;
  color: #0168FA;
}

body.isCollapsed .main-wrapper {
  padding-left: 4rem;
}

body.isCollapsed .header {
  width: calc(100% - 4rem);
}

body.isCollapsed .header_inner {
  padding: 0.7rem;
}

.isCollapsed .display-name {
  font-size: 0.25rem;
}

.isCollapsed .sidebar_lower-links span,
.isCollapsed .sidebar_lower-links h6,
.isCollapsed .role-name {
  display: none;
  pointer-events: none;
}

.isCollapsed .sidebar_lower .aside-loggedin-user {
  display: none;
}

.isCollapsed .sidebar .sidebar_upper .aside-logo {
  display: none;
  width: 20px;
  height: 20px;
}

.isCollapsed .img-container {
  display: none;
}

.isCollapsed .avatar img {
  width: 5rem !important;
  height: 5rem !important;
}

.isCollapsed .logout-img {
  opacity: 0;
}

.isCollapsed .sidebar .sidebar_lower-links .small-icon {
  width: 22px;
  height: 25px;
}

.btnPrimary {
  width: 180px;
  min-height: 38px;
  background: #303F9F;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.btnPrimary:disabled {
  opacity: .4px;
  background: #5966ba;
}

.btnLight {
  width: 180px;
  min-height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #C0CCDA;
  border-radius: 5px;
  text-align: center;
}

.btnLightAdd {
  width: 180px;
  min-height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #C0CCDA;
  border-radius: 5px;
  text-align: center;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0px 1px 5px;

}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

.input {
  box-sizing: border-box;


  flex-direction: row;
  align-items: center;
  height: 48px;
  background: #FBFCFF;
  border: 0.5px solid #8392A5;
  border-radius: 4px;
}

.ng-select.ngSelectCustom {
  border: 0px;
  min-height: 0px;
  border-radius: 4px;
}

.ng-select.ngSelectCustom .ng-select-container {
  border-radius: 4px !important;
  height: 48px !important;
  border: 0.5px solid #8392A5 !important;
  background: #FBFCFF !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #8392A5 !important;
}



.nav-line {
  border-bottom: 2px solid #C0CCDA;
}

.pd-b-20 {
  padding-bottom: 20px;
}

.wd-250 {
  width: 250px;
}

.pd-15 {
  padding: 15px;
}

.fs-14 {
  font-size: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-10 {
  margin-left: 10px;
}

.tx-black {
  color: black;
}

.wd-300 {
  width: 300px;
}

.wd-400 {
  width: 400px;
}

.pd-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pd-l-25 {
  padding-left: 25px;
}

.pd-l-15 {
  padding-left: 15px;
}

.pd-b-10 {
  padding-bottom: 10px;
}

.mx-1 {
  margin-right: 0.25rem !important;
}

.mt-n15 {
  margin-top: -15px;
}

.rounded-50 {
  border-radius: 50px;
}

.bg-navy {
  background: #303F9F;
}

.ml-n20 {
  margin-left: -20px;
}

.ml-n10 {
  margin-left: -10px;
}

.p-25 {
  padding: 25px;
}

.mg-y-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ht-100p {
  height: 100%;
}

/* md Date range Picker css */
.md-drppicker .btn.btn-default {
  margin-right: 1rem;
}

.mr-n20 {
  margin-right: -20px;
}

.pd-l-15 {
  padding-left: 15px;
}

.SystemActive {
  background-color: #e3e7eD !important;
  color: black !important;
}

.tx-color-grey {
  color: #8392a5 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.py-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ngx-spinner {
  top: 10px !important;
  left: 97% !important;
  color: #071155 !important;
}


.gredientBorderCol:after {
  background: linear-gradient(to right, #F10875 25%, #00cccc 25%, #00cccc 50%, #FFC20A 50%, #FFC20A 75%, #0168fa 75%) right bottom no-repeat;
  /* position: absolute; */
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.gredientBorder {
  background: linear-gradient(to right, #F10875 25%, #00CCCC 25%, #00CCCC 50%, #FFC20A 50%, #FFC20A 75%, #0168FA 75%) right bottom no-repeat;
  /* position: absolute; */
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.wd-200 {
  width: 200px !important;
}

.md-drppicker .btn {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #303F9F !important;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF !important;
}

.md-drppicker .btn.btn-default {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #E7EDF4 !important;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #8392A5 !important;
}

.md-drppicker td.active {
  background: #303F9F !important;
}

.filter-apply-btn,
.filter-apply-btn:hover {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #303F9F;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.filter-reset-btn,
.filter-reset-btn:hover {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #E7EDF4;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #8392A5;
}

.rounded {
  border-radius: 0.25rem !important;
}

.tx-MasterCard {
  color: #FFC20A !important;
}

.text-18 {
  font-size: 18px;
}

.color-pink {
  color: #DF3375;
}

.plus-icon {
  color: #10B759 !important;
}

.plus-btn {
  border-right: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.minus-btn {
  border-left: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.minus-btn:focus {
  box-shadow: 0 0 0 1px #DC3545 !important;
}

.plus-btn:focus {
  box-shadow: 0 0 0 1px #10B759 !important;
}

.minus-icon {
  color: #DC3545 !important;
}

.search-icon {
  color: #3B4863 !important;
  margin: -8px !important;
}

.icon-black {
  color: #3B4863 !important;
}

.small-icon {
  height: 18px !important;
  width: 18px !important;
}

.wd-40 {
  width: 40px;
}

.ht-40 {
  height: 40px;
}

.bd-2 {
  border-width: 2px !important;
}

.active-border {
  border-color: #20ab68 !important;
}

.inactive-border {
  border-color: #fda61c !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}

.positionfix {
  /* background: transparent;
   position: fixed;
   width: 78%;
    z-index: 10; justify-content: space-between; */
  position: absolute;
  width: 1121px;
  height: 80px;
  left: 276px;
  margin-top: 65.61px;

  background: transparent;
}

.containerBox {
  margin-top: 70px;
}

.inboxContainer {
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.tx-bolder {
  font-weight: 900;
}

.tx-bold {
  font-weight: 700;
}

.tx-semibold {
  font-weight: 600;
}

.tx-medium {
  font-weight: 500;
}

.tx-normal {
  font-weight: 400;
}

.tx-spacing--1 {
  letter-spacing: -0.5px;
}

.tx-spacing--2 {
  letter-spacing: -1px;
}

.tx-uppercase {
  text-transform: uppercase;
}

.tx-lowercase {
  text-transform: lowercase;
}

.tx-14 {
  font-size: 14px;
}

.mg-r-5 {
  margin-right: 5px;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.ngx-pagination .current {
  background: #1068FA !important;
}

.xsm-icon {
  width: 16px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: #FFFFFF !important;
  background: #0168FA !important;
  border: 1px solid #0168FA;
  border-radius: 4px;
}

.mt-10 {
  margin-top: 10px !important;
}

.tx-12 {
  font-size: 12px;
}

.tx-13 {
  font-size: 13px;
}

.tx-10 {
  font-size: 10px;
}

.fw-500 {
  font-weight: 500;
}

.tx-20 {
  font-size: 20px;
}

.tx-9 {
  font-size: 9px;
}

.pd-l-15 {
  padding-left: 15px !important;
}

.mg-b-0 {
  margin-bottom: 0px !important;
}

.pd-25 {
  padding: 25px;
}

.mg-t-25 {
  margin-top: 45px !important;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.pac-container {
  z-index: 100000;
}

.mg-t-15 {
  margin-top: 15px !important;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.wd-150 {
  width: 150px;
}


/* styles for a custom dropdown starts here */

.custom_select_wrapper {
  width: 100%;
  position: relative;
}


.custom_select_wrapper .custom_select_search {
  width: 100%;
  border-radius: 4px !important;
  height: 48px !important;
  position: relative;
  cursor: pointer;
}

.custom_select_wrapper .custom_select_search:focus-within {
  /* border: 1px solid rgba(0, 0, 0, 0.175); */
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.custom_select_wrapper .custom_select_search .custom_select_input {
  height: 100%;
  width: 100%;
  border: 1px solid #8392A5;
  padding-left: .75rem;
  border-radius: 4px !important;
}

.custom_select_wrapper .custom_select_search .custom_select_input:focus {
  border: none;
  outline: none;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger {
  position: absolute;
  top: 30%;
  right: 2%;
  padding: .25rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  isolation: isolate;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger .icon_trigger {
  transition: transform 250ms ease-in-out;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger .icon_trigger.whine {
  transform: rotate(180deg);
}

.custom_select_wrapper .custom_select_search .dropDown_trigger::before {
  content: '';
  position: absolute;
  border: 1px solid #e9ecef;
  z-index: -1;
  background: #e9ecef;
  inset: -.35rem;
  border-radius: 50%;
  display: none;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger:hover::before {
  display: block;
}

.custom_select_wrapper .custom_select_dropDown {
  width: 100%;
  max-height: 0px;
  opacity: 0;
  transition: opacity 250ms ease-in-out 250ms, max-height 250ms ease-in-out;
  overflow: hidden;
  position: absolute;
  top: 3.05rem;
  left: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #8392A5;
  border-top: 1px solid #86b7fe;
  list-style-type: none;
  padding-left: 0px;
}

.custom_select_wrapper .custom_select_dropDown .an_item {
  padding-block: 1rem;
  padding-inline: .75rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.custom_select_wrapper .custom_select_dropDown .an_item .search_icon {
  position: absolute;
  left: 1.2rem;
  top: 1.45rem;
}

.custom_select_wrapper .custom_select_dropDown .an_item:not(:first-child):hover {
  cursor: pointer;
  background-color: #f5faff;
}

.custom_select_wrapper .custom_select_dropDown .an_item .search_field {
  width: 100%;
  border: 1px solid #86b7fe;
  padding-left: 1.65rem;
  border-radius: 4px !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field::-webkit-input-placeholder {
  padding-left: 1rem !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field::-moz-placeholder {
  padding-left: 1rem !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field:-ms-input-placeholder {
  padding-left: 1rem !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field::-ms-input-placeholder {
  padding-left: 1rem !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field::placeholder {
  padding-left: 1rem !important;
}

.custom_select_wrapper .custom_select_dropDown.show {
  opacity: 1;
  max-height: 240px;
}

.custom_select_wrapper .custom_select_dropDown .an_item .rotate_icon {
  transform: rotate(-90deg);
}


/* ends here */


// Material resets

.general_success_notification mat-dialog-container {
  padding: 1px;
}

.btn-sm-success {
  background-color: #10B759 !important;
  color: white !important;
  font-size: 10px !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
  color: #0168FA;
  border-bottom: 1px solid #0168FA;
}

// for horizontal line
.border-line {
  width: 100%;
  height: 0px;
  border: 0.8px solid #C0CCDA;
}

.text-decoration-none {
  text-decoration: none;
}

.modal-head-label {
  color: #3B4863;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

// Toastr ??
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 500px !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.toast-message {
  display: flex;
  justify-content: left;
  align-items: center;
}
.toast-container {
  margin-top: 20px;
}
body.isCollapsed .sidebar{
  width: 4rem;
}
body.isCollapsed .text-title{
  font-size: 0.5rem;
  font-weight: 500;
}
.isCollapsed .display-name{
  font-size: 0.5rem;
}
.ngx-toastr{
  font-size: 15px;
  color:#ffffff ;
  min-height: 80px ;
}
.toast-container .ngx-toastr {
  padding: 15px 15px 15px 70px !important;
  background-size: 35px !important;
  width: 400px !important;
  margin-bottom: 20px !important;
  height: 80px !important;
}
#toast-container > .toast {
  /* background-image: none !important; */
}

#toast-container > .toast:before {
  position: relative;
  font-family: FontAwesome;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  color: #fff;
  padding-right: 0.5em;
  margin-right: 0.5em;
}
.toast-error {
  background-image: url('./assets/images/error.jpeg') !important;
  background-repeat: no-repeat;
  background-color: white !important;
  color: black !important;
}
.toast-info {
  background-image: url('./assets/images/info.jpeg') !important;
  background-repeat: no-repeat;
  background-color: white !important;
  color: black !important;
}
.toast-success {
  background-image: url('./assets/images/success.jpeg') !important;
  background-repeat: no-repeat;
  background-color: white !important;
  color: black !important;
}
.toast-warning {
  background-image: url('./assets/images/info.jpeg') !important;
  background-repeat: no-repeat;
  background-color: white !important;
  color: black !important;
}
.toast-close-button{
  color:#000 !important;
}
#toast-container > .toast-success:before {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
  text-shadow: 2px 2px 4px #000;
}
#toast-container > .toast-warning:before {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
  text-shadow: 2px 2px 4px #000;
}
#toast-container > .toast-error:before {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
  text-shadow: 2px 2px 4px #000;
}
#toast-container > .toast-info:before {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
  text-shadow: 2px 2px 4px #000;
}

.align-items-center {
  align-items: center !important;
}


/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-size: 14px;
  font-family: 'Plus Jakarta Sans';
  transition: all 1.5s ease-in-out;
}

.carousel-item label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  margin-bottom: 10%;
}

.citem1 {
  background-color: #6073D8;
  height: 100vh;
}

.citem2 {
  background-color: #220265;
  height: 100vh;
}

.citem3 {
  background-color: #5A3601;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.main-wrapper {
  padding-left: 250px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

.rounded-circle {
  border-radius: 50% !important;
}

.aside-alert-link {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.slider-card,
.owl-item {
  transition: all 1s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.owl-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 4em 0;
}

.slider-card {
  display: flex;
  justify-content: center;
  padding: 3px;
  opacity: 0.7;
  transform: scale(0.87);
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-image: linear-gradient(#001639, #001639),
    linear-gradient(to right, #303F9F, #99A6FA);
  background-clip: content-box, border-box;
}

.active .slider-card {
  box-shadow: 0 0px 1em rgba(0, 0, 0, 0.2);
  transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
}

.card__content {
  /* display: flex;
  align-items: center;
  text-align: center; */
  color: #fff;
  opacity: 1;
}

.active .card__content {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.card__title {
  display: inline-block;
  font-size: 2em;
  overflow: hidden;
}

.card__title span {
  display: inline-block;
  -webkit-animation: slide-up 0.4s 0s ease both;
  animation: slide-up 0.4s 0s ease both;
}

.center.active .card__title span,
.center.active.cloned:last-child .card__title span {
  opacity: 1;
  -webkit-animation: slide-down 0.4s 0.4s ease both;
  animation: slide-down 0.4s 0.4s ease both;
  transition: transform 0.3s 0.4s ease, opacity 0.3s ease;
}

.center .slider-card {
  opacity: 1;
  transform: scale(1);
}

.center .slider-card:hover {
  box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.4);
}

.owl-theme .owl-dots .owl-dot span {
  width: 4em;
  height: 4px;
  margin: 0 0.5em;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 0;
  visibility: hidden;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff527b;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
}

@media (max-width: 580px) {
  .slider-card {
    background-image: none;
    border: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.main-wrapper {
  padding-left: 250px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

.aside-alert-link {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.breadcrumb-wrapper {
  background: #e1e5ef;
  border-radius: 4px;
  padding: 1.2rem;
  font: normal 600 11px 'Plus Jakarta Sans';
  margin-top: 10px;
}

.breadcrumb-wrapper span {
  font-weight: 600;
}

.breadcrumb-wrapper .active-crumb {
  text-decoration: none;
  color: #0168FA;
}

body.isCollapsed .main-wrapper {
  padding-left: 4rem;
}

body.isCollapsed .header {
  width: calc(100% - 4rem);
}

body.isCollapsed .header_inner {
  padding: 0.7rem;
}

body.isCollapsed .sidebar {
  width: 4rem !important;
}

.isCollapsed .display-name {
  font-size: 0.5rem;
}

.isCollapsed .sidebar_lower-links span,
.isCollapsed .sidebar_lower-links h6,
.isCollapsed .role-name {
  display: none;
  pointer-events: none;
}

.isCollapsed .sidebar_lower .aside-loggedin-user {
  display: none;
}

.isCollapsed .sidebar .sidebar_upper .aside-logo {
  display: none;
  width: 20px;
  height: 20px;
}

.isCollapsed .img-container {
  display: none;
}

.isCollapsed .avatar img {
  width: 5rem !important;
  height: 5rem !important;
}

.isCollapsed .logout-img {
  opacity: 0;
}

.isCollapsed .sidebar .sidebar_lower-links .small-icon {
  width: 22px;
  height: 25px;
}

.btnPrimary {
  width: 180px;
  min-height: 38px;
  background: #303F9F;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.btnPrimary:disabled {
  opacity: .4px;
  background: #5966ba;
}

.btnLight {
  width: 180px;
  min-height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #C0CCDA;
  border-radius: 5px;
  text-align: center;
}

.btnLightAdd {
  width: 180px;
  min-height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #C0CCDA;
  border-radius: 5px;
  text-align: center;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0px 1px 5px;

}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8392A5;
}

.input {
  box-sizing: border-box;


  flex-direction: row;
  align-items: center;
  height: 48px;
  background: #FBFCFF;
  border: 0.5px solid #8392A5;
  border-radius: 4px;
}

.ng-select.ngSelectCustom {
  border: 0px;
  min-height: 0px;
  border-radius: 4px;
}

.ng-select.ngSelectCustom .ng-select-container {
  border-radius: 4px !important;
  height: 48px !important;
  border: 0.5px solid #8392A5 !important;
  background: #FBFCFF !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #8392A5 !important;
}

/* ::ng-deep .ng-select-container {
  border-radius: 4px !important;
  border: 0.5px solid #8392A5;
  height: 48px !important;
} */



@media(max-width: 751px) {
  .main-wrapper {
    padding-left: 0rem;
  }

  .header {
    width: calc(100% - 0rem);
  }

  .header_inner {
    padding: 0.7rem;
  }

  /* .sidebar {
    display: none !important;
    width: 0px !important;
  } */

  .display-name {
    font-size: 0.5rem;
  }

  .role-name {
    display: none;
    pointer-events: none;
  }
}

.nav-line {
  border-bottom: 2px solid #C0CCDA;
}

.pd-b-20 {
  padding-bottom: 20px;
}

.wd-250 {
  width: 250px;
}

.pd-15 {
  padding: 15px;
}

.fs-14 {
  font-size: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-10 {
  margin-left: 10px;
}

.tx-black {
  color: black;
}

.wd-300 {
  width: 300px;
}

.pd-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pd-l-25 {
  padding-left: 25px;
}

.pd-l-15 {
  padding-left: 15px;
}

.pd-b-10 {
  padding-bottom: 10px;
}

.mx-1 {
  margin-right: 0.25rem !important;
}

.mt-n15 {
  margin-top: -15px;
}

.rounded-50 {
  border-radius: 50px;
}

.bg-navy {
  background: #303F9F;
}

.ml-n20 {
  margin-left: -20px;
}

.ml-n10 {
  margin-left: -10px;
}

.p-25 {
  padding: 25px;
}

.mg-y-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ht-100p {
  height: 100%;
}

/* md Date range Picker css */
.md-drppicker .btn.btn-default {
  margin-right: 1rem;
}

.mr-n20 {
  margin-right: -20px;
}

.pd-l-15 {
  padding-left: 15px;
}

.SystemActive {
  background-color: #e3e7eD !important;
  color: black !important;
}

.tx-color-grey {
  color: #8392a5 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.py-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ngx-spinner {
  top: 10px !important;
  left: 97% !important;
  color: #071155 !important;
}




@media screen and (max-width: 600px) {
  .btnLight {
    width: 80px;
    min-height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C0CCDA;
    border-radius: 5px;
  }

  .btnPrimary {
    width: 80px;
    min-height: 38px;
    background: #303F9F;
    border-radius: 4px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .btnLightAdd {
    width: 100px;
    min-height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C0CCDA;
    border-radius: 5px;
  }
}




@media screen and (max-width: 392px) {
  .btnLight {
    width: 80px;
    min-height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C0CCDA;
    border-radius: 5px;
  }

  .btnPrimary {
    width: 80px;
    min-height: 38px;
    background: #303F9F;
    border-radius: 4px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
  }

  .btnLightAdd {
    width: 100px;
    min-height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C0CCDA;
    border-radius: 5px;
  }
}



.gredientBorder {
  background: linear-gradient(to right, #F10875 25%, #00CCCC 25%, #00CCCC 50%, #FFC20A 50%, #FFC20A 75%, #0168FA 75%) right bottom no-repeat;
  /* position: absolute; */
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.wd-200 {
  width: 200px !important;
}

.md-drppicker .btn {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #303F9F !important;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF !important;
}

.md-drppicker .btn.btn-default {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #E7EDF4 !important;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #8392A5 !important;
}

.md-drppicker td.active {
  background: #303F9F !important;
}

.filter-apply-btn,
.filter-apply-btn:hover {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #303F9F;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.filter-reset-btn,
.filter-reset-btn:hover {
  padding: 10px 20px;
  width: 100px;
  height: 38px;
  background: #E7EDF4;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #8392A5;
}

.rounded {
  border-radius: 0.25rem !important;
}

.tx-MasterCard {
  color: #FFC20A !important;
}

.text-18 {
  font-size: 18px;
}

.color-pink {
  color: #DF3375;
}

.plus-icon {
  color: #10B759 !important;
}

.plus-btn {
  border-right: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.minus-btn {
  border-left: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.minus-btn:focus {
  box-shadow: 0 0 0 1px #DC3545 !important;
}

.plus-btn:focus {
  box-shadow: 0 0 0 1px #10B759 !important;
}

.minus-icon {
  color: #DC3545 !important;
}

.search-icon {
  color: #3B4863 !important;
  margin: -8px !important;
}

.icon-black {
  color: #3B4863 !important;
}

.small-icon {
  height: 18px !important;
  width: 18px !important;
}

.wd-40 {
  width: 40px;
}

.ht-40 {
  height: 40px;
}

.bd-2 {
  border-width: 2px !important;
}

.active-border {
  border-color: #20ab68 !important;
}

.inactive-border {
  border-color: #fda61c !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}

.positionfix {
  /* background: transparent;
   position: fixed;
   width: 78%;
    z-index: 10; justify-content: space-between; */
  position: absolute;
  width: 1121px;
  height: 80px;
  left: 276px;
  margin-top: 65.61px;

  background: transparent;
}

.containerBox {
  margin-top: 70px;
}

.inboxContainer {
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.tx-bolder {
  font-weight: 900;
}

.tx-bold {
  font-weight: 700;
}

.tx-semibold {
  font-weight: 600;
}

.tx-medium {
  font-weight: 500;
}

.tx-normal {
  font-weight: 400;
}

.tx-spacing--1 {
  letter-spacing: -0.5px;
}

.tx-spacing--2 {
  letter-spacing: -1px;
}

.tx-uppercase {
  text-transform: uppercase;
}

.tx-lowercase {
  text-transform: lowercase;
}

.tx-14 {
  font-size: 14px;
}

.mg-r-5 {
  margin-right: 5px;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.ngx-pagination .current {
  background: #1068FA !important;
}

.xsm-icon {
  width: 16px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: #FFFFFF !important;
  background: #0168FA !important;
  border: 1px solid #0168FA;
  border-radius: 4px;
}

.mt-10 {
  margin-top: 10px !important;
}

.tx-12 {
  font-size: 12px;
}

.tx-13 {
  font-size: 13px;
}

.tx-10 {
  font-size: 10px;
}

.fw-500 {
  font-weight: 500;
}

.tx-20 {
  font-size: 20px;
}

.tx-9 {
  font-size: 9px;
}

.pd-l-15 {
  padding-left: 15px !important;
}

.mg-b-0 {
  margin-bottom: 0px !important;
}

.pd-25 {
  padding: 25px;
}

.mg-t-25 {
  margin-top: 45px !important;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.pac-container {
  z-index: 100000;
}

.mg-t-15 {
  margin-top: 15px !important;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.wd-150 {
  width: 150px;
}


/* styles for a custom dropdown starts here */

.custom_select_wrapper{
  width: 100%;
  position: relative;
}


.custom_select_wrapper .custom_select_search{
  width: 100%;
  border-radius: 4px !important;
  height: 48px !important;
  position: relative;
  cursor: pointer;
}

.custom_select_wrapper .custom_select_search:focus-within{
 /* border: 1px solid rgba(0, 0, 0, 0.175); */
 color: #212529;
 background-color: #fff;
 border-color: #86b7fe !important;
 outline: 0;
 box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.custom_select_wrapper .custom_select_search .custom_select_input{
  height: 100%;
  width: 100%;
  border: 1px solid #8392A5;
  padding-left: .75rem;
  border-radius: 4px !important;
}

.custom_select_wrapper .custom_select_search .custom_select_input:focus{
  border: none;
  outline: none;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger{
  position: absolute;
  top: 30%;
  right: 2%;
  padding: .25rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  isolation: isolate;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger .icon_trigger{
  transition: transform 250ms ease-in-out;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger .icon_trigger.whine{
  transform: rotate(180deg);
}

.custom_select_wrapper .custom_select_search .dropDown_trigger::before{
  content: '';
  position: absolute;
  border: 1px solid #e9ecef;
  z-index: -1;
  background: #e9ecef;
  inset: -.35rem;
  border-radius: 50%;
  display: none;
}

.custom_select_wrapper .custom_select_search .dropDown_trigger:hover::before{
  display: block;
}

.custom_select_wrapper .custom_select_dropDown{
 width: 100%;
 max-height: 0px;
 opacity: 0;
 transition: opacity 250ms ease-in-out 250ms, max-height 250ms ease-in-out;
 overflow: hidden;
 position: absolute;
 top: 3.05rem;
 left: 0px;
 right: 0px;
 z-index: 1;
 border-radius: 3px;
 background-color: white;
 border: 1px solid #8392A5;
 border-top:1px solid #86b7fe;
 list-style-type: none;
 padding-left: 0px;
}

.custom_select_wrapper .custom_select_dropDown .an_item{
  padding-block: 1rem;
  padding-inline: .75rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.custom_select_wrapper .custom_select_dropDown .an_item .search_icon{
  position: absolute;
  left: 1.2rem;
  top: 1.45rem;
}

.custom_select_wrapper .custom_select_dropDown .an_item:not(:first-child):hover{
  cursor: pointer;
  background-color: #f5faff;
}

.custom_select_wrapper .custom_select_dropDown .an_item .search_field{
  width: 100%;
  border: 1px solid #86b7fe;
  padding-left: 1.65rem;
  border-radius: 4px !important;
}


.custom_select_wrapper .custom_select_dropDown .an_item .search_field::placeholder{
  padding-left: 1rem !important;
}

.custom_select_wrapper .custom_select_dropDown.show{
opacity: 1;
max-height: 240px;
}

.custom_select_wrapper .custom_select_dropDown .an_item .rotate_icon{
  transform: rotate(-90deg);
}

.modal-body{
  height: auto;
}

.modal-body ul.modal_view{
  position: unset !important;
  top: unset !important;
  border: none !important;
  padding-bottom: 3px !important;
  margin-bottom: 0 !important;
  min-height: 240px;
  max-height: 20rem !important;
}

.modal-body ul.modal_view .an_item:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.modal-body ul.modal_view .an_item:last-child:hover{
  background-color: white !important;
}

#Form_RewardCustomer_Content2 .modal-header{
  background: #E6EDF5;
}

.modal-body ul.modal_view li.an_item:nth-of-type(n+2):nth-of-type(n){
  border-bottom: .01ch solid rgba(192, 204, 218, 0.25);
}

.modal-body ul.modal_view li.an_item .btnPrimary{
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10rem;
}

.modal-body ul.modal_view li.an_item:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  border: none !important;
}


.choose_images mat-dialog-container{
  padding: 0px;
  background-color: white;
}

.cdk-overlay-container{
  z-index: 10000;
}

/* ends here */
