<div id="categories">
  <div class="d-flex justify-content-between mt-3 mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/overview']">Overview</a>
        </li>

        <li class="breadcrumb-item" aria-current="page">Categories</li>
      </ol>
    </nav>

    <a mat-button
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>

  <div class="categories-body">
    <div class="popular-questions-head d-flex justify-content-between">
      <h6 class="page-title">All Categories(78)</h6>
      <div class="btn btn-primary" (click)="openDialog('create', null)">
        Add New
      </div>
    </div>
    <div class="border-line"></div>

    <app-reusables-filter></app-reusables-filter>
    <div class="categories-body-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <mat-checkbox>Select All</mat-checkbox>
        <div>
          <button class="expand-button">Expand All</button>
        </div>
      </div>

      <table class="table accordion">
        <thead>
          <tr>
            <th></th>
            <th>Icons</th>
            <th>Category</th>
            <th>Product</th>
            <th>Last Update</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let tableRow of categoriesData">
          <tr data-bs-toggle="collapse" data-bs-target="#r2">
            <td>
              <mat-checkbox></mat-checkbox>
            </td>
      
            <td>
              <div class="table-img">
                <img src="assets/icons/about.svg" alt="" />
              </div>
            </td>
            <td class="d-flex">
              <i-feather
                class="text-primary small-icon text-bold"
                name="chevron-down"
              ></i-feather>
              <div class="text-primary">
                {{ tableRow.name }}<br />
                <small>4 Sub-categories</small>
              </div>
            </td>
            <td class="text-primary">{{ tableRow.totalProduct || "--"  }}</td>
            <td>
              {{ tableRow.modifiedBy || "--" }} <br />
              <small class="text-muted">{{ tableRow.updateDate | date : "shortDate" || "--" }}</small>
            </td>
            <td>
              {{ tableRow.createdDate | date : "shortDate" }} <br />
              <small class="text-muted">{{ tableRow.createdBy || "--" }}</small>
            </td>
            <td>
              <div class="d-flex">
                <span>
                  <div class="dropdown">
                    <i-feather
                      class="text-primary small-icon text-bold"
                      name="more-vertical"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></i-feather>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <a class="dropdown-item" (click)="openDialog('update', tableRow)"
                          >Edit</a
                        >
                      </li>
      
                      <li>
                        <a class="dropdown-item" href="#">Delete</a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
            </td>
          </tr>
      
          <tr class="collapse accordion-collapse" id="r2" data-bs-parent=".table">
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
      
          <tr class="collapse accordion-collapse" id="r2" data-bs-parent=".table">
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
        </tbody>
      </table>

      <!-- <ng-container *ngIf="categoriesData">
        <app-reusables-table [tableData]="categoriesData">
          <ng-template #headers>
            <th></th>
            <th>Icons</th>
            <th>Category</th>
            <th>Product</th>
            <th>Last Update</th>
            <th>Created</th>
            <th>Actions</th>
          </ng-template>

          <ng-template #rows let-tableRow>
            <td>
              <mat-checkbox></mat-checkbox>
            </td>

            <td>
              <div class="table-img">
                <img src="assets/icons/about.svg" alt="" />
              </div>
            </td>
            <td>
              {{ tableRow.name }}<br />
              <small>4 Sub-categories</small>
            </td>
            <td class="text-primary">{{ tableRow.totalProduct || "--" }}</td>
            <td>
              {{ tableRow.modifiedBy || "--" }} <br />
              <small class="text-muted">{{
                tableRow.updateDate | date : "shortDate" || "--"
              }}</small>
            </td>
            <td>
              {{ tableRow.createdDate | date : "shortDate" }} <br />
              <small class="text-muted">{{ tableRow.createdBy || "--" }}</small>
            </td>
            <td>
              <div class="d-flex">
                <span>
                  <div class="dropdown">
                    <i-feather
                      class="text-primary small-icon text-bold"
                      name="more-vertical"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></i-feather>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          (click)="openDialog('update', tableRow)"
                          >Edit</a
                        >
                      </li>

                      <li>
                        <a class="dropdown-item" href="#">Delete</a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
            </td>
          </ng-template>
        </app-reusables-table>
      </ng-container> -->
    </div>
  </div>
</div>


