<div class="d-flex justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" style="text-decoration: none;">Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Settings - Taxes
            </li>
        </ol>
    </nav>
    <a mat-button (click)="openDialog()" style="cursor: pointer;">
        <i data-feather="alert-circle" class="alert-circle"></i>
        <span class="px-2" style="color: #0d6efd">
            Page Tips
        </span>
    </a>
</div>

<div class="card mb-5 ">


    <div class="card-header">
        <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
                <span class="tx-semibold mg-t-10">All Taxes
                    <span class="text-muted tx-normal">(5)</span></span>
                <button class="btn  btn-primary target" data-bs-toggle="modal" data-bs-target="#addModal"> Add New
                </button>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="d-sm-flex ">
            <input type="checkbox" id="selectall" name="selectall" value="Bike">
            <label for="selectall" class="selectall"> Select All</label>
        </div>
    </div>



    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead>

                <tr>

                    <th class="text-center">
                    </th>
                    <th class="tx-normal">
                        Tax Name
                    </th>

                    <th class="tx-normal">
                        Rate
                    </th>
                    <th class="tx-normal">
                        Products Assigned
                    </th>
                    <th class="tx-normal">
                        Location
                    </th>

                    <th class="tx-normal">
                        Actions
                    </th>

                </tr>

            </thead>

            <tbody>

                <tr class="cursor-pointer" *ngFor="let tax of (taxes$ | async)">
                    <td class="text-center"><input type="checkbox" name="" id=""></td>
                    <td>
                        <div> {{tax?.taxName}} </div>
                    </td>
                    <td>
                        <div class="">  {{tax?.rate }} % </div>
                    </td>
                    <td>
                        <div>
                            {{tax.numberOfProducts}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{tax?.locationName?.join(' ')}}
                        </div>
                    </td>
                    <td>
                        <div>
                            <a href="" class="text-decoration-none" data-bs-toggle="modal"
                                data-bs-target="#productModal">
                                Assign Products
                            </a>
                            <button class="btn top-btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>:</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li (click)="editTax(tax)">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addModal">
                                        <i data-feather="file"></i> &nbsp;
                                        Edit 
                                    </a>
                                </li>
                                <li (click)="currentTaxToBeEdit = tax.taxId">
                                    <a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#categoryModal"> 
                                    <i data-feather="grid"></i> &nbsp;
                                        Apply To Category
                                    </a>
                                </li>
                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#productModal">
                                    <i data-feather="save"></i> &nbsp;
                                        Mark As Default
                                    </a>
                                </li>
                                <li (click)="deleteATax(tax)">
                                    <a class="dropdown-item">
                                        <i data-feather="trash-2" class="text-danger"></i> &nbsp;
                                        Delete
                                    </a>
                                </li>
    
                            </ul>
                        </div>
                    </td>
            
                </tr>
            </tbody>
        </table>
    </div>


</div>



<!-- Add Taxes Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-head-label" id="">Create New Tax</h5>
                <button type="button" class="btn-close dismissBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- [formGroup]="Form_AddTax" -->
                <form  role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Tax Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon2">VAT</span>
                                        <input [(ngModel)]="createATax.name"  type="text" placeholder="Tax Name" name="TaxName" minlength="1"
                                            maxlength="100" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Rate % <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input 
                                    [(ngModel)]="createATax.rate" 
                                     type="number" placeholder="Tax Name" min="1" max="20" name="TaxRate" minlength="1"
                                        maxlength="10" class="form-control">
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Tax On Product </label>
                                <select [(ngModel)]="createATax.taxOnProduct" name="taxOnProduc" class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option [value]="str" *ngFor="let str of convertTaxesOnProductToArray()">
                                        {{str + ' tax in Product'}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>All Locations </label>
                                <select [(ngModel)]="createATax.locationsName" name="location"  class="form-select" required>
                                    
                                    <option value="" selected>Choose one</option>
                                    <option [value]="location.id" *ngFor="let location of (storeLocations$ | async)">{{ location.city }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addTax($event)">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Taxes Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Edit Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- [formGroup]="Form_EditTax" -->
                <form (ngSubmit)="Form_EditTax_Process(Form_EditTax.value)" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Tax Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon2">VAT</span>
                                        <input type="text" placeholder="Tax Name" name="TaxName" minlength="1"
                                            maxlength="100" class="form-control"
                                            onkeypress="return /[a-z]/i.test(event.key)">
                                    </div>
                                </div>

                               

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-13 ">Rate % <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="number" placeholder="Tax Name" name="TaxRate" minlength="1"
                                        maxlength="100" class="form-control">
                                </div>

                               
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>Tax On Product </label>
                                <select class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option [value]="str" *ngFor="let str of convertTaxesOnProductToArray()">
                                        {{str + 'tax in Product'}}
                                    </option>
                                 
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mg-b-0">
                                <label>All Locations </label>
                                <select class="form-select" required>
                                    <option value="" selected>Choose one</option>
                                    <option value="" *ngFor="let location of locationsOfAMerchant">{{ location }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" >Save</button>
            </div>
        </div>
    </div>
</div>




<!-- Assign Catogory  Modal-->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="  tx-semibold" id="">Assign Tax To Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body prod">
                <label for="">All Categories</label>
                <div class="controls">
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="list_of_products" >
                    <div *ngFor="let category of (categories$ | async); index as i">
                        <input (input)="addToSelectedCat($event)" [value]="category.categoryId" type="checkbox" id="categoryall" name="categoryall">
                        <label for="categoryall" class="categoryall"> {{category?.name}}</label>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeCategoryModal" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="applyTax($event)">Apply Tax</button>
            </div>
        </div>
    </div>
</div>
<!-- Assign Products  Modal-->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class=" tx-bold " id="">Assign Tax To Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="">All Products</label>
                <div class="controls">
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> Coco Cola</label>
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> Ring Silver Cola</label>
                </div>
                <div>
                    <input type="checkbox" id="categoryall" name="categoryall" value="Bike">
                    <label for="categoryall" class="categoryall"> Pressure Cooker</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>