<main class="table_parent mt-3">
    <app-reusables-filter></app-reusables-filter>
    <app-reusables-table [tableData]="tableData">

        <ng-template #headers>
            <th>Display Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
        </ng-template>
    
        <ng-template #rows let-tableRow>
            <td>{{tableRow.DisplayName}}</td>
            <td> {{tableRow.ContactNumber}} </td>
            <td> {{tableRow.EmailAddress}}</td>
    
        </ng-template>
    </app-reusables-table>
</main>