
.notification_wrapper{
    --general-font-family: 'Roboto Medium';
    --light-font-family: 'Roboto Light';
    --block-padding: 1rem;
    --inline-padding: .75rem;

    height: 100%;
    width: 100%;
    font-family: var(--general-font-family);
    color: black;


    & .header{
        padding-block: var(--block-padding);
        padding-inline: calc(var(--inline-padding) * 2);
        border-bottom: 1px solid var(--contentText-color);
    }

    & .content{
        margin: calc(var(--block-padding) * 2.75) 1px;
        padding-inline: calc(var(--inline-padding) * 2);;
        display: flex;
        align-items: center;
        gap: var(--block-padding);

        & .icon_content {
            flex-basis: 15%;
            & .big{
                height: calc(var(--block-padding) * 3.85);
                width: calc(var(--block-padding) * 3.85);
            }
        }

        & .text_content{
            font-family: var(--light-font-family);
            white-space: normal;
            line-height: 1.25;
            font-size: calc(var(--block-padding) * 1.05);
        }
    }

    & .footer{
        display: flex;
        justify-content: flex-end;
        padding-inline: var(--inline-padding);
        border-top: 1px solid var(--contentText-color);
        padding-block: var(--block-padding);


        & button{
            background-color: var(--contentText-color) !important;
            border: 1px solid var(--contentText-color) !important;
            font-family: var(--light-font-family);
            padding-inline: calc(var(--inline-padding) * 2);
            text-transform:capitalize;
        }
    }
}