<div class="notification_wrapper">
    <div class="header">
        {{data.headerText}}
    </div>
    <div class="content">
        <div class="icon_content"><i-feather name="check-square" class="big"></i-feather></div>
        <div class="text_content">
            {{data.contentText}}
        </div>
    </div>
    <div class="footer">
        <button mat-button mat-dialog-close  class="btn btn-secondary">
            {{data.buttonText}}
        </button>
    </div>
</div>