<div id="credit-notes">
  <div class=" d-flex justify-content-between mt-3 mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/overview']">Overview</a></li>
        <li class="breadcrumb-item" aria-current="page">Return - Credit Notes</li>
      </ol>
    </nav>

    <a mat-button (click)="openDialog()"
      ><i-feather name="info" class="small-icon"></i-feather>
      <span class="px-2" style="color: #0d6efd">Page Tips</span></a
    >
  </div>



  <div class="credit-notes-body">
    <h6 class="page-title">Credit Notes History</h6>
    <div class="border-line"></div>

    <div class="cards-container">
      <app-reusables-cards
        [data]="{
          featherIconNames: 'file-text',
          countHeadingText: 'Issued Credit Notes',
          countValue: creditNotes.issuedCreditNotes,
          backgroundColors: ['bg-primary']
        }"
      ></app-reusables-cards>

      <app-reusables-cards
        [data]="{
          featherIconNames: 'dollar-sign',
          countHeadingText: 'Total Credited Amount',
          countValue: creditNotes.totalCreditedAmount,
          backgroundColors: ['bg-success']
        }"
      ></app-reusables-cards>
    </div>

    <app-reusables-filter></app-reusables-filter>

    <ng-container *ngIf="creditNotes">
      <app-reusables-table [tableData]="creditNotes?.creditNotes">
        <ng-template #headers>
          <th>Credit Note</th>
          <th>Issued Date</th>
          <th>Invoice</th>
          <th>Customer</th>
          <th>Credited Amount</th>
          <th>Refunded Credits</th>
          <th>Available Credits</th>
        </ng-template>
        <ng-template #rows let-tableRow (click)="rowSelected(tableRow)">
          <td>
            {{ tableRow?.creditNoteNumber }}
            <br />
            <p class="refund" *ngIf="tableRow.status == 'Claimed'">{{ tableRow?.status }}</p>
            <p class="success" *ngIf="tableRow.status == 'Unclaimed'">{{ tableRow?.status }}</p>
          </td>
          <td>
            {{ tableRow?.issueDate}}
            <br />
            <small class="text-muted">1:00PM</small>
          </td>
          <td>
            {{ tableRow.invoiceNumber }} <br />
            <small>
              <a class="text-primary text-small text-decoration-none" href="return/credit-notes/credit-note-details"
                >View Details
                <i-feather name="chevron-right" class="small-icon"></i-feather>
              </a>
            </small>
          </td>
          <td>
            {{ tableRow?.customerMobile }} <br>
            <small class="text-muted">{{ tableRow?.customerName }}</small>
          </td>
          <td>{{ tableRow?.creditedAmount }}</td>
          <td>{{ tableRow.refundedCredit }}</td>
          <td>{{ tableRow.availableCredit }}</td>
        </ng-template>
      </app-reusables-table>
    </ng-container>

   
  </div>
</div>
