#credit-notes {
    .page-title {
        background-color: white;
        padding: 1.125rem 1rem;
        margin-bottom: 0rem;
        font-weight: 700;
        font-size: 19px;
      
    }
    .border-line {
    width: 100%;
    height: 0px;
    border: 0.8px solid #C0CCDA;
  }
    
    .credit-notes-body {
        border: 1px solid #cbd5e0;
        background-color: white;

        h3 {
            padding: 1.25rem;
            font-weight: 700;
        }

        .cards-container {
            padding: 1.25rem;
            display: flex;
            gap: 1rem ;

            .img-text {
                display: flex;
                gap: 1rem;

                .texts {

                }
            }
        }
    }

    .refund {
        padding: 0.125rem;
        background: #f7d1d2;
        color: #cc2529;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }

    .success {
        padding: 0.125rem;
        background: #c6f5db;
        color: #10B759;
        font-size: 0.6rem;
        margin-bottom: 0rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: 700;
    }
}